<tr>
	<td colspan=2 class="day">
		<div style="margin: 0px; padding: 0px; text-align: center;" >
			<span class="alert-danger" style="background-color: transparent; font-weight:bold;">
				<% raw(t) %>
				<%#<span class="glyphicon glyphicon-resize-vertical"></span>%>
			</span>
		</div>
	</td>
</tr>
