<div class="calendar-content" id="calendar-weekly-content">
  <div class="flex-container" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: auto;">
    <div class="calendar-inner" style="width: 100%; overflow: hidden;">
      <div class="flex-container">
        <div class="time-block-flex top">
          <div class="weekly-time">
            <span class="weekly-time-span">
                GMT<%= Time.zone.formatted_offset[0..2] %>
            </span>
          </div>
        </div>
        <% (0..6).each do |count| %>
          <div class="weekly-outer-header">
              <div class="weekly-date unselectable">
                <span class="date">
                  <%= (@date + count.days).strftime("%d") %>
                </span>
                <span class="day">
                  <%= (@date + count.days).strftime("%a") %>
                </span>
              </div>
          </div>
        <% end %>
      </div>
      <div class="flex-container" style="height: 100%">
        <% date = @date %>
        <%= calendar_weekly_time_block date do %>
        <% end %>
        <div class="weekly-block-flex" id="wbf">
          <div class="flex-container" style="width: 100%; height: 1285px;">
            <% (0..6).each do %>
              <% wss = WorkoutSession.where(:date => date.beginning_of_day..date.end_of_day).reorder(date: :asc) %>

              <%= calendar_weekly_events_block do %>
                <%= calendar_weekly_horiz_grid date do %>
                <% end %>
                <%= calendar_weekly_day date, current_user, wss do %>
                <% end %>
              <% end %>
              <% date += 1.days %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<span id="ghost" style="position: absolute; visibility: hidden; display: none; top: 0; left: 0; width: 0; height: 0;">
</span>
