<div class="calendar-content" id="calendar-monthly-content" style="height: 100%; overflow: hidden;">
  <div class="flex-container" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: auto;">
    <div class="calendar-inner" style="width: 100%; overflow: hidden;">
      <div class="flex-container" style="height: 31px;">
        <% (0..6).each do |day| %>
          <div class="date-flex unselectable">
            <%= Date::DAYNAMES[day][0] %>
          </div>
        <% end %>
      </div>

      <div class="weekly-block-flex" style="display: inline-block; border-left: 1px solid lightgray; height: 93%; width: 100%; overflow: auto;">
        <% (0..5).each do |row| %>

          <div class="flex-container monthly-container" style="width: 100%;">
            <% (0..6).each do |day| %>
              <div class="dow-flex">
                <div class="book-modal-div2 unselectable">
                  <span class="glyphicon glyphicon-plus book-modal-span"></span>
                  <span class="book-modal-text">
                    BOOK
                  </span>
                </div>
                <div class="col-date unselectable">
                <%= day %>
                </div>

                <div class="col-content">
                </div>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
