<div class="col-md-8 col-md-offset-2" style="padding-bottom: 15px;">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "General", (edit_business_path @business) %></li>
    <li role="presentation" class="active"><%= link_to "Sessions", (business_edit_sessions_path @business) %></li>
  </ul>

  <div class="well bg-white" style="padding-bottom: 15px;">
    <%= simple_form_for(@business) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :session_type, as: :hidden, input_html: { value: @business.get_session_type } %>
      </div>

      <p>
        Pick the type of sessions you wish to allow:
      </p>

      <div style="display: flex; margin-bottom: 50px;">
        <div style="flex: 0 0 350px;">
          <button class="btn btn-emph" onclick="setChoice(this, 0); return false;">
            <h5 class="emph f-c"> Private Sessions </h5>
            <ul style="list-style-type: none; padding-left: 0; text-align: left;">
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Book one or more clients individually
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Clients can book themselves
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Can allow friends to join their private session at extra cost
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Clients can pick a trainer, or use an assigned trainer
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Clients book available trainer times only
              </li>
            </ul>
            <i class="fa fa-columns btn-icon" aria-hidden="true"></i>
            <span class="btn-text">  </span>
          </button>
        </div>
        <div style="flex: 0 0 5px;">
        </div>
        <div style="flex: 0 0 350px;">
          <button class="btn btn-emph" onclick="setChoice(this, 1); return false;">
            <h5 class="emph f-c"> Group Sessions </h5>
            <ul style="list-style-type: none; padding-left: 0; text-align: left;">
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Book class times as a one-time or on a weekly basis
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Open to all, or only allow certain clients to join
              </li>
              <li>
                <i class="fa fa-check" aria-hidden="true"></i>
                Get notified when a client joins
              </li>
            </ul>
            </br>
            </br>
            <i class="fa fa-columns btn-icon" aria-hidden="true"></i>
            <span class="btn-text">  </span>
          </button>
        </div>
      </div>

      <div class="form-actions" style="">
        <%= f.submit "Update", class: "btn btn-warning", style: "max-width: 250px;" %>
      </div>

    <% end %>
  </div>
</div>

<script>
  var selector = document.getElementById("business_session_type");

  var session_type = "<%= @business.get_session_type %>".split("");

  function init() {
    var elements = document.getElementsByClassName("btn-emph");

    for (var i = 0; i < elements.length; i++) {
      if (session_type[i] == "1") {
        console.log("true");
        elements[i].classList.add("active");
      }
    }
  }

  function setChoice(element, index) {
    if (element.classList.contains("active")) {
      session_type[index] = "0";
      element.classList.remove("active")
    } else {
      session_type[index] = "1";
      element.classList.add("active")
    }

    selector.value = session_type.join("");
  }

  init();
</script>
