
<% if current_user.admin? %>
	<div class="modal fade" id="edit-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit</h4>
			</div>

			<%= simple_form_for(@workout_session, :class => "addWorkoutForm") do |f| %>
				<div class="modal-body">
					<%= render 'shared/error_messages', object: f.object %>
					<table width = "100%">
						<% if @workout_session.eventtype == 0 %>
							<tr>
								<%= f.text_field :title, label: false, :placeholder => "Title	- i.e. Appointment with Jim H.", class: 'form-control' %>
							</tr>
						<% end %>
						<tr>
								<%= f.text_field :location, label: false, :placeholder => "Location - i.e @ SFU", class: 'form-control' %>
						</tr>
						<tr>
							<td>
							<%= f.input :date, as: :string, label: "From", input_html: { id: "datetimepicker_start4", value: @workout_session.date.strftime('%m-%d-%Y %I')} %>
							</td>
							<td>
								<%= f.input :bfr_from, :label => "Before buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
							</td>
						</tr>
						<tr>
							<td>
								<%= f.input :duration, as: :string, label: "To", input_html: { id: "datetimepicker_end4", value: @workout_session.duration.strftime('%m-%d-%Y %I')} %>
							</td>
							<td >
								<%= f.input :bfr_to, :label => "After buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
							</td>
						</tr>
						<% if @workout_session.eventtype == 1 %>
							<tr>
								<td colspan=2>
									<%= f.collection_select :clients, User.all, :id, :name, {include_hidden: false, selected: (assigned_clients @workout_session)}, { multiple: true, class: 'userselect2', style: "width: 100%; height: 100%;"} %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>

				<div class="modal-footer">
					<%= f.hidden_field :eventtype, :value => 1 %>
					<%= f.submit "Add session", class: "btn btn-primary" %>
				</div>
			<% end %>

			</div>
		</div>
	</div>
<% end %>
