<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id, label: "Owner", disabled: !@business.view_as_employee?(current_user) %>
    <%= f.input :name, label: "Business Name" %>
    <%= f.input :slug, label: "Link URL (i.e. myfitness)" %>
    <%= f.input :email, label: "E-Mail" %>
    <%= f.input :description %>
    <%= f.input :phonenumber, label: "Phone number" %>
    <%= f.input :phonenumber, label: "Phone number" %>
    <%= f.input :address, label: "Address (Unit, street, city, postal code, province, country)" %>
    <%= f.input :color, label: "Main color (RGB or HEX)" %>
    <label> Business logo </label>
    <%= f.file_field :avatar %>
    <%= f.input :website_url, label: "Website URL" %>
    <%= f.input :fb_url, label: "Facebook URL" %>
    <%= f.input :instagram_url, label: "Instagram URL" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Update", class: "btn btn-warning", style: "max-width: 250px;" %>
  </div>


<% end %>

</br>
<%= image_tag @business.avatar.url if @business.avatar.url %>
