<div class="col-md-8 col-md-offset-2" style="padding-bottom: 15px;">
  <ul class="nav nav-tabs">
  	<li role="presentation" class="active"><%= link_to "General", (edit_business_path @business) %></li>
  	<li role="presentation"><%= link_to "Sessions", (business_edit_sessions_path @business) %></li>
  </ul>

  <div class="well bg-white" style="padding-bottom: 15px;">
    <%= render 'edit_form', business: @business %>
  </div>
</div>
