<%= simple_form_for([@business, @workout_session], :class => "addWorkoutForm") do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<section class="event_time">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons"></span>
				<label class="label_plain">From</label>
			</div>

			<div class="form-inline event_from">
					<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_createevent_start", value: @date.strftime('%m-%d-%Y %I') } %>
					<%= f.input :bfr_from, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>

			<div>
				<label class="label_plain">To</label>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, label: false, input_html: { id: "datetimepicker_createevent_end", value: (@date + 1.hour).strftime('%m-%d-%Y %I') } %>
				<%= f.input :bfr_to, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>
		</div>
	</section>

	<section class="event_repeat">

		<a href="#" id="toggle_repeat">Repeat weekly..</a>

		<div class="event_repeat_toggle repeat_on " id="event_repeat_toggle" style="padding: 10px 10px 0px 10px;">
			<div class="row">
				<div class="col-md-3" style="text-align: right;">
					<label class="label_plain">Repeat on</label>
				</div>
				<div class="col-md-9">
					<div class="form-inline">
						<% Date::ABBR_DAYNAMES.each do |day| %>
							<%= f.label "repeat_on_#{ day.downcase }", style: "margin-right:5px;" do %>
								<%= f.check_box :repeat_on, { multiple: true, class: "check_days"}, day, false %> </br>
								<%= day %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3" style="text-align: right;">
					<label class="label_plain" style="padding-top: 10px;">Ends</label>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<%= f.label :repeattype_never, style: "padding-top: 10px;" do %>
								<%= f.radio_button :repeattype, "never", label: false, value: "-1", style: "width: auto;"  %>
								Never
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<%= f.label :repeattype_on, style: "padding-top: 10px;" do %>
								<%= f.radio_button :repeattype, "on", label: false, value: "0", checked: true, style: "width: auto;"  %>
								On
								<%= f.input :until, :label => false, as: :string, input_html: { id: "datepicker_createevent_until", value: @date.strftime('%m/%d/%Y')} %>
							<% end %>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="event_title">
		<span class="glyphicon glyphicon-flag event-icons"></span>
		<label class="label_plain">What</label>
		<%= f.input :title, label: false, :placeholder => "Enter a title.." %>
	</section>

	<section class="event_location">
		<span class="glyphicon glyphicon-map-marker event-icons"></span>
		<label class="label_plain">Where</label>
		<%= f.input :location, label: false, :placeholder => "Enter a location.." %>
	</section>

	<section class="event_memo">
		<div>
			<span class="glyphicon glyphicon-comment event-icons"></span>
			<label class="label_plain">Message</label>
		</div>

		<%= f.input :memo, label: false, as: :text, autofocus: true, :placeholder => "Write a message...", :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
	</section>

	<div class="modal-footer">
		<div style="width:200px; float: right;">
			<%= f.hidden_field :eventtype, :value => WorkoutSession.event %>
			<%= f.submit "Book", class: "btn btn-info" %>
		</div>
	</div>
<% end %>

<script>
	$('#datetimepicker_createevent_start').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datetimepicker_createevent_end').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datepicker_createevent_until').datetimepicker({
		format: "MM/DD/YYYY"
	});

	$("#datetimepicker_createevent_start").on("dp.change", function (e) {
			var date = e.date.clone();
			date.add(1, 'hours');
			$('#datepicker_createevent_until').data("DateTimePicker").minDate(e.date);
			$('#datepicker_createevent_until').data("DateTimePicker").date(date);

			$('#datetimepicker_createevent_end').data("DateTimePicker").minDate(e.date);
			$('#datetimepicker_createevent_end').data("DateTimePicker").date(date);
		});

	$("#event_repeat_toggle").hide();
  $("a#toggle_repeat").click(function(event){
    event.preventDefault();
    $("#event_repeat_toggle").toggle();

		$('.check_event_days').prop("checked", false);
  });
</script>
