<tr class="alert">
  <td class="daysettings">
    <div class="dropdown" id="print">
      <button style=" border: none; background: none; margin-left:0px; padding-left:2px;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-cog event-cog" aria-hidden="true"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% if false %>
      <li><a href="#" class="edit_event" id="<%= event.id %>">Edit..</a></li>
      <li><a href="#">Edit series..</a></li>
      <li class="divider", id: "headertext" ></li>
      <% end %>
      <li>
        <%= link_to reminders_add_path(event), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
          Add reminder
        <% end %>
      </li>
      <li class="divider", id: "headertext" ></li>
      <li><%= link_to "Remove", business_workout_session_path(@business.slug, event), method: :delete,
              data: { confirm: "Remove session?" } %></li>
      <li><%= link_to "Remove following sessions", business_workout_sessions_removefollowing_path(@business.slug, event), method: :patch,
              data: { confirm: "Remove following sessions?" } %></li>
      <li><%= link_to "Remove all sessions", business_workout_sessions_removeall_path(@business.slug, event), method: :patch,
              data: { confirm: "Remove all sessions?" } %></li>
      </ul>
    </div>
  </td>
  <td class="day alert">
    <%= overflow do %>
      <% status = "unchecked" %>
      <% id = "upcoming" %>

      <% case event.status %>
        <% when 0 %>
          <% if Time.zone.now > event.date %>
            <% status = "ok"; id="success" %>
          <% end %>
        <% when 1 %>
          <% status = "share-alt"; id="rescheduled" %>
        <% when 2 %>
          <% status = "remove"; id="cancelled" %>
        <% when 3 %>
          <% status = "time"; id="noshow" %>
      <% end %>

      <% if event.status == 1 || event.status == 2 %>
        <%= raw("<strike>") %>
      <% end %>

      <%= link_to business_workout_sessions_view_path(@business.slug, event), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>
        <span style="font-weight:bold;">
            <%= raw(event_time_for event) %>&ensp;
        </span>

        <small> <%= get_buffer(event) %> </small>

        <span class="alert alert-event">
          <%= (event.title.empty? ? "(no title)" : event.title) if event.title%>
        </span>
      <% end %>

      <% if event.status == 1 || event.status == 2 %>
        <%= raw("</strike>") %>
      <% end %>

      <% if event.group %>
        <span class="glyphicon glyphicon-repeat repeat-glyph-instance"></span>
      <% end %>
    <% end %>
  </td>
</tr>
