<% if false %>
<tr class="alert alert-warning">
  <td class="day alert alert-warning">
    <%= overflow do %>
      <% status = "unchecked" %>
      <% id = "upcoming" %>

      <% case event.status %>
        <% when 0 %>
          <% if Time.zone.now > event.date %>
            <% status = "ok"; id="success" %>
          <% end %>
        <% when 1 %>
          <% status = "share-alt"; id="rescheduled" %>
        <% when 2 %>
          <% status = "remove"; id="cancelled" %>
        <% when 3 %>
          <% status = "time"; id="noshow" %>
      <% end %>

      <% if event.status == 1 || event.status == 2 %>
        <%= raw("<strike>") %>
      <% end %>

      <%= link_to business_workout_sessions_view_path(@business.slug, event), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>
        <span style="font-weight:bold;">
            <%= raw(event_time_for event) %>&ensp;
        </span>
        <%= event.title.empty? ? "(no title)" : event.title %>
      <% end %>

      <% if event.status == 1 || event.status == 2 %>
        <%= raw("</strike>") %>
      <% end %>

      <% if event.memo %>
        <span class="glyphicon glyphicon-leaf" style="margin: 0px; padding: 0px;"></span>
      <% end %>
    <% end %>
  </td>
</tr>
<% end %>
