<%= simple_form_for(@business_new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :email %>
    <%= f.input :description %>
    <%= f.input :phonenumber %>
    <%= f.input :address %>
    <%= f.input :website_url %>
    <%= f.input :fb_url %>
    <%= f.input :instagram_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
