<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div style="width: 100%; text-align: center;">
      <%= link_to @date.strftime("%B %Y").upcase, @business, class: "dspl-month" %>
    </div>
  </div>

  <div class="col-md-3 sm-tbl-datepicker-col">
    <%= simple_form_for [@business, WorkoutSession.new] do |f| %>
      <%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker1", value: @date.strftime("%m/%Y"), style: "color: #FFA07A;" } %>
    <% end %>
  </div>
</div>
<table class="sm-tbl-sched">
  <tr>
    <td class="sm-tbl-sched-book">
      <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#session_modal">
        <span class="glyphicon glyphicon-plus btn-icon"></span>
        <span class="none btn-text">BOOK</span>
      </button>
    </td>
    <td>
      <%= link_to business_path(@business, date: (@date - 1.month).strftime("%Y-%m")), class: "btn btn-default btn-lg" do %>
        <i class="glyphicon glyphicon-chevron-left btn-icon"></i>
      <% end %>
    </td>
    <td>
      <%= link_to business_path(@business, date: (@date + 1.month).strftime("%Y-%m")), class: "btn btn-default btn-lg" do %>
        <span class="glyphicon glyphicon-chevron-right btn-icon"></span>
      <% end %>
    </td>
  </tr>
</table>

<div class="modal fade" id="session_modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#workout">Session</a></li>
        <% if @business.view_as_employee?(current_user) %>
          <li><a data-toggle="tab" href="#reminder">Reminder</a></li>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" style="margin-right: 5px; margin-top: 5px;">&times;</button>
      </ul>

      <div class="tab-content">
        <div id="workout" class="tab-pane fade in active">
          <% if @business.view_as_employee?(current_user) %>
            <%= render 'workout_modal_admin' %>
          <% else %>
            <%= render 'workout_modal_client' %>
          <% end %>
        </div>
        <% if @business.view_as_employee?(current_user) %>
          <div id="reminder" class="tab-pane fade">
            <%= render 'reminder_modal' %>
          </div>
        <% end %>
      </div>

		</div>
	</div>
</div>



<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker({
      viewMode: 'months',
      format: 'MM/YYYY',
      sideBySide: true,
      stepping: 15
    });
  $("#datetimepicker1").on("dp.change", function (e) {
    var month = e.date.month() + 1;
    var year = e.date.year();

    window.location.replace("/<%= @business.id %>/?date=" + year + "-" + month);
  })
  });

  <% if current_user.admin %>
  	$('#new_workout_session').submit(function(){
  		var count = $('.userselect2 option:selected').length;
  		if( count < 1 ) {
  			if (confirm('Session with no clients?')) {
  			} else {
  					return false;
  			}
  		}
  	});
  <% end %>
</script>
