<tr>
	<td colspan=2 class="day">
		<div style="margin: 0px; padding: 0px; text-align: center;" >
			<span class="alert-success i_open_client_time">
				<%= raw(t) %>
			</span>
		</div>
	</td>
</tr>
