<div class="modal-body">
	<%= simple_form_for [@business, @reminder] do |f| %>
		<div class="form-inputs">
			<%= f.input :date, as: :string, :label => false, input_html: { id: "datepicker_createreminder", value: Time.zone.now.strftime('%m/%d/%Y')} %>
			<%= f.input :title, label: false, placeholder: "Enter a title...", value: "" %>
			<%= f.text_area :memo, :label => false, :placeholder => "Enter a description...", :id => "memotext" %>
		</div>
</div>

<div class="modal-footer">
		<%= f.button :submit %>
	<% end %>
</div>

<script>
	$('#datepicker_createreminder').datetimepicker({
		sideBySide: true,
		stepping: 15
	});
</script>
