<% row_class = current_user.partakes_in?(groupworkout) ? "alert-success" : "alert-info" %>
<tr class="alert <%= row_class %>">
  <td class="daysettings_client">
    <%= raw(workout_status(groupworkout, @reschedules)) %>
  </td>
  <td class="day_client">
    <%= overflow do %>
      <%= raw("<strike>") if groupworkout.status == 1 || groupworkout.status == 2 %>

      <%= link_to business_workout_sessions_view_path(@business.slug, groupworkout, date.strftime("%m/%d/%Y")), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>
        <b style="font-size:1.2em;"> <%= raw(event_time_for groupworkout) %></b>

        </br>

        <% if groupworkout.title.present? %>
           <%= groupworkout.title %> </br>
        <% end %>

        <small> GROUP WORKOUT </small>

        </br>

      <%= raw("</strike>") if groupworkout.status == 1 || groupworkout.status == 2 %>
    <% end %>
  <% end %>
  </td>
</tr>
