<tr>
  <td class="daysettings" style=" <%= "border-left: 3px #fea410 solid;" if !groupworkout.memo.blank? %> ">
    <div class="dropdown">
      <button style=" border: none; background: none; padding-left:2px; padding-right:2px; " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= raw(repeat_groupworkout_status(groupworkout, date)) %>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <%= link_to reminders_add_path(groupworkout), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
          Add reminder
        <% end %>
        </li>
        <li class="divider", id: "headertext" ></li>
      <% if groupworkout.status != WorkoutSession::STATUS["draft"] %>
        <% unless groupworkout.status == WorkoutSession::STATUS["ok"] %>
          <% lbl = (Date.today > groupworkout.date) ? "Success" : "Upcoming" %>
          <li>
          <%= link_to lbl, business_workout_sessions_success_path(@business.id, groupworkout), method: :patch %>
          </li>
        <% end %>

        <% unless groupworkout.status == WorkoutSession::STATUS["cancel"] %>
          <li>	<!-- Cancel -->
            <%= link_to "Cancel", business_workout_sessions_cancel_path(@business.slug, groupworkout), method: :patch %>
          </li>
        <% end %>
      <% end %>
        <li class="divider", id: "headertext" ></li>
        <li><%= link_to "Remove this session", business_workout_sessions_remove_path(@business.slug, groupworkout, date.strftime("%m/%d/%Y")), method: :patch,
                data: { confirm: "Remove session?" } %></li>
        <li><%= link_to "Remove following sessions", business_workout_sessions_removefollowing_path(@business.slug, groupworkout, date.strftime("%m/%d/%Y")), method: :patch,
                data: { confirm: "Remove following sessions?" } %></li>
        <li><%= link_to "Remove all sessions", business_workout_sessions_removeall_path(@business.slug, groupworkout), method: :patch,
                data: { confirm: "Remove all sessions?" } %></li>
      </ul>
    </div>
  </td>
  <td class="day <%= groupworkout.group_id %> day_groupworkout">
    <%= overflow do %>
      <% if groupworkout.status == 1 || groupworkout.status == 2 %>
        <%= raw("<strike>") %>
      <% end %>


      <%= link_to business_workout_sessions_view_path(@business.slug, groupworkout, date.strftime("%m/%d/%Y")), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>

        <span class="schedule_event_time"> <%= raw(event_time_for groupworkout) %> </span>

        <small> <%= get_buffer(groupworkout) %> </small>

        <%= groupworkout.title.present? ? groupworkout.title : "Group Workout" %>
        </br>

        <% if groupworkout.user_workouts.empty? %>
          <span class="alert alert-default"> (no clients) </span>
        <% else %>
          <% comma = "" %>

            <% user_workouts = groupworkout.user_workouts %>

            <% user_workouts.each do |uw| %>
              <%= comma %>
                <% if @rescheduled %>
                  <% user_status = "" %>
                <% elsif !uw.paid && uw.cost && uw.cost > 0 %>
                  <% user_status = "alert alert-warning" %>
                <% elsif uw.paid && uw.cost %>
                  <% user_status ="alert alert-success" %>
                <% else %>
                  <% user_status ="alert alert-info" %>
                <% end %>

                <span class=" <%= user_status %> ">
                  <%= uw.user.name(upcase: true) %>
                </span>
              <% comma = "," %>
            <% end %>
        <% end %>
      <% end %>

      <% if groupworkout.status == 1 || groupworkout.status == 2 %>
        <%= raw("</strike>") %>
      <% end %>

      <% if groupworkout.group %>
        <span class="glyphicon glyphicon-repeat repeat-glyph-recurring"></span>
      <% end %>
    <% end %>
  </td>
</tr>
