<div class="row">
<% @invoices.where(processed: true).where(:date => Time.zone.now.beginning_of_month - 1.month..Time.zone.now.end_of_month).reorder(date: :asc).group_by{ |i| i.date.beginning_of_month}.each do |month_date, invoices| %>
		<div class="col-md-6">
				<table class="table table-condensed table-striped table-responsive tbl-fnt shdw sortable">
					 <thead>
						 <tr <%= raw('style="border-left: 3px solid #FFA07A;"') if month_date == Time.zone.now.beginning_of_month.to_date %>>
							<th style="text-align:center; width: 10%;">Settled</th>
							<th><span class="glyphicon glyphicon-user"></span></th>
							<th>SESSIONS</th>
							<th>COST</th>
							<th>PAID</th>
							<th>BALANCE</th>
							<th style="text-align: center;">OPTIONS</th>
						</tr>
					</thead>

					<tbody>
						<% invoices.each do |invoice| %>
							<% current_cost = invoice.user_workouts.includes(:workout_session).where("workout_sessions.status" => [0,3]).sum(:cost).to_f / 100 %>

							<% if !invoice.processed %>
								<% processed = "alert-info" %>
							<% elsif current_cost != invoice.amount %>
								<% processed = nil %>
							<% else %>
								<% processed = "alert-success" %>
							<% end %>

							<tr class="<%=processed%>" style="color: black">
								<td><%= invoice.id %></td>
								<td>
									<%= link_to user_billing_for(invoice.user) do %>
										<%= invoice.user.name.upcase %>
									<% end %>
								</td>

								<% this_sessions = get_invoice_workout_count(invoice) %>
								<% @monthly_sessions += this_sessions %>
								<td><%= this_sessions %></td>

								<% if invoice.processed %>
									<% this_amount = invoice.amount %>
									<% @monthly_cost += this_amount %>
									<td><%= number_to_currency(this_amount, :unit => "$") %></td>
								<% else %>
									<% this_monthly_cost = get_current_amount(invoice) %>
									<% @monthly_cost += this_monthly_cost %>
									<td><%= number_to_currency(this_monthly_cost, :unit => "$") %></td>
								<% end %>

								<% this_paid = invoice.payments.sum(:amount) %>
								<% @monthly_paid = this_paid %>
								<td><%= number_to_currency(this_paid, :unit => "$") %></td>

								<% this_difference = invoice.payments.sum(:amount) - invoice.amount %>
								<% @monthly_difference = this_difference %>
								<td><%= number_to_currency(this_difference, :unit => "$") %></td>

								<td style="text-align: center;">
									<%= link_to business_invoice_path(:business_id => @business.slug, :id => invoice.id), :class => "btn btn-default btn-sm" do %>
										<span class="glyphicon glyphicon-zoom-in" style="color:#FFA07A"></span> View
									<% end %>
									&ensp;
								</td>
							</tr>
						<% end %>

						<tr style="font-size: smaller; padding-top: 5px; padding-bottom: 5px;">
							<td colspan=1></td>
							<td>  </td>
							<td> <%= @monthly_sessions %> </td>
							<td> <%= number_to_currency(@monthly_cost, :unit => "$") %> </td>

							<td> <%= number_to_currency(@monthly_paid, :unit => "$") %> </td>

							<td> <%= number_to_currency(@monthly_difference, :unit => "$") %> </td>

							<td style="text-align: center">
								<% if @user.nil? && @invoices.where(:date => invoices.first.date.beginning_of_month..invoices.first.date.end_of_month, :processed => false).count > 0 %>
									<%= link_to invoices_settle_month_path(:id => invoices.first.id), :class => "btn btn-default btn-sm", method: :patch do %>
										<span style="color:#FFA07A; font-weight: bold;">Settle Month</span>
									<% end %>
								<% end %>
							</td>
						<% reset_monthly() %>


					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<% @invoices_not_processed = @invoices.where(:date => month_date.beginning_of_month..month_date.end_of_month, :processed => false) %>

				<% if @invoices_not_processed.first %>
					<table class="table table-condensed tbl-fnt shdw">
						<% @invoices_not_processed.group_by{ |i| i.date.beginning_of_month}.each do |month_date, invoices| %>
						 <thead>
							 <tr <%= raw('style="border-left: 3px solid #FFA07A;"') if month_date == Time.zone.now.beginning_of_month.to_date %>>
								<th style="text-align: center;">Open</th>
								<th><span class="glyphicon glyphicon-user"></span></th>
								<th>SESSIONS</th>
								<th>COST</th>
								<th>PAID</th>
								<th>BALANCE</th>
								<th style="text-align: center;">OPTIONS</th>
							</tr>
						</thead>

						<tbody>
							<% invoices.each do |invoice| %>
								<% current_cost = invoice.user_workouts.includes(:workout_session).where("workout_sessions.status" => [0,3]).sum(:cost).to_f / 100 %>

								<% if !invoice.processed %>
									<% processed = "alert-info" %>
								<% elsif current_cost != invoice.amount %>
									<% processed = nil %>
								<% else %>
									<% processed = "alert-success" %>
								<% end %>

								<tr class="bg-warning">
									<td><%= invoice.id %></td>
									<td>
										<%= link_to user_billing_for(invoice.user) do %>
											<%= invoice.user.name.upcase %>
										<% end %>
									</td>

									<% this_sessions = get_invoice_workout_count(invoice) %>
									<% @monthly_sessions += this_sessions %>
									<td><%= this_sessions %></td>

									<% if invoice.processed %>
										<% this_amount = invoice.amount %>
										<% @monthly_cost += this_amount %>
										<td><%= number_to_currency(this_amount, :unit => "$") %></td>
									<% else %>
										<% this_monthly_cost = get_current_amount(invoice) %>
										<% @monthly_cost += this_monthly_cost %>
										<td><%= number_to_currency(this_monthly_cost, :unit => "$") %></td>
									<% end %>

									<% this_paid = invoice.payments.sum(:amount) %>
									<% @monthly_paid = this_paid %>
									<td><%= number_to_currency(this_paid, :unit => "$") %></td>

									<% this_difference = invoice.payments.sum(:amount) - invoice.amount %>
									<% @monthly_difference = this_difference %>
									<td><%= number_to_currency(this_difference, :unit => "$") %></td>

									<td style="text-align: center;">
										<%= link_to business_invoice_path(:business_id => @business.slug, :id => invoice.id), :class => "btn btn-default btn-sm" do %>
											<span class="glyphicon glyphicon-zoom-in" style="color:#FFA07A"></span> View
										<% end %>
										&ensp;
									</td>
								</tr>
							<% end %>

							<tr style="font-size: smaller">
								<td colspan=1></td>
								<td>  </td>
								<td> <%= @monthly_sessions %> </td>
								<td> <%= number_to_currency(@monthly_cost, :unit => "$") %> </td>

								<td> <%= number_to_currency(@monthly_paid, :unit => "$") %> </td>

								<td> <%= number_to_currency(@monthly_difference, :unit => "$") %> </td>

								<td style="text-align: center">
									<% if @user.nil? && @invoices.where(:date => invoices.first.date.beginning_of_month..invoices.first.date.end_of_month, :processed => false).count > 0 %>
										<%= link_to invoices_settle_month_path(:id => invoices.first.id), :class => "btn btn-default btn-sm", method: :patch do %>
											<span style="color:#FFA07A; font-weight: bold;">Settle Month</span>
										<% end %>
									<% end %>
								</td>
							</tr>
							<% reset_monthly() %>

							<% end %>
						</tbody>
					</table>
				<% else %>
					<div style="text-align: center; width: 100%;">
						</br></br></br>
						<small> No unpaid invoices </small>
					</div>
				<% end %>

		</div>

<% end %>
</div>
