
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content bg-transparent white-font no-shadow">
      <div class="modal-header no-border">
        <%= link_to business_url(@business), :id => "logo_main" do %>
           <span class="embedded-login-logo-1">F!TRACK</span>
           <span class="embedded-login-logo-2">ULAR. </span>
           </br>

         <% end %>
        <button type="button" class="close white-font" data-dismiss="modal" style="font-size: 2.5em; margin-top: -15px;">&times;</button>

      </div>
      <div class="modal-body" style="font-size: 16px;">
        <h1 style="text-shadow: 1px 2px 20px <%= business_color_css(@business) %>"> <%= @business.name %> </h1>

        <h4 style="padding-bottom: 20px; text-align: center; color: white;"> Find your perfect time to train! </h4>
        <hr>


        <% @start_date = Time.zone.now.beginning_of_day %>
        <% @end_date = @start_date + 2.weeks %>
        <% @workout_sessions = WorkoutSession.where(:business_id => @business, :date => @start_date..@end_date, :eventtype => WorkoutSession.groupworkout).includes(:reminders, user_workouts: [ user: [:profile]]) %>
        <% @repeating_events = WorkoutSession.where(:business_id => @business, :eventtype => WorkoutSession.recurring_groupworkout).where("workout_sessions.date < ?", @end_date).includes(:reminders, user_workouts: [ user: [:profile]]) %>
        <% date = @start_date %>
        <% while @end_date > date %>

          <% events = @workout_sessions.where(:date => current_date(date)) %>
          <% events = events.or(@repeating_events.where("workout_sessions.date < ?", date.end_of_day).where("EXTRACT(DOW FROM (workout_sessions.date - interval '7 hours')) = #{ date.wday }").where.not(:group_id => events.pluck(:group_id))) %>
          <% events = events.joins("LEFT JOIN groups ON workout_sessions.group_id = groups.id").joins("LEFT JOIN group_exceptions ON groups.id = group_exceptions.group_id").where("workout_sessions.group_id IS NULL OR groups.repeat_until > '#{ date }' OR groups.repeat_until IS NULL", date).where("group_exceptions.date <> '#{ date }' OR group_exceptions.date IS NULL").sort_by { |event| event.date.strftime("%H:%M")} %>



          <% unless events.empty? %>
            <div>
              <div style="display: inline-block; color: <%= business_color_css(@business) %>; width: 35px;">
                <%= date.strftime("%a") %>
              </div>
              <div style="display: inline-block;">
                <%= date.strftime("%-d %B") %>
              </div>
            </div>
            <% events.each do |event| %>
              <div style="padding-bottom: 20px; padding-top: 20px; margin-left: 35px;">
                <% if current_user && current_user.partakes_in?(event) %>
                  <%= link_to "Cancel", business_cancel_groupsession_url(@business.slug, event.id, format: "js"), remote: true, "data-with-credentials" => true, class: "btn btn-danger btn-sm", style: "background-color: transparent; border-width: 2px; float: right; margin-top: 0px;" %>
                <% else %>
                  <%= link_to "Book", business_book_groupsession_url(@business.slug, event.id, date.strftime("%m/%d/%Y"), format: "js"), remote: true, "data-with-credentials" => true, class: "btn btn-primary btn-sm", style: "background-color: transparent; border-width: 2px; float: right; margin-top: 0px;" %>
                <% end %>

                <div>
                  <div style="display: inline-block; width: 70px;">
                    <%= event.date.strftime(" %l:%M%P") %>
                  </div>
                  <div style="display: inline-block;">
                    <span>&mdash;</span>
                    <%= event.title || "Test" %> -
                    <%= event.eventtype %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if date.end_of_day == date.end_of_week.end_of_day %>
            <hr>
          <% end %>

          <% date += 1.day %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
