<h2>
	<%= link_to raw(@arrow_left + @arrow_left), schedule_path + '?week=' + (@week + -1).to_s %>
	<%= link_to (Date.today + (7*@week) -1).strftime("%A, %d %B %Y"), schedule_path %>
	<%= link_to raw(@arrow_right + @arrow_right), schedule_path + '?week=' + (@week + 1).to_s %>
</h2>

<div class="row seven-cols">
	<% (-4..2).each do |i| %>
		<%= render 'schedules/day_display', object: Date.today+i+week %>	
	<% end %>
 </div>