<tr class="alert alert-warning">
  <td class="daysettings_client">
    <%= raw(workout_status(workout, @reschedules)) %>
    <%= "</br> <span class='glyphicon glyphicon-envelope' style='color: #FFA07A;'></span>".html_safe if workout.memo.present? %>
  </td>
  <td class="day_client">
    <%= overflow do %>
      <%= raw("<strike>") if workout.status == 1 || workout.status == 2 %>

      <%= link_to business_workout_sessions_view_path(@business.slug, workout), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>
        <b style="font-size:1.2em;"> <%= raw(event_time_for workout) %></b>

        </br>

        <small>WORKOUT APPOINTMENT</small>

        </br>
        <% if workout.user_workouts.empty? %>
          (no clients)
        <% else %>
          <% comma = "" %>

          <% user_workouts = workout.user_workouts %>

          <% user_workouts.each do |uw| %>

            <%= comma %>

            <% if false && uw.user == current_user %>
              <% if @rescheduled %>
                <% user_status = "" %>
              <% elsif !uw.paid && uw.cost && uw.cost > 0 %>
                <% user_status = "alert alert-warning" %>
              <% elsif uw.paid && uw.cost %>
                <% user_status ="alert alert-success" %>
              <% else %>
                <% user_status ="alert alert-info" %>
              <% end %>
            <% else %>
              <% user_status = "" %>
            <% end %>

            <span class=" <%= user_status %> ">
              <%= uw.user.name(upcase: true) %>
            </span>

            <% comma = "," %>

          <% end %>
        <% end %>

      <%= raw("</strike>") if workout.status == 1 || workout.status == 2 %>
    <% end %>
  <% end %>
  </td>
</tr>
