<%= simple_form_for([@business, @workout_session], :class => "addWorkoutForm") do |f| %>
	<%= render 'shared/error_messages', object: f.object %>


	<section class="event_time">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons"></span>
				<label class="label_plain">From</label>
			</div>

			<div class="form-inline event_from">
					<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_createworkout_start", value: @date.strftime('%m-%d-%Y %I') } %>
			</div>

			<div>
				<label class="label_plain">To</label>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, disabled: true, label: false, input_html: { id: "datetimepicker_createworkout_end", value: nil } %>
			</div>
		</div>
	</section>

	<section class="event_repeat">

		<a href="#" id="toggle_repeat">Repeat weekly..</a>

		<div class="workout-repeat-toggle repeat_on " id="workout_repeat_toggle" style="padding: 10px 10px 0px 10px;">
			<div class="row">
				<div class="col-md-3" style="text-align: right;">
					<label class="label_plain">Repeat on</label>
				</div>
				<div class="col-md-9">
					<div class="form-inline">
						<% Date::ABBR_DAYNAMES.each do |day| %>
							<%= f.label "repeat_on_#{ day.downcase }", style: "margin-right:5px;" do %>
								<%= f.check_box :repeat_on, { multiple: true, class: "check_days"}, day, false %> </br>
								<%= day %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3" style="text-align: right;">
					<label class="label_plain" style="padding-top: 10px;">Ends</label>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<%= f.label :repeattype_on, style: "padding-top: 10px;" do %>
								<%= f.radio_button :repeattype, "on", label: false, value: "0", checked: true, style: "width: auto;"  %>
								On
								<%= f.input :until, :label => false, as: :string, input_html: { id: "datepicker_createworkout_until", value: @date.strftime('%m/%d/%Y')} %>
							<% end %>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="event_location">
		<span class="glyphicon glyphicon-map-marker event-icons"></span>
		<label class="label_plain">Where</label>
		<%= f.input :location, label: false, :placeholder => "Enter a location.." %>
	</section>

	<section class="event_clients_client">
		<div>
			<span class="glyphicon glyphicon-user event-icons"></span>
			<label class="label_plain">Who</label>
		</div>
			<%= f.collection_select :clients, (get_friends_for_client current_user), :id, :name, {include_hidden: false}, { value: nil, multiple: true, class: 'userselect_friends', style: "width: 100%"} %>
		</section>

	<div class="modal-footer">
		<div style="width:200px; float: right;">
			<%= f.hidden_field :eventtype, :value => WorkoutSession.workout %>
			<%= f.submit "Request", class: "btn btn-info" %>
		</div>
	</div>
<% end %>

<script>
	$('.userselect2').select2({
			placeholder: "Select clients..",
			initSelection: function(element, callback) {},
			closeOnSelect: false,
			allowClear: true
		});

	$('#datetimepicker_createworkout_start').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datetimepicker_createworkout_end').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datepicker_createworkout_until').datetimepicker({
		format: "MM/DD/YYYY"
	});

	$("#datetimepicker_createworkout_start").on("dp.change", function (e) {
			var date = e.date.clone();
			date.add(1, 'hours');
			$('#datepicker_createworkout_until').data("DateTimePicker").minDate(e.date);
			$('#datepicker_createworkout_until').data("DateTimePicker").date(date);

			$('#datetimepicker_createworkout_end').data("DateTimePicker").minDate(e.date);
			$('#datetimepicker_createworkout_end').data("DateTimePicker").date(date);
		});

	$("#workout_repeat_toggle").hide();
  $("a#toggle_repeat").click(function(event){
    event.preventDefault();
    $("#workout_repeat_toggle").toggle();

		$('.check_days_create').prop("checked", false);
  });
</script>
