<tr class="alert">
  <td class="daysettings" style=" <%= "border-left: 3px #fea410 solid;" if !workout.memo.blank? %> ">
    <div class="dropdown" id="print">
      <button style=" border: none; background: none; padding-left:2px; padding-right:2px; " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= raw(workout_status(workout, @reschedules)) %>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <%= link_to reminders_add_path(workout), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
          Add reminder
        <% end %>
        </li>
        <li class="divider", id: "headertext" ></li>
      <% if workout.status != WorkoutSession::STATUS["draft"] %>
        <% unless workout.status == WorkoutSession::STATUS["ok"] %>
          <% lbl = (Date.today > workout.date) ? "Success" : "Upcoming" %>
          <li>
          <%= link_to lbl, business_workout_sessions_success_path(@business.slug, workout), method: :patch %>
          </li>
        <% end %>

        <% unless workout.status == WorkoutSession::STATUS["noshow"] %>
          <li>	<!-- No show -->
            <%= link_to "No show", business_workout_sessions_noshow_path(@business.slug, workout), method: :patch %>
          </li>
        <% end %>

        <% unless workout.status == WorkoutSession::STATUS["cancel"] %>
          <li>	<!-- Cancel -->
            <%= link_to "Cancel", business_workout_sessions_cancel_path(@business.slug, workout), method: :patch %>
          </li>
        <% end %>
      <% else %>
        <% unless workout.status == WorkoutSession::STATUS["ok"] %>
          <li>
            <%= link_to "Approve", business_workout_sessions_approve_path(@business.slug, workout), method: :patch %>
          </li>
          <li>
            <%= link_to "Approve up to", business_workout_sessions_approveupto_path(@business.slug, workout), method: :patch %>
          </li>
          <li>
            <%= link_to "Approve following", business_workout_sessions_approveallfollowing_path(@business.slug, workout), method: :patch %>
          </li>
          <li>
            <%= link_to "Approve all this month", business_workout_sessions_approveallthismonth_path(@business.slug, workout), method: :patch %>
          </li>
        <% end %>
      <% end %>
        <li class="divider", id: "headertext" ></li>
        <li><%= link_to "Remove", business_workout_session_path(@business.slug, workout), method: :delete,
                data: { confirm: "Remove session?" } %></li>
        <li><%= link_to "Remove following sessions", business_workout_sessions_removefollowing_path(@business.slug, workout), method: :patch,
                data: { confirm: "Remove following sessions?" } %></li>
        <li><%= link_to "Remove all sessions", business_workout_sessions_removeall_path(@business.slug, workout), method: :patch,
                data: { confirm: "Remove all sessions?" } %></li>
      </ul>
    </div>
  </td>
  <td class="day <%= workout.group_id %>">
    <%= overflow do %>
      <% if workout.status == 1 || workout.status == 2 %>
        <%= raw("<strike>") %>
      <% end %>

      <%= link_to business_workout_sessions_view_path(@business.slug, workout), remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>

        <b> <%= raw(event_time_for workout) %></b>

        <small> <%= get_buffer(workout) %> </small>

        <% if workout.user_workouts.empty? %>
          (no clients)
        <% else %>
          <% comma = "" %>

            <% user_workouts = workout.user_workouts %>

            <% user_workouts.each do |uw| %>
              <%= comma %>
                <% if @rescheduled %>
                  <% user_status = "" %>
                <% elsif !uw.paid && uw.cost && uw.cost > 0 %>
                  <% user_status = "alert alert-warning" %>
                <% elsif uw.paid && uw.cost %>
                  <% user_status ="alert alert-success" %>
                <% else %>
                  <% user_status ="alert alert-info" %>
                <% end %>

                <span class=" <%= user_status %> ">
                  <%# uw.user.name(upcase: true) %>
                  <%= uw.user.shortname %>
                </span>
              <% comma = "," %>
            <% end %>
        <% end %>
      <% end %>

      <% if workout.status == 1 || workout.status == 2 %>
        <%= raw("</strike>") %>
      <% end %>

      <% if workout.group %>
        <span class="glyphicon glyphicon-repeat repeat-glyph-instance"></span>
      <% end %>
    <% end %>

  </td>
</tr>
