<%= simple_form_for([@business, @workout_session], :class => "addWorkoutForm") do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<section class="event_time">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons event-icon-padding"></span>
			</div>

			<div class="form-inline event_from">
					<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_createworkout_start", value: @date.strftime('%m-%d-%Y %I') } %>
					<%= f.input :bfr_from, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>

			<div>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, label: false, input_html: { id: "datetimepicker_createworkout_end", value: (@date + 1.hour).strftime('%m-%d-%Y %I') } %>
				<%= f.input :bfr_to, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>
		</div>
	</section>

	<section class="event_repeat">
		<span class="glyphicon glyphicon-repeat event-icons"></span>
		<a href="#" id="toggle_repeat">Repeat weekly..</a>

		<div class="workout-repeat-toggle repeat_on " id="workout_repeat_toggle" style="padding: 10px 10px 0px 10px;">
			<div class="row">
				<div class="col-md-12">
					<div class="form-inline">
						<% Date::ABBR_DAYNAMES.each do |day| %>
							<%= f.label "repeat_on_#{ day.downcase }", style: "margin-right:5px;" do %>
								<%= f.check_box :repeat_on, { multiple: true, class: "check_days"}, day, false %> </br>
								<%= day %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row hidden" id="repeat_ends_never">
						<div class="col-md-12">
							<%= f.label :repeattype_never, style: "padding-top: 10px;" do %>
								<%= f.radio_button :repeattype, "never", label: false, value: "-1", style: "width: auto;"  %>
								Indefinitely
							<% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<%= f.label :repeattype_on, style: "padding-top: 10px;" do %>
								<%= f.radio_button :repeattype, "on", label: false, value: "0", checked: true, style: "width: auto;"  %>
								Ends on
								<%= f.input :until, :label => false, as: :string, input_html: { id: "datepicker_createworkout_until", value: @date.strftime('%m/%d/%Y')} %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="event_type">
		<div>
			<span class="glyphicon glyphicon-calendar event-icons event-icon-padding"></span>
		</div>
			<%= f.input :eventtype, label: false, :include_hidden => false, :include_blank => false, collection: bookable_collection, selected: 0 %>
	</section>

	<% klass = "hidden" if @business.allow_private_session? %>
	<section class="event_title <%= klass %>" id="event_title">
		<span class="glyphicon glyphicon-flag event-icons event-icon-padding"></span>
		<%= f.input :title, label: false, :placeholder => "Enter a title.." %>
	</section>

	<section class="event_location">
		<span class="glyphicon glyphicon-map-marker event-icons event-icon-padding"></span>
		<%= f.input :location, label: false, :placeholder => "Enter a location.." %>
	</section>

	<% klass = "" %>
	<% klass = "hidden" unless @business.allow_private_session? || @business.allow_group_session? %>
	<section class="event_clients_admin <%= klass %>" id="event_clients">
		<div>
			<span class="glyphicon glyphicon-user event-icons event-icon-padding"></span>
		</div>
			<%= f.collection_select :clients, User.all.includes(:profile, :user_workouts, :user_rates).reorder("profiles.firstname"), :id, :name, {include_hidden: false, class: "form-control"}, { multiple: true, class: 'userselect_clients', style: "width: 100%; height: 100%;"} %>
		</section>

	<section class="event_memo">
		<div>
			<span class="glyphicon glyphicon-comment event-icons event-icon-padding"></span>
		</div>

		<%= f.input :memo, label: false, as: :text, autofocus: true, :placeholder => "Write a memo..", :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
	</section>

	<div class="modal-footer">
		<div style="width:200px; float: right;">
			<%= f.submit "Book", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<script>
	$('#datetimepicker_createworkout_start').datetimepicker({
			sideBySide: true,
			stepping: 15
		});


	$('#datetimepicker_createworkout_end').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datepicker_createworkout_until').datetimepicker({
		format: "MM/DD/YYYY"
	});

	$("#datetimepicker_createworkout_start").on("dp.change", function (e) {
		var date = e.date.clone();
		date.add(1, 'hours');
		$('#datepicker_createworkout_until').data("DateTimePicker").minDate(e.date);
		$('#datepicker_createworkout_until').data("DateTimePicker").date(date);

		$('#datetimepicker_createworkout_end').data("DateTimePicker").minDate(e.date);
		$('#datetimepicker_createworkout_end').data("DateTimePicker").date(date);
	});

	$("#workout_repeat_toggle").hide();
  $("a#toggle_repeat").click(function(event){
    event.preventDefault();
    $("#workout_repeat_toggle").toggle();

		$('.check_days_create').prop("checked", false);
  });

	$('#workout_session_eventtype').on('change', function(e) {
		var val = document.getElementById("workout_session_eventtype").value

		if (val == <%= WorkoutSession.workout %>)
		{
			document.getElementById("event_title").classList.add("hidden");
			document.getElementById("repeat_ends_never").classList.add("hidden");
			document.getElementById("workout_session_repeattype_never").checked = false;
			document.getElementById("event_clients").classList.remove("hidden");
			$("#workout_session_clients").val([]).trigger('change');
		}

		if (val == <%= WorkoutSession.event %>)
		{
			document.getElementById("event_title").classList.remove("hidden");
			document.getElementById("repeat_ends_never").classList.remove("hidden");
			document.getElementById("event_clients").classList.add("hidden");
		}

		if (val == <%= WorkoutSession.groupworkout %>)
		{
			document.getElementById("event_title").classList.remove("hidden");
			document.getElementById("repeat_ends_never").classList.remove("hidden");
			document.getElementById("event_clients").classList.remove("hidden");
			$("#workout_session_clients").val([]).trigger('change');
		}
  });
</script>
