<style>
  body {
    overflow-y: hidden; min-height: 450px; min-width: 525px;
  }
</style>

<div id="loading" class="message-bar hidden">
  <%= image_tag("eclipse.svg", class: "loading", id: "loading-img") %>
  <i id="loading-ok" class="fa fa-check ok" aria-hidden="true"></i>
  <div id="loading-msg" class="load-msg load-ellipsis">
    Saving
  </div>
</div>

<div class="container-fluid" style="padding: 0px; background-color: transparent; height: calc(100% - 61px);">
  <div class="flex-container" style="height: 40px;">
    <div class="cal-menu-1">
      <% if @business.allow_private_session? || @business.view_as_employee?(current_user) %>
        <button type="button" style="margin-left: 10px;" class="btn btn-default" data-toggle="modal" data-target="#session_modal">
          <span class="glyphicon glyphicon-plus btn-icon"></span>
          <span class="none btn-text">Book</span>
        </button>
      <% end %>
    </div>
    <div class="cal-menu-2">
      <div id="date-header" class="dspl-month2 unselectable">
        <%= link_to @date.strftime("%B %Y").upcase, @business, class: "" %>
      </div>
    </div>

    <div class="cal-menu-3">
        <button class="btn btn-default sm-only" onclick="toggleSidebar();">
          <i class="fa fa-columns btn-icon" aria-hidden="true"></i>
          <span class="btn-text"> Info </span>
        </button>

        <button class="btn btn-default" onclick="toggleView();">
          <i class="far fa-calendar-alt btn-icon"></i>
          <span id="toggle-btn" class="btn-text"> Toggle </span>
        </button>

        <button class="btn btn-default" onclick="thisWeek();" style="position: relative; padding: 6px 10px 5px 10px;">
          <span class="fa-layers fa-fw">
            <i class="far fa-calendar btn-icon" style="font-size: 1.4em;"></i>
            <span class="fa-layers-text" data-fa-transform="shrink-8 down-3" style="font-weight:900; position: absolute; left: 12px; top: 9px; font-size: 12px;"><%= (Time.zone.now).strftime("%d") %></span>
          </span>
        </button>
        <button class="btn btn-default" onclick="prev();">
          <i class="glyphicon glyphicon-chevron-left btn-icon"></i>
        </button>
        <button class="btn btn-default" onclick="next();" style="margin-right: 10px;">
          <i class="glyphicon glyphicon-chevron-right btn-icon"></i>
        </button>
    </div>
  </div>

  <div class="flex-container cal-container">
    <div class="cal-side xhidden">
      <div class="cal-inner">
        <div class="mini-header">
          <div class="flex-container">
            <div class="mini-month">
              <span id="mini-month" class="btn-text mini-month-text unselectable"> MM / YYYY </span>
            </div>
            <div class="mini-arrow">
              <button class="btn btn-default btn-sm btn-mini" style="border-radius: 50% !important;" onclick="prevMini();">
                <span class="glyphicon glyphicon-chevron-left btn-icon"></span>
              </button>
            </div>
            <div class="mini-arrow">
              <button class="btn btn-default btn-sm btn-mini" style="border-radius: 50% !important;" onclick="nextMini();">
                <span class="glyphicon glyphicon-chevron-right btn-icon"></span>
              </button>
            </div>
          </div>
        </div>
        <div style="width: 100%;background-color: white; padding: 15px; border-top: 1px solid lightgray;">
            <% days = %w[S M T W T F S] %>
            <div class="flex-container">
              <% (0..6).each do |i| %>
                <div class="mini-date unselectable">
                  <%= days[i] %>
                </div>
              <% end %>
            </div>
            <% (0..6).each do |i| %>
            <div class="flex-container">

              <% (0..6).each do |j| %>
                <div class="mini-day">
                  <%= j %>
                </div>
              <% end %>

              </br>

            </div>
            <% end %>
        </div>
      </div>
      <div class="reminder">
        <% if @business.view_as_employee?(current_user) %>
          <h4 class="reminder-date unselectable"> Reminders </h4>
          <% reminders = current_user.upcoming_reminders_by_date_limited %>

          <% if reminders.any? %>
            <% reminders.each do |date, reminders| %>
              <h5 class="reminder-date"> <%= today_or_tomorrow date %> <%= date.strftime("%m/%-d/%y") %></h5>
              <% if date %>
                <ul class="reminder-ul">
                <% reminders.each do |reminder| %>
                  <li class="reminder-li">
                    <%= link_to reminders_view_path(reminder), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
                        <%= reminder.title %>
                      <div class="reminder-time">
                        <%= reminder.date.strftime("%l:%M%P") %>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <ul class="reminder-ul unselectable">
              <li class="reminder-li"> No reminders </li>
            </ul>
          <% end %>
        <% else %>
          <div>
    				<% next_sesh = current_user.next_session @business %>

            <h5 class="reminder-date unselectable"> Next session </h5>
            <li class="reminder-li">
              <% if next_sesh %>
                <%= link_to business_workout_sessions_view_path(@business.slug, next_sesh), style: "padding-right: 0px;", remote: true, 'data-toggle' => 'modal', 'data-target' => "#workout-sessions-view" do %>
                  <%= next_sesh.date.strftime("%l:%M%p %b %-d, %Y") %> <small> (<%= distance_of_time_in_words(Time.zone.now, next_sesh.date) %>) </small>
                <% end %>
              <% else %>
                No scheduled sessions.
              <% end %>
            </li>
          </div>

          </br>

          <div>
            <h5 class="reminder-date unselectable"> Workouts </h5>
            <% subscription = current_user.get_subscription(@business) %>
            <li class="reminder-li">
            <% if subscription && subscription.gdrive_url %>
              <%= link_to subscription.gdrive_url, target: "_blank", style: "padding-right: 0px;" do %>
                View Workouts <small> <%= subscription.gdrive_updated_at.strftime("(%b %-d - %l:%M%P)") if subscription.gdrive_updated_at %> </small>
              <% end %>
            <% else %>
              <span class="unselectable"> No workouts available </span>
            <% end %>
          </li>
        </div>
        <% end %>
      </div>
    </div>

    <div class="cal-main">
      <%= render 'calendar_weekly_content' %>
      <%= render 'calendar_monthly_content' %>
    </div>
  </div>
</div>

<script> // General class
  var canBook = <%= @business.allow_private_session? %>

  // 0 - Year, 1 - Month, 2 - Week
  var mode = <%= @mode %>;
  var mode_url = "<%= @mode_url %>";
  var user_type = "<%= user_type?(current_user) %>"
  var user_id = <%= current_user.id  %>;

  var refresh_interval = 10000;
  var regularEventsLength = 60;

  var inner_drag = "";
  var inner_diff = 0;

  var curr_date = moment('<%= (@date).strftime("%Y-%m-%d") %>');
  var mini_month = curr_date.clone();

  var week_length = 7;

  var mini_format = "D"; // for querying
  var header_format = "MMMM YYYY"; // for querying
  var ez_format = "YYYY / MM / D / HH:mm:ss"; // for testing
  var booking_format = "MM/DD/YYYY hh:mm A"
  var eventstart_format = "h:mma";
  var eventend_format = "h:mma";
  var date_format = 'D'; // Date of week (Mon, Tue, ...)
  var parse_format = "YYYY-MM-D"; // for querying
  var recurrence_format = "YYYY-MM-DD"

  var monthly_divs = document.getElementsByClassName("col-content");

  function thisWeek() {
    curr_date = moment();
    init();
  }

  function prevWeek() {
    curr_date.add(-7, 'days');
  }

  function nextWeek() {
    curr_date.add(7, 'days');
  }

  function prevMonth() {
    curr_date.add(-1, 'month');
  }

  function nextMonth() {
    curr_date.add(1, 'month');
  }

  function nextMini() {
    mini_month.add(1, 'month');
    displayMiniMonth(mini_month);
  }

  function prevMini() {
    mini_month.add(-1, 'month');
    displayMiniMonth(mini_month);
  }

  function next() {
    if (mode == 1) {
      nextMonth();
    } else if (mode == 2) {
      nextWeek();
    }

    init();
  }

  function prev() {
    if (mode == 1) {
      prevMonth();
    } else if (mode == 2) {
      prevWeek();
    }

    init();
  }

  function setDate(i) {
    mini_month.startOf("month").startOf("week").add(i, "days");
    curr_date = mini_month.clone();
    init();
  }

  function updateDateHeader() {
    document.getElementById("date-header").innerHTML = curr_date.format(header_format);
  }

  function setToggleText(text) {
    document.getElementById("toggle-btn").innerHTML = text;
  }

  function init() {
    if (mode == 1) {
      setToggleText("Weekly");
      replaceLinkHistory();
      restartMini();
      updateMonthlyDates();
      updateMonthly();
      queryMonthly(curr_date);

      document.getElementById('calendar-weekly-content').classList.add("hidden");
      document.getElementById('calendar-monthly-content').classList.remove("hidden");
    } else if (mode == 2) {
      setToggleText("Monthly");
      replaceLinkHistory();
      restartMini();
      clearEventsHash(); // should only run if it's a different month
      displayDatesCurrWeek();
      updateWeekly(false); // Draw initial, even if nothing
      queryWeekly(curr_date);

      document.getElementById('calendar-weekly-content').classList.remove("hidden");
      document.getElementById('calendar-monthly-content').classList.add("hidden");
    }

    //refresh();
  }

  // Change between modes
  function toggleView() {
    if (mode == 2) {
      mode = 1;
      mode_url = "m";
      init();

      var weeklyCal = document.getElementById("calendar-weekly-content");
      weeklyCal.classList.add("hidden");

      var monthlyCal = document.getElementById("calendar-monthly-content");
      monthlyCal.classList.remove("hidden");

      replaceLinkHistory();
    } else if (mode == 1) {
      mode = 2;
      mode_url = "w";
      init();

      var monthlyCal = document.getElementById("calendar-monthly-content");
      monthlyCal.classList.add("hidden");

      var weeklyCal = document.getElementById("calendar-weekly-content");
      weeklyCal.classList.remove("hidden");

      replaceLinkHistory();
    }
  }

  // Events

  var myEventsUrl = "<%= businesses_get_month_url(@business.slug) %>";
  var saveEventUrl = "<%= business_workout_sessions_url(@business.slug) %>";
  var viewEventUrl = "<%= business_workout_sessions_url(business_id: @business.slug) %>";

  var querying = {}; // check if a month is already queried

  var events_bucket = {}; // all the events already retrieved, put into month buckets

  var my_events_hash = {}; // the month(s) relevant to the current week merged into one hash
  var recurring_events = {};
  var date_exceptions = {};

  var eventtype = { event: 1, workout: 2, group: 3, group_recurring: -3, 1: "event", 2: "workout", 3: "group", '-3': "group_recurring" };

  function update() {
    if (mode == 1) {
      updateMonthly();
    } else if (mode == 2) {
      updateWeekly();
    }
  }

  function updateMonthly() {
    refreshMonthlyEventsHash();
    setMonthlyEvents();
    populateMonth();
  }

  function refreshMonthlyEventsHash() {
    var start = curr_date.clone().startOf('month').startOf('week');
    var curr = curr_date.clone();
    var end = curr_date.clone().endOf('month').endOf('week');

    var start_key = start.format(parse_format);
    var curr_key = curr.format(parse_format);
    var end_key =  end.format(parse_format);

    // For event deletion - need to implement new system
    //my_events_hash = {};

    var my_keys = [start_key, curr_key, end_key];

    for (var i = 0; i < my_keys.length; i++) {
      if (my_keys[i] in events_bucket) {
        my_events_hash = $.extend({}, events_bucket[my_keys[i]]["events"], my_events_hash);
      }
    }
  }

  function setMonthlyEvents() {
    replaceLinkHistory();
    curr_events = [];

    var keys = Object.keys(my_events_hash);
    var length_keys = Object.keys(my_events_hash).length;

    for (var i = 0; i < length_keys; i++) {
      if (isBetween(my_events_hash[keys[i]]["date"], curr_date.clone().startOf('month').startOf('week').add(-1, 'days').startOf('week'), curr_date.clone().endOf('month').endOf('week').add(1, 'days').endOf('week'))) {
        curr_events.push(keys[i]);
      }
    }
    sortWeek();
  }

  function populateMonth() {
    for (var i = 0; i < 42; i++) {
      populateMonthlyDay(i);
    }
  }

  function populateMonthlyDay(index) {
    var curr_day = curr_date.clone().startOf('month').startOf('week').add(index, 'days');
    var curr_div = monthly_divs[index];

    // Reset view
    curr_div.innerHTML = "";

    // For each event, check if it's curr_day
    curr_day_events = getEventsForDay(curr_day);

    //Display
    var i = 0;
    var start_key;
    var end_key;

    while (i < curr_day_events.length) {
      var curr_key = curr_day_events[i];

      if ((!canView(curr_key) && isPast(my_events_hash[curr_key]["date"])) || (recurringAndOverride(curr_key, curr_day))) {

        // Ignore events that are in the past and unavailable to the user
      } else if (canView(curr_key)) {
        displayMonthlyEvent(curr_div, curr_key, curr_day);
      } else {
        var start_key = curr_key;
        var end_key = curr_key;
        while(i < curr_day_events.length - 1) {
          curr_key = curr_day_events[i];

          if (eventDateABeforeB(curr_key, start_key)) {
            start_key = curr_key;
          }

          if ( isConnected(end_key, curr_day_events[i+1]) && !canView(curr_day_events[i+1]) ) {
            if (eventDurationAAfterB(curr_day_events[i+1], end_key)) {
              end_key = curr_day_events[i+1];
            }

            i++;
          } else {
            break;
          }
        }
        displayMonthlyEventHidden(curr_div, start_key, end_key);

      }
      i++;
    }
  }

  function recurringAndOverride(key, date) {
    var event = my_events_hash[key];

    if (event["eventtype"] == eventtype["group_recurring"]) {
      group_exceptions = event["group"]["group_exceptions"];
      if ((group_exceptions != null) && (date.format(recurrence_format) in group_exceptions)) {
        return true;
      }
    }

    return false;
  }

  function getRecurringEventsForDate(date) {
    var keys = Object.keys(recurring_events);
    var key_length = keys.length;

    var output = [];

    for(var i = 0; i < key_length; i++) {
      if (recurringEventOccursOnDate(keys[i], date)) {
        output.push(keys[i]);
      }
    }

    return output;
  }

  function recurringEventOccursOnDate(key, date) {
    var event = my_events_hash[key];
    var start = event["date"];
    var dow = event["date"].day();
    end = event["group"]["repeat_until"];
    var repeat_on = event["group"]["repeat_on"];

    if ((date.diff(start, 'days') >= 0) && ((end == null) || (end.diff(date, 'minutes') >= 0)) && (repeatsOn(repeat_on, date.day()))) {
      return true;
    }

    return false;
  }

  function repeatsOn(pattern, dow) {
    if (pattern[dow] == 1) {
      return true;
    }
  }

  function eventDateABeforeB(key_a, key_b) {
    var a = my_events_hash[key_a];
    var b = my_events_hash[key_b];

    var aDate = a["date"].clone().add(-a["bfr_from"], 'minutes');
    var bDate = b["date"].clone().add(-b["bfr_from"], 'minutes');

    if (bDate.diff(aDate) > 0) {
      return true;
    } else {
      return false;
    }

    return false;
  }

  function eventDurationAAfterB(key_a, key_b) {
    var a = my_events_hash[key_a];
    var b = my_events_hash[key_b];

    var aDate = a["duration"].clone().add(a["bfr_to"], 'minutes');
    var bDate = b["duration"].clone().add(b["bfr_to"], 'minutes');

    if (aDate.diff(bDate) > 0) {
      return true;
    } else {
      return false;
    }

    return false;
  }

  function isConnected(key_a, key_b) {
    var a = my_events_hash[key_a];
    var b = my_events_hash[key_b];

    var end = a["duration"].clone().add(a["bfr_to"], 'minutes').add(regularEventsLength, 'minutes');
    var start = b["date"].clone().add(-b["bfr_from"], 'minutes');

    if (end.diff(start) >= 0) {
      return true;
    } else {
      return false;
    }
  }

  function canView(key) {
    if ( (isClient() && partakes_in(key)) || isEmployee() || (isPublicEvent(key) && !isPast(my_events_hash[key]["date"]))) {
      return true;
    } else {
      return false;
    }
  }

  function isPublicEvent(key) {
    var event = my_events_hash[key];
    var etype = event["eventtype"];

    if ( (etype == eventtype["group"]) || (etype == eventtype["group_recurring"]) ) {
      return true;
    }

    return false;
  }

  function displayMonthlyEvent(element, curr_key, date) {
    if (canView(curr_key)) {
      var inner = eventMonthlyContent(curr_key)
    } else {
      var inner= eventMonthlyContentHidden(curr_key)
    }

    var my_event = my_events_hash[curr_key];

    var output = document.createElement("div");

    output.onclick = function() {
      queryEventDetails(curr_key, date);
    };

    output.setAttribute("data-toggle", "modal");
    output.setAttribute("data-target", "#workout-sessions-view");
    output.id = curr_key;
    output.classList.add("col-event");
    output.classList.add(getStatus[my_event["status"]]);
    output.classList.add(eventtype[my_event["eventtype"]]);

    if (partakes_in(curr_key) || (isEmployee() && hasClients(curr_key))) {
      output.classList.add("partakes");
    }

    output.innerHTML = inner;

    element.append(output);
  }

  function displayMonthlyEventHidden(element, start_key, end_key) {
    var output = document.createElement("div");
    output.innerHTML = eventMonthlyContentHidden(start_key, end_key);
    element.append(output);
  }

  function hasClients(key) {
    var event = my_events_hash[key];
    var etype = event["eventtype"];
    var uws = event["user_workouts"];

    return uws.length > 0
  }

  function partakes_in(key) {
    var event = my_events_hash[key];
    var etype = event["eventtype"];
    var uws = event["user_workouts"];

    if (etype == eventtype["group"]) {
      for( var i = 0; i < uws.length; i++ ) {
        if (uws[i]["user_id"] == user_id) {
          return true;
        }
      }
    } else {
      cString = getClientsString(key);
      if (cString == "" || cString == null) {
        return false;
      } else {
        return true;
      }
    }

    return false;
  }

  function eventMonthlyContent(curr_key) {
    my_event = my_events_hash[curr_key];

    var output = document.createElement("span");
    output.classList.add("event-inner");

    if (my_event["eventtype"] != eventtype["event"]) {
      var status = document.createElement("span");
      status.classList.add("fa");
      status.classList.add("fa-circle");
      status.classList.add("event-status");
      output.append(status);
    }

    var time = document.createElement("span");
    time.classList.add("event-bfr");
    time.innerHTML = " ";
    time.innerHTML += my_event["date"].format(eventstart_format);

    if (isEmployee()) {
      time.classList.add("bfr-minsize")
      var bfr = document.createElement("span");
      bfr.classList.add("time-bfr");
      bfr.innerHTML = my_event["bfr_from"] + "/" + my_event["bfr_to"];
      time.append(bfr);
    }

    var details = document.createElement("span");
    details.classList.add("event-details");
    details.innerHTML = eventTitle(curr_key);

    output.append(time);
    output.append(details);
    return output.outerHTML
  }

  function eventMonthlyContentHidden(start_key, end_key) {
    var start = my_events_hash[start_key];
    var end = my_events_hash[end_key];

    var output = document.createElement("span");
    output.classList.add("event-inner");

    var time = document.createElement("span");
    time.classList.add("event-bfr");
    time.classList.add("unavailable");
    time.innerHTML = " ";
    time.innerHTML += start["date"].clone().add(-start["bfr_from"], 'minutes').format(eventstart_format);
    time.innerHTML += " - ";
    time.innerHTML += end["duration"].clone().add(end["bfr_to"], 'minutes').format(eventstart_format);

    output.append(time);
    return output.outerHTML
  }

  // Helpers
  var getStatus = {
    0: "success",
    1: "rescheduled_from",
    2: "cancel",
    3: "noshow",
    4: "draft",
    '': "hidden"};

  function ifEmpty(title, replacement) {
    if (title == "" || title == null) {
      return replacement;
    }

    return title;
  }

  function getClientsString(key) {
    var event = my_events_hash[key];
    var output = "";

    if (event["user_workouts"] != null) {
      for (var i = 0; i < event["user_workouts"].length; i++) {
        output += shortName(key, i);

        if (i != event["user_workouts"].length - 1) {
          output += ", ";
        }
      }
    } else {
      return ""
    }

    return output
  }

  function getEventsForDay(curr_day) {
    var curr_day_events = [];
    var is_within_range = false;
    for (var j = 0; j < curr_events.length; j++) {

      var curr_key = curr_events[j];
      var curr_event = my_events_hash[curr_key];

      if (my_events_hash[curr_key]["eventtype"] != eventtype["group_recurring"]) {
        if (isBetween(my_events_hash[curr_key]["date"], curr_day.clone().startOf('day'), curr_day.clone().endOf('day'))) {
          curr_day_events.push(curr_key);
          is_within_range = true;
        } else if (is_within_range) {
          break;
        }
      }
    }

    curr_day_events = curr_day_events.concat(getRecurringEventsForDate(curr_day));
    curr_day_events = sortEventsArr(curr_day_events);

    return curr_day_events;
  }

  function sortWeek() {
    curr_events = sortEventsArr(curr_events);
  }

  function sortEventsArr(events_arr) {
    length = events_arr.length;

    if (length < 2 || length == null) {
      return events_arr;
    } else {
      m = Math.floor(length / 2);
      var a = events_arr.slice(0, m);
      var b = events_arr.slice(m, length);

      return mergeEventsArr(sortEventsArr(a), sortEventsArr(b));
    }
  }

  function mergeEventsArr(a, b) {
    out = [];
    var i = 0;
    var j = 0

    while ( i < a.length && j < b.length ) {
        if (getEventDate(a[i]) > getEventDate(b[j])) {
          out.push(b[j]);
          j++;
        } else {
          out.push(a[i]);
          i++;
        }
    }

    while (i < a.length) {
      out.push(a[i]);
      i++;
    }

    while (j < b.length) {
      out.push(b[j]);
      j++;
    }

    return out;
  }

  function isBetween(date, start, end) {
    return start <= date && end >= date
  }

  function clearEventsHash() {
    my_events_hash = {};
    recurring_events = [];
  }

  function updateBucket(data_hash) {
    my_events_hash = $.extend({}, my_events_hash, data_hash);
  }

  // Accessors
  function getEventDate(key) {
    return my_events_hash[key]["date"];
  }

  function eventTitle(key) {
    var title = "";
    var event = my_events_hash[key];

    if (event["eventtype"] == eventtype["workout"]) {
      title = getClientsString(key);
      title = ifEmpty(title, "(No clients)");
    } else {
      title = event["title"];
      title = ifEmpty(title, "(No title)");
    }

    return title;
  }

  function shortName(key, i) {
    var event = my_events_hash[key];
    var output = "";

    if (event["user_workouts"][i]["user"] != null)
    {
      profile = event["user_workouts"][i]["user"]["profile"];


      if (profile["firstname"] != "" && profile["firstname"] != null) {
        output += profile["firstname"];

        if (profile["lastname"] != "" && profile["lastname"] != null) {
          output += " ";
          output += profile["lastname"].substring(0, 1);
        }
      } else if (profile["lastname"] != "" && profile["lastname"] != null) {
        output += profile["lastname"];
      } else {
        var email = event["user_workouts"][i]["user"]["email"];

        if (email != "" && email != null) {
          email = email.substring(0, email.indexOf("@"));
          output += email;
        }
      }
    }

    return output;
  }

  function getQueryToken(key) {
    if (key in events_bucket) {
      return events_bucket[key]["token"];
    }
    return "";
  }

 // Events query
  function queryKey(key) {
    if (!(key in querying)) {
      querying[key] = true;
      queryEvents(key);
    }
  }

  function replaceLinkHistory() {
    history.replaceState(null, "", "<%= businesses_calendar_path(@business) %>/" + mode_url + "/" + curr_date.format(parse_format));
  }

  function queryWeekly(date) {
      var date_start = date.clone().startOf('week').startOf('month');
      var date_end = date.clone().endOf('week').endOf('month');

      var strf_start = date_start.format(parse_format);
      var strf_end = date_end.format(parse_format);

      queryKey(strf_start);

      if (strf_start != strf_end) {
        queryKey(strf_end);
      }
  }

  function queryMonthly(date) {
      var date_start = date.clone().startOf('month').startOf('week');
      var date_end = date.clone().endOf('month').endOf('week');

      var strf_start = date_start.format(parse_format);
      var strf_curr = date.format(parse_format);
      var strf_end = date_end.format(parse_format);

      queryKey(strf_curr);

      if (strf_start != strf_curr) {
        queryKey(strf_start);
      }

      if (strf_end != strf_curr) {
        queryKey(strf_end);
      }
  }

  function querySave(key) {
    incrementLoading("save");
    myEvent = my_events_hash[key];
    data = {
      workout_session: {
        date: myEvent["date"].toISOString(),
        duration: myEvent["duration"].toISOString()
      }
    };

    $.ajax({
      type: "PATCH",
      url: saveEventUrl + "/" + key,
      data: data,
      dataType: "script",
      success: successfulSaveResponse,
      error: function() {
        decrementLoading("fail");
        init();
      }
    })
  }

  function successfulSaveResponse(data) {
    decrementLoading("success_save");
  }

  function processEventDetails(data) {
    // Nothing needed right now
  }

  function processEventsResponse(data) {
    if (data && data.length > 0) {
      var my_arr = data;

      var month_events = JSON2EventMonth(my_arr);

      if (this.key in events_bucket) { // Update existing
        events_bucket[this.key]["events"] = $.extend({}, events_bucket[this.key]["events"], month_events[0]);
        events_bucket[this.key]["token"] = month_events[1];
      } else { // Create new key
        events_bucket[this.key] = { events: month_events[0], token: month_events[1] };
      }
    }

    delete querying[this.key];

    decrementLoading("success_load");

    if (Object.keys(querying).length == 0) {
      update(false); // Recalculate and redraw calendar
    }
  }

  function queryEvents(key) {
    incrementLoading("loading");

    if (mode == 1) {
      token = getQueryToken(key);
    } else {
      token = "";
    }

    if (token != "") {
      data = { date: key, token: token };
    } else {
      data = { date: key };
    }

    $.ajax({
        type: "GET",
        url: myEventsUrl,
        data: data,
        key: key,
        dataType: "json",
        success: processEventsResponse,
        error: function() {
          decrementLoading("fail");
        }
    });
  }

  function queryEventDetails(key, date) {
    var event = my_events_hash[key];
    var url;

    data = {};

    if (event["eventtype"] == eventtype["group_recurring"]) {
      var event_date = event["date"].clone();
      event_date.date(date.date());
      event_date.month(date.month());
      event_date.year(date.year());

      data = {date: event_date.format("l")};
    }

    $.ajax({
        type: "GET",
        url: viewEventUrl + "/" + key + "/view",
        data: data,
        key: key,
        dataType: "script",
        success: processEventDetails,
        error: function() {
          decrementLoading("fail");
        }
    });
  }

  function JSON2EventMonth(json) {
    var token = json[json.length - 1]["token"]

    var myHash = {};

    if (json.length > 0) {
      for (i = 0; i < json.length - 1; i++) {
        var key = json[i]["id"];
        var _eventtype = json[i]["eventtype"];
        delete json[i]["id"];

        json[i]["date"] = moment(json[i]["date"]) // Convert date to moment
        json[i]["duration"] = moment(json[i]["duration"]) // Convert date to moment

        // If reccuring, place in a separate hash
        if (_eventtype == eventtype["group_recurring"]) {
          recurring_events[key] =  key;

          if (json[i]["group"]["repeat_until"] != null) {
            json[i]["group"]["repeat_until"] = moment(json[i]["group"]["repeat_until"]);
          }

          var group_exceptions = json[i]["group"]["group_exceptions"];
          if (group_exceptions != null) {
            group_hash = {};
            for (var j = 0; j < group_exceptions.length; j++) {
              group_key = group_exceptions[j]["date"];
              group_hash[group_key] = null; // Set to null to instantiate, don't need an actual value, but it could be set to ws_id replacing it
            }

            json[i]["group"]["group_exceptions"] = group_hash;
          }

        }

        myHash[key] = json[i];
      }
      var month_hash = [myHash, token];
      return month_hash;
    }

    return [];
  }

  // Refresh events on a regular basis
  function refresh() {
    setInterval(function() {
      if (mode == 2) {
        queryWeekly(curr_date);
      } else if (mode == 1) {
        queryMonthly(curr_date);
      }
    }, refresh_interval);
  }

 // Query notification
  var load_states = {
    loading: [1, "Loading"],
    fail: [-1, "An error occurred"],
    clear: [0, "Done"],
    save: [2, "Saving"],
    success_save: [3, "Event saved"],
    success_load: [4, "Loading successful"]};

  var loading = document.getElementById("loading");
  var loading_msg = document.getElementById("loading-msg");
  var loading_ok = document.getElementById("loading-ok");
  var loading_img = document.getElementById("loading-img");
  var load = 0;

  function incrementLoading(state_key) {
    state = load_states[state_key];
    if (load == 0) {
      startLoading(state[1]);
    }
    load++;
  }

  function decrementLoading(state_key) {
    state = load_states[state_key];
    load--;

    if (load < 1) {
      load = 0;
      setTimeout(function() {
        endLoading(state[1], null);
      }, 500);

    }
  }

  function startLoading (message, time) {
    loading.classList.remove("hidden");
    loading_ok.classList.add("hidden");
    loading_msg.classList.add("load-ellipsis");
    loading_img.classList.remove("hidden");
    loading_msg.innerHTML = message;
  }

  function endLoading(message, time) {
    loading_ok.classList.remove("hidden");
    loading_msg.classList.remove("load-ellipsis");
    loading_img.classList.add("hidden");
    loading_msg.innerHTML = message;
    dismissLoading(time);
  }

  function dismissLoading(time) {
    if (time == null) {
      time = 5000;
    }

    setTimeout(function() {
      loading.classList.add("hidden");
    }, time);
  }

  function isClient() {
    return user_type == "client";
  }

  function isEmployee() {
    return user_type == "employee";
  }

  function isPast(date) {
    return date.clone().startOf('day') < moment().add(0, 'days');
  }

  //Monthly view
  function updateMonthlyDates() {
    var div = document.getElementsByClassName("col-date");
    var day_div = document.getElementsByClassName("dow-flex");
    var book_div = document.getElementsByClassName("book-modal-div2");

    var start = curr_date.clone().startOf('month').startOf('week');
    for (var i = 0; i < div.length; i++) {
      var curr = start.clone().add(i, 'days');

      var date_div = document.createElement('div');
      date_div.classList.add('date-inner');
      date_div.innerHTML = curr.format(mini_format);

      div[i].innerHTML = date_div.outerHTML;

      if (curr_date.month() != curr.month()) {
        day_div[i].classList.add("otherMonth");
      } else {
        day_div[i].classList.remove("otherMonth");
      }

      if (isClient()) {
        if (isPast(curr)) {
          day_div[i].classList.add('past');
        } else {
          day_div[i].classList.remove('past');
        }
      }

      if (moment().startOf('day').isSame(curr.startOf('day'))) {
        div[i].classList.add("today");
      } else {
        div[i].classList.remove("today");
      }

      if ((isClient() && !isPast(curr) && canBook) || isEmployee())
      {
        book_div[i].classList.remove("hidden");
        book_div[i].setAttribute("data-toggle", "modal");
        book_div[i].setAttribute("data-target", "#session_modal");
        book_div[i].removeEventListener('click', function() {});
        if (typeof window.addEventListener === 'function') {
          (function (_book_div, date) {
            book_div[i].addEventListener('click', function() {
              changeDateMonthly(date.format("MM/DD/YYYY"));
            });
          })(book_div[i], curr);
        }
      } else {
        book_div[i].classList.add("hidden");
      }

    updateDateHeader();
    }
  }

  function changeDateMonthly(date) {
    <% if @business.view_as_employee?(current_user) %>
      document.getElementById("datetimepicker_createworkout_start").value = date + " 12:00 PM";
      document.getElementById("datetimepicker_createworkout_end").value = date + " 1:00 PM";
      document.getElementById("datepicker_createreminder").value = date;
    <% else %>
      document.getElementById("datetimepicker_createworkout_start").value = date + " 12:00 PM";
      document.getElementById("datetimepicker_createworkout_end").value = date + " 1:00 PM";
    <% end %>
  }

  function changeDateWeekly(start, end) {
    <% if @business.view_as_employee?(current_user) %>
      document.getElementById("datetimepicker_createworkout_start").value = start;
      document.getElementById("datetimepicker_createworkout_end").value = end;
      document.getElementById("datepicker_createreminder").value = start;
    <% else %>
      document.getElementById("datetimepicker_createworkout_start").value = start;
      document.getElementById("datetimepicker_createworkout_end").value = end;
    <% end %>
  }

  updateMonthlyDates();

  //Mini Calendar
  function restartMini() {
    mini_month = curr_date.clone();
    displayMiniMonth(curr_date);
    setMiniMonthDate(curr_date);
  }

  function setMiniMonthDate(date) {
    document.getElementById("mini-month").innerHTML = date.format(header_format);
  }

  function clearMiniCalendar() {
    var divs = document.getElementsByClassName("mini-day");

    for (var i = 0; i < divs.length; i++) {
      divs[i].className = "mini-day";
    }
  }

  function displayMiniMonth(_date) {
    clearMiniCalendar();
    var minidates = document.getElementsByClassName("mini-day");

    for (var i = 0; i < minidates.length; i++) {
      var date = _date.clone().startOf('month').startOf('week').add(i, 'days')
      minidates[i].innerHTML = "<button class='btn-mini' onClick='setDate(" + i + ");'>" + date.format(mini_format) + "</button>"

      if (date.month() != curr_date.month()) {
        minidates[i].classList.add('other');
      }

      if (date.startOf('day').diff(moment().startOf('day')) == 0) {
        minidates[i].classList.add('today');
      } else if (date.startOf('day').diff(curr_date.clone().startOf('day')) == 0) {
        minidates[i].classList.add('selected');
      }
    }

    setMiniMonthDate(_date);
  }

  init();

 // Weekly view

  posy = 0;
  var day_divs = document.getElementsByClassName("day-block");
  var ghost = document.getElementById("ghost");

  var HEIGHT = 50;
  var GAP = 4;

  var curr_events;

  var overlaps = {}; // number of overlaps that an event_id has
  var event_slot = {}; // the position of the event relative to overlapping events

  var days;
  var cols;

  var wait = 0;

  // Sync scrolls
  $('#wbf').scroll(function () {
      $('#tbf').scrollTop($(this).scrollTop());
  });

  function getEventTop(moment) {
      time = moment.hour() + Math.ceil((moment.minutes() / 60) * 4) / 4;
      return (time) * HEIGHT;
  }

  function setEventStartTime(key, posy) {
    if (posy < 0) {
      posy = 0;
    }

    event = my_events_hash[key];

    var eventTime = posYToTime(posy);

    length = eventDuration(event);

    event["date"].hour(eventTime[0]);
    event["date"].minute(eventTime[1]);

    event["duration"] = event["date"].clone().add(length, 'seconds');
  }

  function setEventEndTime(key, height) {
    if (height < 12.5) {
      height = 12.5;
    }

    event = my_events_hash[key];
    var time = posYToTime(height);
    event["duration"] = event["date"].clone().add(time[0], 'hour').add(time[1], "minutes");
  }

  function populateArrRange(start, end) {
    out = [];
    for (var i = start; i <= end; i++) {
      out.push(i);
    }
    return out;
  }

  function getWeek(date) {
    var my_week = [];
    for (var i = 0; i <= week_length; i++) {
      my_week.push(date.startOf('week').clone().add(i, 'days'));
    }

    return my_week;
  }

  function eventLength(length) {
    if (length == 0) {
      return 0;
    }

    return (HEIGHT * Math.ceil((length / 3600.0 - 0.01) * 4) / 4)
  }

  function eventDuration(event) {
    return event["duration"].diff(event["date"], 'seconds')
  }

  function eventHeight(curr_event) {
    height = eventLength(eventDuration(curr_event));
    if (height < 20) {
      height = 20;
    }
    return height;
  }

  function eventCompositeHeight(start, end) {
    height = eventLength(end.diff(start, 'seconds'));
    if (height < 20) {
      height = 20;
    }
    return height;
  }

  function refreshWeeklyEventsHash() {
    var start = curr_date.clone().startOf('week').startOf('month');
    var end = curr_date.clone().endOf('week').endOf('month');

    var start_key = start.format(parse_format);
    var end_key =  end.format(parse_format);

    if (start_key != end_key) {
      if ((start_key in events_bucket) && (end_key in events_bucket)) {
        my_events_hash = $.extend({}, events_bucket[start_key]["events"], events_bucket[end_key]["events"]);
      } else if (start_key in events_bucket) {
        my_events_hash = events_bucket[start_key]["events"];
      } else if (end_key in events_bucket) {
        my_events_hash = events_bucket[end_key]["events"];
      }
    } else {
      if (start_key in events_bucket) {
        my_events_hash = events_bucket[start_key]["events"];
      }
    }
  }

  // Get events FOR THIS WEEK
  function setWeeklyEvents() {
    replaceLinkHistory();
    curr_events = [];

    var keys = Object.keys(my_events_hash);
    var length_keys = Object.keys(my_events_hash).length;

    for (var i = 0; i < length_keys; i++) {
      if (isBetween(my_events_hash[keys[i]]["date"], curr_date.clone().startOf('week'), curr_date.clone().endOf('week'))) {
        curr_events.push(keys[i]);
      }
    }
    sortWeek();
  }

  function setEventOverlaps(key, events, index) {
    if (index == null) {
        index = 0;
    }

    if (events == null) {
      events = my_events_hash;
    }

    var overlap_ids = [key];
    if (!(key in overlaps)) {
      overlaps[key] = {};
      overlaps[key]["count"] = 0;

      var is_within_range = false;

      for (var l = index+1; l < events.length; l++) {
        if (canView(events[l]) && index != l && isBetween(my_events_hash[events[l]]['date'].clone().add(1, 'minute'), my_events_hash[events[index]]['date'], my_events_hash[events[index]]['duration'])) {
          overlaps[key]["count"] = overlaps[key]["count"] + 1;
          overlaps[key]["root"] = key;
          overlap_ids.push(events[l]);
          is_within_range = true;
          // Set event_slots
        } else if (is_within_range) {
          break;
        }
      }
    }

    // Define slots
    var slots = populateArrRange(0, overlaps[key]["count"]);

    var event_slot_index = 0;

    // Assign slots to overlap ids
    for (var l = 0; l < overlap_ids.length; l++) {
      if (!(overlap_ids[l] in event_slot)) {
        event_slot[overlap_ids[l]] = (100 / (overlaps[key]["count"]+1)) * slots[event_slot_index];
        event_slot_index++;
      }
    }
  }

  function populateWeeklyDay(index) {
    event_slot = {};
    overlaps = {};

    var curr_day = curr_date.clone().startOf('week').add(index, 'days').startOf('day');
    var curr_div = day_divs[index];
    curr_div.innerHTML = "";
    curr_div.getElementsByClassName('day-event')

    // For each event, check if it's curr_day
    var curr_day_events = getEventsForDay(curr_day);

    // Display
    var k = 0;
    while (k < curr_day_events.length) {
      var curr_key = curr_day_events[k];
      var curr_event = my_events_hash[curr_key];

      if (!canView(curr_key) && isPast(getEventDate(curr_key))) {
      } else if (canView(curr_key)) {
        setEventOverlaps(curr_key, curr_day_events, k);
        displayBeforeEventBuffer(curr_div, curr_key);
        displayAfterEventBuffer(curr_div, curr_key);
        displayWeeklyEvent(curr_div, curr_key, curr_day);
      } else {
        var start_key = curr_key;
        var end_key = curr_key;

        while(k < curr_day_events.length - 1) {
          curr_key = curr_day_events[k];

          if (eventDateABeforeB(curr_key, start_key)) {
            start_key = curr_key;
          }

          if (isConnected(end_key, curr_day_events[k+1]) & !canView(curr_day_events[k+1])) {
            if (eventDurationAAfterB(curr_day_events[k+1], end_key)) {
              end_key = curr_day_events[k+1];
            }

            k++;
          } else {
            break;
          }
        }

        displayWeeklyEventHidden(curr_div, start_key, end_key);
      }

      k++;
    }

    createMockEvent(curr_div); //Creates a mock event which is used for dragging

    if ((!isPast(curr_day) && canBook) || isEmployee()) {
      createClickListener(curr_div, index);
    }
  }

  function createMockEvent(parent) {
    var sample = document.createElement("div");
    sample.id = "sample" + parent.id;
    sample.classList.add("day-event");
    sample.classList.add("sample-event");
    sample.style.zIndex = "100";
    sample.classList.add("hidden");
    sample.style.width = 100 + "%";
    parent.appendChild(sample);
  }

  function createClickListener(parent, index) {
    var listener = document.createElement("div");
    listener.classList.add("wday-listener");
    listener.addEventListener('click', function (evt) {
      var y = evt.clientY - 150; // No idea why it's 150 - needs testing;
      var time = posYToTime(y + 10); // Offset
      //alert(time);

      var start = curr_date.clone().startOf('week').add(index, 'days');
      start.hour(time[0]);
      start.minutes(time[1]);

      var end = start.clone().add(1, 'hour');
      changeDateWeekly(start.format(booking_format), end.format(booking_format));
    });
    listener.setAttribute("data-toggle", "modal");
    listener.setAttribute("data-target", "#session_modal");

    parent.appendChild(listener);
  }

  function populateWeek() {
    for (var i = 0; i < 7; i++) {
      populateWeeklyDay(i);
    }
  }

  function posYToTime(posy) {
    if (posy < 0) {
      posy = 0;
    }

    var h = parseFloat((Math.ceil(posy / 12.5)) / 4).toFixed(2);
    var eventTime = h.toString().split('.');

    var eventHour = parseInt(eventTime[0]);

    var eventMinute;
    if (eventTime[1] != null) {
      var eventMinute = 60 * parseInt(eventTime[1]) / 100;
    } else {
      var eventMinute = 0;
    }

    return [eventHour, eventMinute];
  }

  function getWdayFromId(id) {
    return parseInt(id.charAt(id.length - 1));
  }

  function deltaDate(date, id) {
    return id - date.day();
  }

  function setDeltaDate(key, id) {
    diff = deltaDate(my_events_hash[key]["date"], id);
    my_events_hash[key]["date"].add(diff, 'day');
    my_events_hash[key]["duration"].add(diff, 'day');
  }

  function updateEventTime(posY) {
    height = HEIGHT * 25;
  }

  //Drag and drop

  function handleDragStartWeekly(e) {
    this.classList.add('drag-event');  // this / e.target is the source node.
    wait++;

    var style = window.getComputedStyle(event.target, null);
    offset = parseInt(style.getPropertyValue("top"),10) - event.clientY;

    var my_event = my_events_hash[this.id];
    inner_diff = my_event["duration"].diff(my_event["date"], "minutes");

    samples = document.getElementsByClassName("sample-event");

    for (var i = 0; i < samples.length; i++) {
      samples[i].innerHTML = this.innerHTML;
    }

    my_id = this.id;
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.id);

    e.dataTransfer.setDragImage(ghost, 0, 0);
  }

  function handleDragEndWeekly(e) {
    this.classList.remove('drag-event');
    cols = document.getElementsByClassName('day-event');

    [].forEach.call(cols, function(col) {
      col.classList.remove('drag-over');
    });
    my_id == null;
    wait--;
  }

  function handleDragOverWeekly(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }

    e.dataTransfer.dropEffect = 'move';

    if (my_id != null) {
      event = document.getElementById(my_id);

      event_id = e.dataTransfer.getData('text/html');
      posy = (e.clientY + parseInt(offset));

      sample = document.getElementById("sample" + this.id);
      sample_height = Math.ceil(posy / 12.5) * 12.5;

      var x = posYToTime(posy);
      sample_time.hour(x[0]);
      sample_time.minute(x[1]);
      sample_time.add(deltaDate(sample_time, day_id), 'days');

      var time_span = sample.getElementsByClassName("time-span")[0];
      time_span.innerHTML = sample_time.format(eventstart_format);
      time_span.innerHTML += " - ";
      time_span.innerHTML += sample_time.clone().add(inner_diff, "minutes").format(eventend_format);
      sample.style.top = sample_height + "px";
    }

    return false;
  }

  function handleDragEnterWeekly(e) {
    if (my_id != null) {
      event = document.getElementById(my_id);

      event_id = e.dataTransfer.getData('text/html');

      day_id = getWdayFromId(this.id);
      sample = document.getElementById("sample" + this.id);
      sample_time = my_events_hash[my_id]["date"].clone();
      sample.style.height = event.style.height;
      sample.classList.remove("hidden");
    }
  }

  function handleDragLeaveWeekly(e) {

    var related = e.relatedTarget,
            inside = false;

    if (related !== this) {

        if (related) {
            inside = jQuery.contains(this, related);
        }

        if (!inside) {
            sample = document.getElementById("sample" + this.id);
            sample.classList.add("hidden")
        }
    }
  }

  function handleDropWeekly(e) {
    if (e.stopPropagation) {
      e.stopPropagation();
    }

    if (my_id != null) {
      event_id = e.dataTransfer.getData('text/html');
      posy = (e.clientY + parseInt(offset));

      document.getElementById(event_id).remove();
      document.getElementById("bfr"+event_id).remove();
      document.getElementById("aft"+event_id).remove();

      day_id = getWdayFromId(this.id);
      setDeltaDate(event_id, day_id);
      setEventStartTime(event_id, posy);
      sortWeek();
      populateWeeklyDay(day_id);
      querySave(event_id);
    }

    return false;
  }

  function setDragListenerWeekly() {
    days = document.getElementsByClassName('day-block');

    [].forEach.call(days, function(day) {
      day.addEventListener('dragover', handleDragOverWeekly, false);
      day.addEventListener('drop', handleDropWeekly, false);
      day.addEventListener('dragenter', handleDragEnterWeekly, false);
      day.addEventListener('dragleave', handleDragLeaveWeekly, false);
    });
  }

  function addDragListenersWeekly(element) {
    element.addEventListener('dragstart', handleDragStartWeekly, false);
    element.addEventListener('dragend', handleDragEndWeekly, false);
  }
  //End

  function plotRectangle(element, id, measurements, klass, inner) {
    var output = document.createElement("div");
    output.id = id;
    output.classList.add(klass);

    var event = my_events_hash[id];
    if (event != null) {
      output.classList.add(eventtype[event["eventtype"]]);

      if (partakes_in(id) || (isEmployee() && hasClients(id))) {
        output.classList.add("partakes");
      }

    }

    output.classList.remove("unavailable");
    output.style.zindex = measurements["zindex"];
    output.style.top = measurements["top"] + "px";
    output.style.left = measurements["left"] + "%";
    output.style.width = measurements["width"] + "%";
    output.style.height = measurements["height"] + "px";
    output.style.userSelect = "none";

    element.append(output);

    if (klass != "day-bfr" && (id != null || id != "")) {
      if (isEmployee()) {
        addWeeklyResizeListener(id);
      }

      output.draggable = "true";
      output.setAttribute("data-toggle", "modal");
      output.setAttribute("data-target", "#workout-sessions-view");
      output.append(inner);

      if (isEmployee()) {
        addDragListenersWeekly(output);
      }

      output.onclick = function() {
        queryEventDetails(id, date);
      };
    }

  }

  function plotRectangleHidden(element, measurements, klass, inner) {
    var output = document.createElement("div");
    output.classList.add(klass);
    output.classList.add("unavailable");
    output.style.zindex = measurements["zindex"];
    output.style.top = measurements["top"] + "px";
    output.style.left = measurements["left"] + "%";
    output.style.width = measurements["width"] + "%";
    output.style.height = measurements["height"] + "px";
    output.style.userSelect = "none";
    output.append(inner);
    element.append(output);
  }

  function addWeeklyResizeListener(id) {
    $("#" + id).resizable({handles: "s", grid: 12.5, stop: function(event, ui ) {
      element = document.getElementById(id);
      height = element.style.height;
      height = height.substring(0, height.length - 2);
      setEventEndTime(id, height);
      //element.innerHTML = my_events_hash[id]["duration"].format(ez_format);
      querySave(id);

      if (height < 20) {
        element.style.height = 20 + "px";
      }

    }});
  }

  function displayBeforeEventBuffer(element, event_key) {
      var my_event = my_events_hash[event_key];

      var bfr_from = my_event["date"].clone().add(-my_event["bfr_from"], 'minutes');

      measurements = eventMeasurementsHash(event_key);
      measurements["top"] = getEventTop(bfr_from);
      measurements["height"] =  eventLength(my_event["date"].diff(bfr_from, 'seconds'));

      plotRectangle(element, "bfr" + event_key, measurements, "day-bfr", "", null);

  }

  function displayAfterEventBuffer(element, event_key) {
      var my_event = my_events_hash[event_key];

      var bfr_to = my_event["duration"].clone().add(my_event["bfr_to"], 'minutes');

      measurements = eventMeasurementsHash(event_key);
      measurements["top"] = getEventTop(my_event["duration"]);
      measurements["height"] =  eventLength(bfr_to.diff(my_event["duration"], 'seconds'));

      plotRectangle(element, "aft" + event_key, measurements, "day-bfr", "", null);
  }

  function eventWeeklyContent(key) {
    var event = my_events_hash[key];
    var inner = document.createElement("div");
    inner.classList.add("event-content");

    var time_span = document.createElement("span");
    time_span.classList.add("time-span");
    time_span.innerHTML = event["date"].format(eventstart_format);
    time_span.innerHTML += " - ";
    time_span.innerHTML += event["duration"].format(eventend_format);

    var titleDiv = document.createElement("div");
    titleDiv.innerHTML = eventTitle(key);

    if (event["eventtype"] != eventtype["event"]) {
      inner.classList.add(getStatus[event["status"]]);

      var status = document.createElement("span");
      status.classList.add("fa");
      status.classList.add("fa-circle");
      status.classList.add("event-status");
      inner.append(status);
    }

    inner.append(titleDiv);
    inner.append(time_span);

    return inner;
  }

  function eventWeeklyContentHidden(start_key, end_key) {
    var start = my_events_hash[start_key];
    var end = my_events_hash[end_key];

    var inner = document.createElement("div");
    inner.classList.add("event-content");

    var time_span = document.createElement("span");
    time_span.classList.add("time-span");
    time_span.innerHTML = start["date"].clone().add(-start["bfr_from"], 'minutes').format(eventstart_format);
    time_span.innerHTML += " - ";
    time_span.innerHTML += end["duration"].clone().add(end["bfr_to"], 'minutes').format(eventend_format);

    inner.append(time_span);

    return inner;
  }

  function displayWeeklyEvent(element, curr_key, date) {
    measurements = eventMeasurementsHash(curr_key);
    var inner = eventWeeklyContent(curr_key);
    plotRectangle(element, curr_key, measurements, "day-event", inner, date);
  }

  function displayWeeklyEventHidden(element, start_key, end_key) {
    measurements = eventMeasurementsHashHidden(start_key, end_key);
    var inner = eventWeeklyContentHidden(start_key, end_key);
    plotRectangleHidden(element, measurements, "day-event", inner);
  }

  function eventMeasurementsHash(curr_key) {
    var zindex = Math.ceil(event_slot[curr_key]/10) + 2;
    var height = eventHeight(my_events_hash[curr_key]);
    var left = event_slot[curr_key];
    var width = 100 - GAP;
    if (overlaps[curr_key]["count"] > 0) {
      olaps = overlaps[overlaps[curr_key]["root"]]["count"];
      width = ((100 - left/olaps) / olaps) - GAP;
    }
    var y = getEventTop(my_events_hash[curr_key]["date"]);

    return { zindex: zindex, height: height, left: left, width: width, top: y};
  }

  function eventMeasurementsHashHidden(start_key, end_key) {
    start = my_events_hash[start_key];
    start_time = start["date"].clone().add(-start["bfr_from"], 'minutes');

    end = my_events_hash[end_key];
    end_time = end["duration"].clone().add(end["bfr_to"], 'minutes');

    var height = eventCompositeHeight(start_time, end_time);
    var width = 100 - GAP;
    var y = getEventTop(start_time);

    return { height: height, width: width, top: y};
  }

  function displayDatesCurrWeek() {
    curr_month = curr_date.clone();

    var dates_span = document.getElementsByClassName("date");
    for (var i = 0; i < week_length; i++) {
      temp = curr_date.clone().startOf('week').add(i, 'days');
      dates_span[i].innerHTML = temp.format(date_format);

      if (temp.startOf('day').isSame(moment().startOf('day'))) {
        dates_span[i].classList.add("today");
      } else {
        dates_span[i].classList.remove("today");
      }

      el = document.getElementsByClassName("weekly-inner")[i];
      if (isPast(temp) && isClient()) {
        el.classList.add("past");
      } else {
        el.classList.remove("past");
      }

    }

    updateDateHeader();
  }

  function updateWeekly(ignore) {
    if (wait == 0 || ignore == true) {
      curr_month = curr_date.clone();

      refreshWeeklyEventsHash();
      setWeeklyEvents();
      populateWeek();
    }
  }

  curr_date = moment('<%= (@date).strftime("%Y-%m-%d") %>');

  setDragListenerWeekly();

  var sidebar = document.getElementsByClassName("cal-side")[0];
  var mainbar = document.getElementsByClassName("cal-main")[0];

  function toggleSidebar() {
    if (sidebar.classList.contains("xhidden")) {
      sidebar.classList.remove("xhidden");
      mainbar.classList.add("xhidden");
    } else {
      sidebar.classList.add("xhidden");
      mainbar.classList.remove("xhidden");
    }
  }

  var screen_heights = { 667: 835, 732: 742,};
</script>

<div class="modal fade" id="session_modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#workout">Session</a></li>
        <% if @business.view_as_employee?(current_user) %>
          <li><a data-toggle="tab" href="#reminder">Reminder</a></li>
        <% end %>
        <button type="button" class="close" data-dismiss="modal" style="margin-right: 5px; margin-top: 5px;">&times;</button>
      </ul>

      <div class="tab-content">
        <div id="workout" class="tab-pane fade in active">
          <% if @business.view_as_employee?(current_user) %>
            <%= render 'workout_modal_admin' %>
          <% else %>
            <%= render 'workout_modal_client' %>
          <% end %>
        </div>
        <% if @business.view_as_employee?(current_user) %>
          <div id="reminder" class="tab-pane fade">
            <%= render 'reminder_modal' %>
          </div>
        <% end %>
      </div>

		</div>
	</div>
</div>

<div id="workout-sessions-view" class="modal">
  <div class="modal-dialog modal-content">
    <div id="show-workout-modal"></div>
  </div>
</div>

<div id="reminders-view" class="modal fade">
	<div class="modal-dialog modal-content">
		<div class="modal-body" id="show-reminder-modal"></div>
	</div>
</div>
