<h3 style="color: #4a4a4a; text-align: left; margin-left: 35px;"> May 2017 &ndash; June 2017 </h3>
	<div class="row container-fluid med-m-b">
		<div class="col-md-4">
			<div class="row-container">
				<div class="topic-header">
					<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-user"> </span><small> Clients </small>
						<span class="label label-primary dashboard-label-timeframe"> Monthly </span>
					</p>
				</div>

				<div class="container-fluid topic-container">
					<div class="row" style="height: 40px;">
						<div class="col-md-2 col-sm-12" style="padding-top: 10px;">
							<h7 class="no-m-bot"> <%= User.get_active_clients.count %> </h7> </br>
							Active
						</div>
						<div class="col-md-10 col-sm-12">
							<%= render :partial => "svg/active_users", locals: { input: User.active_users_count_groupby_month() } %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div style="margin-top: 0px; margin-left: 0px;">
								<div>

									<span class="font-success font-bold float-right">
										<%= User.most_active_versus_now_ratio %>%
										<span class="glyphicon glyphicon-flash"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-0">
							<div style="position: absolute; top: 20px; right: 15px;">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="row-container">
				<div class="topic-header">
					<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-calendar"></span> <small> Sessions </small>
						<span class="label label-primary dashboard-label-timeframe"> Monthly </span>
					</p>

				</div>
				<div class="container-fluid topic-container">
					<div class="row" style="height: 40px;">
						<div class="col-md-2 col-sm-12" style="padding-top: 10px;">
							<h7 class="no-m-bot"> <%= WorkoutSession.sessions_in_month.count %> </h7> </br>
							Scheduled
						</div>
						<div class="col-md-10 col-sm-12">
							<%= render :partial => "svg/active_users", locals: { input: WorkoutSession.sessions_count_groupby_month() } %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div style="margin-top: 0px; margin-left: 0px;">
								<div>

									<span class="font-success font-bold float-right">
										<%= WorkoutSession.most_active_versus_now_ratio %>%
										<span class="glyphicon glyphicon-flash"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-0">
							<div style="position: absolute; top: 20px; right: 15px;">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row-container">
				<div class="topic-header">
					<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-usd"></span> <small> Revenue </small>
						<span class="label label-primary dashboard-label-timeframe"> Monthly </span>
					</p>

				</div>
				<div class="container-fluid topic-container">
					<div class="row" style="height: 40px;">
						<div class="col-md-2 col-sm-12" style="padding-top: 10px;">
							<h7 class="no-m-bot"> <%= Invoice.invoices_in_month.count %> </h7> </br>
							Invoices
						</div>
						<div class="col-md-10 col-sm-12">
							<%= render :partial => "svg/active_users", locals: { input: Invoice.revenue_groupby_month() } %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div style="margin-top: 0px; margin-left: 0px;">
								<div>

									<span class="font-success font-bold float-right">
										<%= WorkoutSession.most_active_versus_now_ratio %>%
										<span class="glyphicon glyphicon-flash"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-0">
							<div style="position: absolute; top: 20px; right: 15px;">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row container-fluid">
		<div class="col-md-3">
			<div class="med-m-b">
				<div class="row-container">
					<div class="topic-header">
						<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-flag"></span> <small> Reminders </small> </p>
					</div>
					<div class="topic-subheader">
						<ul class="nav nav-tabs dashboard-reminders">
						  <li class="active f-c" style="width: 50%; height: 20px; margin-bottom: 0px;"><a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="tab" href="#future-reminders">Future</a></li>
						  <li class="f-c" style="width: 50%; margin-bottom: 0px;"><a style="padding-top: 0px; padding-bottom: 0px;" data-toggle="tab" href="#all-reminders">All</a></li>
						</ul>
					</div>

					<div class="topic-container" style="height: 350px; overflow-y: auto;">
						<div class="tab-content">
							<div id="future-reminders" class="tab-pane fade in active">
								<table class="table table-condensed">
									<% current_user.upcoming_reminders_by_date.each do |date, reminders| %>
										<% if date %>
											<tr>
												<td colspan="2" style="text-align: center;"> <small> <%= date.strftime("%b %-d") %> </small> </td>
											</tr>
										<% else %>
										<tr>
											<td colspan="2" style="text-align: center;"> <small> Other </small> </td>
										</tr>
										<% end %>

										<% reminders.each do |reminder| %>
											<tr class="">
												<td>
													<small>
														<%= link_to reminders_view_path(reminder), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
											        <span style="font-weight: bold"><%= reminder.title %></span>
											      <% end %>

														</br>

														<%= reminder.memo %>
													</small>
												</td>
												<td>
													<span class="glyphicon glyphicon-exclamation-sign font-warning float-right"> </span>
												</td>
											</tr>
										<% end %>
									<% end %>
								</table>
							</div>

							<div id="all-reminders" class="tab-pane fade">
								<table class="table table-condensed">
									<% current_user.reminders.group_by(&:date).each do |date, reminders| %>
										<% if date %>
											<tr>
												<td colspan="2" style="text-align: center;"> <small> <%= date.strftime("%b %-d") %> </small> </td>
											</tr>
										<% else %>
										<tr>
											<td colspan="2" style="text-align: center;"> <small> Other </small> </td>
										</tr>
										<% end %>

										<% reminders.each do |reminder| %>
											<tr class="">
												<td>
													<small>
														<%= link_to reminders_view_path(reminder), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
											        <span style="font-weight: bold"><%= reminder.title %></span>
											      <% end %>

														</br>

														<%= reminder.memo %>
													</small>
												</td>
												<td>
													<span class="glyphicon glyphicon-exclamation-sign font-warning float-right"> </span>
												</td>
											</tr>
										<% end %>
									<% end %>
								</table>
						  </div>
						</div>

					</div>
				</div>
			</div>
			<div style="height: 400px">
				<div class="row-container">
					<div class="topic-header">
						<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-th-large"></span> <small> Feed </small> </p>
					</div>

					<div class="container-fluid topic-container" style="height: 326px; overflow: auto">
						<table class="table table-condensed">
							<tr>
								<td class="f-c" style="padding-top: 25px;">
									Unavailable
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">

				<div class="row-container" style="height: 400px;">
					<div class="topic-header">
						<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-list-alt"></span><small> Invoices </small> </p>
					</div>
					<div class="topic-container" style="height: 370px;">
						<div style="">
							<%= invoicerevenue_over_time_linechart(@date_range, "250px") %>
						</div>

						<div class="row m-t">
							<div class="col-md-4 f-c">
								<div class="h4 font-bold no-m-b font-success"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
								<small class="text-muted"> Settled  </small>
							</div>
							<div class="col-md-4 f-c">
								<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
								<small class="text-muted"> Pending </small>
							</div>
							<div class="col-md-4 f-c">
								<div class="h4 font-bold no-m-b font-danger"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
								<small class="text-muted"> Unpaid </small>
							</div>
						</div>
					</div>
				</div>
		</div>

		<div class="col-md-3">
			<div>
				<div class="row-container" style="height: 400px">
					<div class="topic-header">
						<p style="margin-bottom: 0px;"> <span class="glyphicon glyphicon-stats"></span> <small> Stats </small> </p>
					</div>
					<div class="topic-container" style="height: 370px;">
						<div style="margin-top: 0px;">
							<%= graph_sessions_piechart(@date_range, "235px") %>
						</div>
						<div class="row m-t">
							<div class="col-md-3 f-c">
								<div class="h4 font-bold no-m-b pie-font-success" style=> <%= @workout_sessions.where(:status => WorkoutSession.successful).count %> </div>
								<small class="text-muted"> Successful  </small>
							</div>
							<div class="col-md-3 f-c">
								<div class="h4 font-bold no-m-b pie-font-rescheduled"> <%= @workout_sessions.where(:status => WorkoutSession.rescheduled).count %> </div>
								<small class="text-muted"> Rescheduled </small>
							</div>
							<div class="col-md-3 f-c">
								<div class="h4 font-bold no-m-b pie-font-noshow"> <%= @workout_sessions.where(:status => WorkoutSession.noshow).count %> </div>
								<small class="text-muted"> No Show </small>
							</div>
							<div class="col-md-3 f-c">
								<div class="h4 font-bold no-m-b pie-font-cancelled"> <%= @workout_sessions.where(:status => WorkoutSession.cancel).count %> </div>
								<small class="text-muted"> Cancelled </small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<% if false %>
<div class="container-fluid">
	<div class="row-container" style="margin-bottom: 20px;">
		<div class="topic-header">
			<p style="margin-bottom: 0px;"> <small> Overview </small> </p>
		</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div style="margin-top: -15px; margin-left: -0px;">
						<%= graph_amount_over_time3(@date_range, "250px") %>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

		<div class="row m-t">
			<div class="col-md-4 f-c">
				<div class="h4 font-bold no-m-b font-success"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
				<small class="text-muted"> Settled  </small>
			</div>
			<div class="col-md-4 f-c">
				<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
				<small class="text-muted"> Pending </small>
			</div>
			<div class="col-md-4 f-c">
				<div class="h4 font-bold no-m-b font-danger"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
				<small class="text-muted"> Unpaid </small>
			</div>
		</div>

		<div class="container-fluid" style="margin-top: 25px;">
			<%= render 'template' %>
		</div>
	</div>
</div>
<% end %>

<div id="reminders-view" class="modal fade">
	<div class="modal-dialog modal-content">
		<div class="modal-body" id="show-reminder-modal"></div>
	</div>
</div>
