<div class="row" style="padding-bottom: 50px;">
	<h1>Business Settings</h1>
	<h3> <%= @business.name %> </h3>

	<% if @tab == "sessions" %>
		<%= render 'edit_sessions' %>
	<% else %>
		<%= render 'edit_general' %>
	<% end %>
</div>
