<div class="container-fluid" style="background-color: white;">
  <div class="container">

    <div class="row sample-banner">
      <div class="col-md-9" style="height: 375px;">
        <h3 style="color: white; ">

        </h3>
      </div>
      <div class="col-md-3" style="height: 375px; background-color:rgba(0, 0, 0, 0.3); padding-top: 70px; position: fixed; right: 430px; width: 293px">
        <div class="img-container">
          <img class="sample-logo"></img>
          <div class="logo-description">HEALTH AND WELLNESS PROFESSIONALS YOU CAN TRUST</div>



          <% if true %>
          <div class="team">
            <img class="aki head-margin"></img>

            <img class="clare head-margin"></img>

            <img class="daniel head-margin"></img>
          </div>
          <% end %>
      </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-9" style="height: 1000px; background-color: white; padding: 20px;">
        <div class="about-us section-margin">
          </br>
          <p> <%= @business.description.html_safe %> </p>
        </div>

        <div class="about-us section-margin">
          </br>
          <h4> About Us</h4>
          <div class="row">
            <div class="col-md-6">
              <p>
                Trying to lose <b>weight</b> ? </br>
              </p>
            </div>
          </diV>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <p>
                Want to gain lean <b>muscle</b> ? </br>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <p>
                Are you recovering from an <b>injury</b> ? </br>
                Or do you just want to <b> look good </b> for a wedding?
              </p>
            </div>
          </div>
          <p> Whether you are trying to lose weight, gain lean muscle mass, recover from an injury, get back into sports,
              getting ready for an upcoming event,
              or simply improve your health and wellness, your Health Coach and Personal Trainer has you covered! </p>
        </div>

        <hr>

        <div class="section-margin">
          <h4 class="home-header">
            What we offer
          </h4>
            <p> Choose from a monthly plans: </p>
            <div class="row">
              <div class="col-md-5 plan" style="padding-left: 40px;">

                  <h5 style="font-weight: bold;">Health and Wellness Coaching &mdash; $350 / month</h5>
                  <hr>
                  <span style="text-align: left;">
                  <li> 4 health coaching sessions / month</li>
                  <li> Exercise programs </li>
                  <li> Regular assessments </li>
                  <li> 24/7 support </li>


              </div>
              <div class="col-md-2" style="text-align: center;">
                <h4> OR </h4>
              </div>
              <div class="col-md-5 plan">
                <h5 style="font-weight: bold;">  Ultimate Coaching Package &mdash; $600 / month</h5>
                <hr>
                <li> 15 regular coaching sessions / month </li>
                <li> Exercise programs </li>
                <li> Regular assessments </li>
                <li> 24/7 support </li>
                <li> Unlimited acess to fitness center</li>
                <li> Free parking and clean towel service</li>
              </div>
            </div>

          </br></br>

            <p> Or pick from our per session selections: </p>
            <div class="row">
              <div class="col-md-5 plan" style="padding-left: 40px;">

                  <h5 style="font-weight: bold;">Wolfpack Fitness Training &mdash; $70 / session</h5>
                  <hr>
                  <span style="text-align: left;">
                  <li> Small group fitness, up to 6 people </li>
                  <li> Free assessments </li>
                  <li> 24/7 support </li>


              </div>
              <div class="col-md-2" style="text-align: center;">
                <h4>  </h4>
              </div>
              <div class="col-md-5 plan">
                <h5 style="font-weight: bold; ">  Personal Training &mdash; $45 / session</h5>
                <hr>
                <li> Indoor, outdoor, or in-home </li>
                <li> Free assessments </li>
                <li> Book as you go </li>
              </div>
            </div>


        </div>

        <% if true %>
      </br>
        <hr>
        <div class="team" style="text-align: left; margin-top: 0px">
          <h4 class="home-header"> Meet the Team </h4>
            <div class="head-margin">
              <img class="aki"></img>
              <div style="text-align: center;"> Aki </div>
            </div>

            <div class="head-margin">
              <img class="clare"></img>
              <div style="text-align: center;"> Clare </div>
            </div>

            <div class="head-margin">
              <img class="daniel"></img>
              <div style="text-align: center;"> Daniel </div>
            </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-3" style="height: 1000px; background-color: white; position: fixed; right: 423px; width: 300px">
        <div style="text-align: center; margin-top: 20px;">
          <button class="btn btn-lg btn-default" type="button" style="width: 100%; border-radius: 0px;">
            <span style="color: red; font-weight: bold;"> Subscribe </span>
          </button>
        </div>
        <div style="text-align: center; margin-top: 20px;">
          <button class="btn btn-lg btn-default" type="button" style="width: 100%; border-radius: 0px;">
            <span style="color: red; font-weight: bold;"> View availability </span>
          </button>
        </div>
        <ul style="list-style: none; width: 100%; text-align: left; padding-top: 20px;">
          <li> <a href="http://www.ajcorefitness.com"> Website</a> </li>
          <li> <a href="#"> FB</a> </li>
          <li> <a href="#"> Instagram</a> </li>
          <li> <a href="#"> Twitter</a> </li>
        </ul>
      </div>
    </div>


    </table>
  </div>
</<div>
