<div class="container-fluid" style="background-color: #F3F3F3;">
<p id="notice"><%= notice %></p>

<h1>Businesses</h1>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>user_id</th>
      <th>name</th>
      <th>slug</th>
      <th>email</th>
      <th>description</th>
      <th>phonenumber</th>
      <th>address</th>
      <th>color</th>
      <th>website_url</th>
      <th>fb_url</th>
      <th>instagram_url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.id %></td>
        <td><%= business.user_id %></td>
        <td><%= business.name %></td>
        <td><%= business.slug %></td>
        <td><%= business.email %></td>
        <td><%= business.description %></td>
        <td><%= business.phonenumber %></td>
        <td><%= business.address %></td>
        <td> <span class="glyphicon glyphicon-tint" style="color: #<%= business.color %>"></span></td>
        <td><%= business.website_url %></td>
        <td><%= business.fb_url %></td>
        <td><%= business.instagram_url %></td>
        <td><%= link_to 'Show', business %></td>
        <td><%= link_to 'Edit', edit_business_path(business) %></td>
        <td><%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business', new_business_path %>
</div>
