<div class="container-fluid" style="background-color: white;">
  <div class="container">

    <div class="row sharks-banner">
      <div class="col-md-9" style="height: 375px;">
        <h3 style="color: white; ">

        </h3>
      </div>
      <div class="col-md-3" style="height: 375px; background-color:rgba(0, 0, 0, 0.3); padding-top: 70px; position: fixed; right: 430px; width: 293px">
        <div class="img-container">
          <div style="background-color: white;"><img class="sharks-logo"></img></div>
          <div class="logo-description" style="color: white;">AUSTRALIAN RULES FOOTBALL CLUB</div>



          <% if false %>
          <div class="team">
            <img class="aki head-margin"></img>

            <img class="clare head-margin"></img>

            <img class="daniel head-margin"></img>
          </div>
          <% end %>
      </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-9" style="height: 1000px; background-color: white; padding: 20px;">
        <div class="about-us section-margin">

        </br>
          
          <p>
            <branding>The Victoria Sharks</branding> are an amateur Australian Rules Football Club located around the Greater Victoria area. </br>
            We were founded August 30th 2015 and are actively Recruiting for the 2016 season of the BC AFL
          </p>
        </div>

        <hr>

        <div class="section-margin">
          <h4 class="home-header">
            What we offer
          </h4>



        </div>

        <% if true %>
      </br>
        <hr>
        <div class="team" style="text-align: left; margin-top: 0px">
          <h4 class="home-header"> Meet the Team </h4>
            <div class="head-margin">
              <img class="aki"></img>
              <div style="text-align: center;"> Aki </div>
            </div>

            <div class="head-margin">
              <img class="clare"></img>
              <div style="text-align: center;"> Clare </div>
            </div>

            <div class="head-margin">
              <img class="daniel"></img>
              <div style="text-align: center;"> Daniel </div>
            </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-3" style="height: 1000px; background-color: white; position: fixed; right: 423px; width: 300px">
        <div style="text-align: center; margin-top: 20px;">
          <button class="btn btn-lg btn-default" type="button" style="width: 100%; border-radius: 0px;">
            <span style="color: red; font-weight: bold;"> Subscribe </span>
          </button>
        </div>
        <div style="text-align: center; margin-top: 20px;">
          <button class="btn btn-lg btn-default" type="button" style="width: 100%; border-radius: 0px;">
            <span style="color: red; font-weight: bold;"> View Schedule </span>
          </button>
        </div>
        <ul style="list-style: none; width: 100%; text-align: left; padding-top: 20px;">
          <li> <a href="http://www.ajcorefitness.com"> Website</a> </li>
          <li> <a href="#"> FB</a> </li>
          <li> <a href="#"> Instagram</a> </li>
          <li> <a href="#"> Twitter</a> </li>
        </ul>
      </div>
    </div>


    </table>
  </div>
</<div>
