<div class="container-fluid">
  <%= render 'header' %>

  <%= calendar @date do |date| %>
    <% events = @workout_sessions.where(:date => current_date(date)) %>
    <% events = events.or(@repeating_events.where("workout_sessions.date < ?", date.end_of_day).where("EXTRACT(DOW FROM (workout_sessions.date - interval '7 hours')) = #{ date.wday }").where.not(:group_id => events.pluck(:group_id))) %>
    <% events = events.joins("LEFT JOIN groups ON workout_sessions.group_id = groups.id").joins("LEFT JOIN group_exceptions ON groups.id = group_exceptions.group_id").where("workout_sessions.group_id IS NULL OR groups.repeat_until > '#{ date - 1.day }' OR groups.repeat_until IS NULL", date).where("group_exceptions.date <> '#{ date }' OR group_exceptions.date IS NULL").sort_by { |event| event.date.strftime("%H:%M")} %>

    <%= reminders_for date, @for_user, @reminders do |reminder| %>
      <%= link_to reminders_view_path(reminder), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
        <%= reminder.title %>
        <%= reminder.memo %>
      <% end %>
    <% end %>

    <% if events.any? %>

      <% if @business.view_as_employee?(@for_user) %>
        <% events.each do |event| %>
          <%= render_events_for_employee(event, date, @for_user) %>
        <% end %>
      <% else %>

        <%= start_and_end_day_wrap(date, events) do %>
          <% merge_start_event = nil %>
          <% merge_end_event = nil %>

          <% events.each do |event| %>
            <% if @user_partakes_in.key?(event.id) || is_groupworkout_and_in_futuredate_or_partakes_in(event, @user_partakes_in, date) %>
              <% if merge_start_event  %>
                <%= render 'blank_client', t: event_time_from_to(merge_start_event, merge_end_event) %>
                <% merge_start_event = nil %>
                <% merge_end_event = nil %>
              <% end %>

              <%= render_events_for_client(event, date, @for_user) %>
            <% else %>
              <% if merge_end_event %>
                <% if (merge_end_event.duration + merge_end_event.bfr_to) > (event.date - event.bfr_from) %>
                  <% merge_end_event = event %>
                <% elsif event.date > (Time.zone.now + 24.hours) %>
                  <%= render 'blank_client', t: event_time_from_to(merge_start_event, merge_end_event) %>
                  <%= render 'open_client', t: end_to_start(merge_end_event, event) %>
                  <% merge_start_event = event %>
                  <% merge_end_event = event %>
                <% end %>
              <% else %>
                <% merge_start_event = event %>
                <% merge_end_event = event %>
              <% end %>
            <% end %>
          <% end %>

          <% if date > Time.zone.now && merge_end_event %>
            <%= render 'blank_client', t: event_time_from_to(merge_start_event, merge_end_event) %>
          <% end %>

        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container-fluid legend">
    <strong>Legend:</strong>&ensp;
    <span class="alert-event glyphicon glyphicon-minus"></span> Event
    <span class="alert-info glyphicon glyphicon-minus"></span> Special
    <span class="alert-warning glyphicon glyphicon-minus"></span>  Unpaid
    <span class="alert-success glyphicon glyphicon-minus"></span> Paid &ensp;
    <span class="glyphicon glyphicon-unchecked upcoming"></span> Upcoming
    <span class="glyphicon glyphicon-ok-sign success"></span> Success
    <span class="glyphicon glyphicon-share-alt rescheduled_from"></span> Rescheduled
    <span class="glyphicon glyphicon-remove cancelled"></span> Cancelled
    <span class="glyphicon glyphicon-remove-sign noshow"></span> No show
    <span class="glyphicon glyphicon-flag draft"></span> Pending &ensp;
    <span class="glyphicon glyphicon-exclamation-sign success_re"></span> Success
    <span class="glyphicon glyphicon-unchecked upcoming_re"></span> Upcoming
    </strong>
  </div>
</div>

<div id="workout-sessions-view" class="modal fade">
  <div class="modal-dialog modal-content">
    <div id="show-workout-modal"></div>
  </div>
</div>
</div>
<% if @business.view_as_employee?(current_user) %>
  <div id="reminders-view" class="modal fade">
    <div class="modal-dialog modal-content">
      <div class="modal-body" id="show-reminder-modal"></div>
    </div>
  </div>
<% end %>

<script>
  function change_date(date) {
    <% if @business.view_as_employee?(current_user) %>
      document.getElementById("datetimepicker_createworkout_start").value = date + " 12:00 PM";
      document.getElementById("datetimepicker_createworkout_end").value = date + " 1:00 PM";
      document.getElementById("datepicker_createreminder").value = date;
    <% else %>
      document.getElementById("datetimepicker_createworkout_start").value = date + " 12:00 PM";
      document.getElementById("datetimepicker_createworkout_end").value = date + " 1:00 PM";
    <% end %>
  }

  var classes = <%= raw (@workout_sessions.or(@repeating_events).where.not(:group_id => nil).pluck(:group_id).map { |e| ("day " + e.to_s) }).uniq %>;
  var elms = {};
  var n = {}, nclasses = classes.length;
  function changeColor(classname, color, border) {
      var curN = n[classname];

      for(var i = 0; i < curN; i ++) {
          elms[classname][i].style.backgroundColor = color;
          elms[classname][i].style.borderRight = border;
      }
  }

  for(var k = 0; k < nclasses; k ++) {
      var curClass = classes[k];
      elms[curClass] = document.getElementsByClassName(curClass);
      n[curClass] = elms[curClass].length;
      var curN = n[curClass];
      for(var i = 0; i < curN; i ++) {
          elms[curClass][i].onmouseover = function() {
              changeColor(this.className, "#f3f3f3", "2px solid #FFA07A");
          };
          elms[curClass][i].onmouseout = function() {
              changeColor(this.className, "transparent", "none");
          };
      }
  };
</script>
