<% if current_user %>
  <div class="jumbotron">
    <div class="container">
        <% Business.all.in_groups_of(3).each do |bgroup| %>
          <div class="row">
            <% bgroup.each do |business| %>
              <% if business %>
                <div class="col-md-3">
                  <div class="card">
                    <% if business.avatar.url %>
                      <%= image_tag(business.avatar.url, alt: 'Logo', class: 'card-img') %>
                    <% else %>
                      <div class="card-img" style="width: 100%; height: 100%;">
                      </div>
                      <%= image_tag("undefined-avatar.png", alt: 'Logo', class: 'card-img') %>
                    <% end %>
                    <div class="container">
                      <h4><%= link_to business.name, businesses_calendar_path(business.slug) %></h4>
                      <p>
                        <small>
                          <% if business.owner == current_user %>
                            (Owner)
                          <% else %>
                          <% if (subscription = business.get_subscription(current_user.id)) %>
                            <% if subscription.subscribed? %>
                              <%= link_to "Unsubscribe", subscriptions_unsubscribe_path(:id => subscription.id), method: :patch, data: { confirm: "Unsubscribe from #{ business.name }?" } %>
                            <% elsif subscription.pending? %>
                              <%= link_to "Pending (cancel)", subscriptions_unsubscribe_path(:id => subscription.id), method: :patch, data: { confirm: "Unsubscribe from #{ business.name }?" } %>
                            <% elsif subscription.deactivated? || subscription.unsubscribed? %>
                              <%= link_to "Subscribe", subscriptions_subscribe_path(:business_id => business.id, :user_id => current_user.id), method: :patch %>
                            <% end %>
                          <% else %>
                            <%= link_to "Subscribe", subscriptions_subscribe_path(:business_id => business.id, :user_id => current_user.id), method: :patch %>
                          <% end %>
                          <% end %>
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>

<% else %>
  <div class="jumbotron " style="background-color: inherit; height: 600px; color: white;">
    <div class="container">
      <div class="row" style=>
        <div class="col-md-7">
          <h1 style="text-align: left; letter-spacing: .3em; ">PERSONAL TRAINING</h1>
          <hr>
          <h1 style="text-align: left; letter-spacing: .4em; color: #FFA07A;">MADE EASY. </h1>
        </div>
      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-md-7">
          <%= link_to "Log in", login_url, class: "btn btn-default btn-lg", style: "font-weight: bold;" %>
          <%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg", style: "color:#FFA07A; font-weight: bold; margin-left: 25px;" %>
        </div>
      </h1>
      </div>

    </div>
  </div>
  <div class="jumbotron" style="background-color: white; height: 100px; margin: 0px; padding: 0px;">
    <div class="container">
      <ul class="nav nav-pills" style="width: 100%;">
        <li role="presentation" class="li-four-points" style="margin: 0px;">
          <a class="a-point" href="#">
            <span class="glyphicon glyphicon-user glyph-point"></span>
            Manage clients
          </a>
        </li>
        <li role="presentation" class="li-four-points" style="margin: 0px;">
          <a class="a-point" href="#">
            <span class="glyphicon glyphicon-calendar glyph-point"></span>
            Schedule sessions
          </a>
        </li>
        <li role="presentation" class="li-four-points" style="margin: 0px;">
          <a class="a-point" href="#">
            <span class="glyphicon glyphicon-usd glyph-point"></span>
            Billing / invoices
          </a>
        </li>
        <li role="presentation" class="li-four-points" style="margin: 0px;">
          <a class="a-point" href="#">
            <span class="glyphicon glyphicon-scale glyph-point"></span>
            Workout history
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="jumbotron" style="height: 500px; margin: 0px; padding-top: 150px;">
    <div class="container">
      <h1>Focus on training, not bookkeeping </h1>
      <p style="text-align: center;"> Keep track of monthly payments with automatically generated invoices. </br>
        F!Trackular keeps track of who pays when, and how much. </p>
    </div>
  </div>

  <div class="jumbotron" style="height: 500px; margin: 0px; padding-top: 150px; background-color: #FFA07A; color: white">
    <div class="container">
      <div class="col-md-9">
        <h1> Let clients book themselves </h1>
        <p style="text-align: center;"> Clients draft a training schedule based on your availability, then you approve it. </br>
          F!Trackular encourages clients to book efficiently. </p>
      </div>
    </div>
  </div>

  <div class="jumbotron" style="height: 500px; margin: 0px; padding-top: 150px; background-color: #3B2F63; color: white">
    <div class="container">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <h1> Get to know your clients through customized profiles </h1>
        <p style="text-align: center;"> Track training goals, past injuries, and deadlines. </br>
          F!Trackular does it all for you.
          </p>
      </div>
    </div>
  </div>

  <div class="jumbotron" style="height: 500px; margin: 0px; padding-top: 150px;">
    <div class="container">

        <h1> Why wait? </h1>
        <p style="text-align: center;"> <a href="#" style="font-weight: bold;"> Sign up </a> now, and get the full benefits for $25 / month.<p>

    </div>
  </div>
<% end %>
<% if current_user && current_user.admin %>
  <div style="background-color: red; height: 10px; width: 100%"></div>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#viewGroupSessionsModal">Book Session</button>


  <div style="background-color: blue; height: 10px; width: 100%"></div>

  <div id="viewGroupSessionsModal" class="modal fade" role="dialog">
  </div>

  <script src="https://www.fitrackular.com/jumpingfitnessvictoria/view_available_groupsessions_embedded" type="text/javascript"></script>

<% end %>
