<% if change.code == 0 %>
  <strong> created </strong> session. <span style="font-size: .8em; color: gray;"> <%= change.created_at.strftime("%B %-d, %Y") %> </span>
<% elsif change.code == 18 %>
  <strong> removed </strong> session. <span style="font-size: .8em; color: gray;"> <%= change.created_at.strftime("%B %-d, %Y (%-l:%M%p)") %> </span>
<% elsif [13, 6, 1].include?(change.code) %>
  <strong> changed </strong> the <%= change.get_attribute_name %> of a session from <%= change.get_old_value %> to <%= change.get_new_value %>
<% end %>
