<% if change.code == 0 || (change.code == 18 && change.value == 't') %>
  <strong> joined </strong> a session. <span style="font-size: .8em; color: gray;"> <%= change.created_at.strftime("%B %-d, %Y - %-l:%M%p") %> </span>
<% elsif change.code == 18 %>
  <strong> left </strong> a session. <span style="font-size: .8em; color: gray;"> <%= change.created_at.strftime("%B %-d, %Y - %-l:%M%p") %> </span>
<% end %>
