Hi <%= @user.shortname %>,

Thank you for verifying your email!

<%= account_activations_activate_url(id: @user.activation_token, email: @user.email) %>

If this is not you, please click the following link so we can remove your email:

<%= account_activations_blacklist_url(email: @user.email) %>

All the best,
The Fitrackular Team
https://www.fitrackular.com
