  <%= render 'layouts/mailer_header', title: "Notification for" %>

<%= render 'layouts/mailer_body_table' do %>
  <tr>
    <td style="padding: 40px 50px 20px 50px;">
      The following sessions have been booked at <span style="font-weight: bold; color: <%= @business.color || "steelblue" %>"> <%= @business.name %></span>:
    </td>
  </tr>
  <tr>
    <td style="padding: 5px 50px 5px 50px;">
      <% @changes.group_by(&:user_id).each do |group, changes| %>
        <table>
          <tr>
            <td style="font-size: 1.2em;">
              <%= changes.first.get_username %>
            </td>
          </tr>
          <% changes.group_by(&:row).each do |row, inner_changes| %>
          <tr>
            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="padding-bottom: 10px; font-size: .8em; color: gray; width: 40px;">
                    #<%= row %>
                  </td>
                  <td style="padding-bottom: 10px;">
                    <%= mailer_date_strftime(inner_changes.first.get_workout_from_row_record.date) %>
                  </td>
                </tr>
                <% inner_changes.each do |change| %>
                  <tr>
                    <td style="padding: 0px 0px 5px 45px; font-size: .9em;" colspan=2>
                      <% if change.workout_sessions? %>
                        <%= render 'application_mailer/booking_notification_workout', change: change %>
                      <% else %>
                        <%= render 'application_mailer/booking_notification_user_workout', change: change %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </table>
              <hr>
            </td>
          </tr>
          <% end %>
      </table>
    <% end %>
    </td>
  </tr>
  <tr>
    <td style="padding-bottom: 20px;">
    </td>
  </tr>
<% end %>
