Hi <%= @user.shortname %>

Welcome to Fitrackular and thanks for signing up!

Click here to active your account:


Fitrackular is currently a service by AJCore Fitness (http://www.ajcorefitness.com) for booking sessions online, but we're working on making it much more!
If you have any feedback or suggestions, feel free to contact me at dtavaszi@sfu.ca.

All the best,

The Fitrackular Team
https://fitrackular.com
