<%= render 'layouts/mailer_header', title: "Session reminder for" %>

<%= render 'layouts/mailer_body_table' do %>
  <tr>
    <td style="padding: 40px 50px 20px 50px; text-align: center;">
      You have <%= pluralize(@user_workouts.count, "session") %> coming up soon:
      <table style="padding: 35px 15px 15px 15px; margin: 0 auto;">
        <% @user_workouts.each do |uw| %>
        <tr>
          <td>
            <%= mailer_date_strftime(uw.workout_session.date) %>
            <hr>
          </td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
<% end %>
<table style="width: 100%; text-align: center; margin-top: 10px;">
  <tr>
    <td style="color: gray; font-size: .9em;">
      To stop receiving reminders, please <%= link_to "go to settings", settings_url(@user), style: "text-decoration: none;" %>
    </td>
  </tr>
</table>
