<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
      body { font-family: Arial;  }
    </style>
  </head>
  <body>
    <div style="margin: auto; width: 600px; background-color: #272d4e;">
      <div style="width: 100%; height: 30px; padding: 10px;">
        <span style="float: left; font-size: 3em; color: #FFA07A; font-weight: bold;">F!TRACK</span>
        <span style="float: left; font-size: 1.8em; color: #F3F3F3; font-weight: bold; margin-top: 5px;">ULAR.</span>
      </div>
    <br />
      <div style="background-color: #f3f3f3; padding: 10px;">
        Hi <%= @user.shortname %>, <br />
        <br />
        Welcome to Fitrackular and thanks for signing up! <br />
        <br />

        <%= link_to "Activate account", account_activations_activate_url(@user.activation_token, email: @user.email) %> <br />

        <br />

        Fitrackular is currently a service by <a href="http://www.ajcorefitness.com">AJCore Fitness</a> for booking sessions online, but we're working on making it much more! <br />
        If you have any feedback or suggestions, feel free to contact me at <a href="mailto:dtavaszi@sfu.ca?Subject=Fitrackular%20feedback" target="_top">dtavaszi@sfu.ca.</a> <br />
        <br />
        <b>All the best,</b> <br />
        <br />
        The Fitrackular Team <br />
        <a href="https://www.fitrackular.com">https://fitrackular.com </a>
      </div>
    </div>
  </body>
</html>
