Hi <%= @user.shortname %>

Welcome to Fitrackular and thanks for signing up!

Click here to active your account:

    <%= account_activations_activate_url(@user.activation_token, email: @user.email) %>

Fitrackular is currently a service by AJCore Fitness (http://www.ajcorefitness.com) for booking sessions online, but we're working on making it much more!
If you have any feedback or suggestions, feel free to contact me at dtavaszi@sfu.ca.

All the best,

The Fitrackular Team
https://fitrackular.com
