<div class="row" style="padding-bottom: 50px; padding-top: 50px;">
	<div class="col-md-6 col-md-offset-3 shdw bg-white" style="padding-bottom: 15px;">
<h1>Editing Membership</h1>

<%= render 'form', membership: @membership %>

<%= link_to 'Back', business_memberships_path(:business_id => @membership.business.slug) %>

</br>
</br>
<% if @membership.users.any? %>
  <span class="glyphicon glyphicon-exclamation-sign rescheduled_from"></span> Can only be removed if no clients are using this membership: </br>
  <% (mu = @membership.users).each do |usr| %>
    <%= link_to usr.name, user_billing_for(usr) %>
    <% unless mu.last == usr %>
     <%= " ," %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to business_membership_path(@membership.business.slug, @membership), method: :delete, data: { confirm: 'Remove membership?' }, :class=>"btn btn-danger" do %>
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Destroy
  <% end %>
<% end %>
</div>
</div>
