<div class="container-fluid">
  <h1>Memberships</h1>

  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#membership-new">
    <span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
    <span class="btn-text">New Membership</span>
  </button>

  <div id="membership-new" class="modal fade">
    <div class="modal-dialog modal-content">
      <div class="modal-body">
        <%= render 'memberships/new' %>
      </div>
    </div>
  </div>
  <table class="table table-striped shdw" style="margin-top: 15px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Used by</th>
        <th>Available</th>
        <th>Cost</th>
        <th>Tax</th>
        <th>Max Sessions</th>
        <th>Max Transfers</th>
        <th>Available From</th>
        <th>Available To</th>
        <th colspan=2></th>
      </tr>
    </thead>

    <tbody>
      <% @memberships.each do |membership| %>
        <tr>
          <td><%= membership.name %></td>
          <td><%= membership.description %></td>
          <td><%= membership.users.pluck(:email) %></td>
          <td><%= membership.available %></td>
          <td><%= number_to_currency(membership.cost, :unit => "$") %></td>
          <td><%= membership.tax ? membership.tax.name : "-" %></td>
          <td><%= membership.max_workouts %></td>
          <td><%= membership.max_transfers %></td>
          <td><%= membership.available_from.strftime("%B %-d, %Y") %></td>
          <td><%= membership.available_to.strftime("%B %-d, %Y") %></td>
          <td>
              <%= link_to edit_business_membership_path(@business.slug, membership) do %>
                <span class="glyphicon glyphicon-pencil circ-btn"></span>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
