<div class="container-fluid" style="background-color: #F3F3F3; height: 100%;">
<h1>New Membership</h1>

<%= simple_form_for [@business, @membership] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :available %>
    <%= f.input :cost %>
    <%= f.input :tax_id, collection: Tax.where(:available => true), include_blank: "None" %>
    <%= f.input :max_workouts %>
    <%= f.input :max_transfers %>
    <%= f.input :available_from %>
    <%= f.input :available_to %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Back', memberships_path %>
</div>
