<div class="container-fluid" style="background-color: #F3F3F3; height: 100%;">
  <%= @membership.name %>
  <%= @membership.description %>
  <%= @membership.available %>

  <%= link_to 'Edit', edit_membership_path(@membership) %> |
  <%= link_to 'Back', memberships_path %>
</div>
