<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header embedded-logo-header">
      <button type="button" class="close white-font" data-dismiss="modal">&times;</button>
      <%= link_to root_path, :id => "logo_main" do %>
         <span class="embedded-login-logo-1">F!TRACK</span>
         <span class="embedded-login-logo-2">ULAR. </span>
         </br>
         <span id="ajcorefitness" style="margin: 0 auto;"><%= @business.name if @business %></span>

       <% end %>
    </div>
    <div class="modal-body" style="background-color: #272d4e">

      <div style="display:table; height: 60vh; width: 100%; margin-bottom: 15px;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">

         <h5 style="display: inline-block; margin-bottom: 80px;">

          </h5>

    			<%= simple_form_for :session, url: business_login_url(@business.slug, format: "js"), remote: true, html: { style: "max-width: 280px; margin: 0 auto;"} do |f| %>
    				<div class="input-group input-group">
    					<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
    					<%= f.input :email, label: false, :placeholder => "Email address" %>
    				</div>

    				<div class="input-group input-group" style="margin-bottom:20px;">
    					<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock"></span></span>
    					<%= f.input :password, label:false, :placeholder => "Password" %>
    				</div>

              <div style="float: left;"><%= f.submit "Log in", class: "btn btn-primary", style: "width: 130px;" %></div>
              <div style="float: right;"><%= link_to "Sign up", signup_path, :class => "btn btn-default", :style => "width: 130px; color:#FFA07A; font-weight: bold;" %></div>
         <% end %>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
