<% provide(:title, "Log in") %>
	<div style="display:table; height: 80vh; width: 100%; margin-bottom: 15px;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">

     <h5 style="display: inline-block; margin-bottom: 80px;">
     <%= link_to root_path, :id => "logo_main" do %>
        <span id="logo">F!TRACK</span>
        <span id="logo2">ULAR. </span>
        </br>
        <span id="ajcorefitness" style="margin: 0 auto;"><%= @business.name if @business %></span>

      <% end %>
      </h5>

			<%= simple_form_for :session, url: @business ? business_login_path : login_path, html: { style: "max-width: 280px; margin: 0 auto;"} do |f| %>
				<div class="input-group input-group">
					<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
					<%= f.input :email, label: false, :placeholder => "Email address" %>
				</div>

				<div class="input-group input-group" style="margin-bottom:20px;">
					<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock"></span></span>
					<%= f.input :password, label:false, :placeholder => "Password" %>
				</div>

          <div style="float: left;"><%= f.submit "Log in", class: "btn btn-primary", style: "width: 130px;" %></div>
          <div style="float: right;"><%= link_to "Sign up", signup_path, :class => "btn btn-default", :style => "width: 130px; color:#FFA07A; font-weight: bold;" %></div>
     <% end %>
    </div>
  </div>
