<%= simple_form_for([@business, @invoice]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :id, :label => false, input_html: { placeholder: "Invoice ID" } %>
		<%= f.input :title, :label => false, input_html: { placeholder: "Optional memo.." } %>
		<div style="position:relative">
			<%= f.input :date, as: :string, :label => false, input_html: { id: "datepicker_paydate", value: Time.zone.now.strftime('%m/%d/%Y')} %>
		</div>
    <%= f.association :user, selected: @selected %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
