<div class="container-fluid">
	<% if show_controls? %>
		<div class="row">
			<div class="col-md-3">

				<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#payments-new">
					<span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
					<span style="color:#4F94CD; font-weight:bold;">New payment</span>
        </button>

				</br></br>

				<div id="payments-new" class="modal fade">
			    <div class="modal-dialog modal-content">
			      <div class="modal-body">
							<%= render 'payments/new' %>
						</div>
			    </div>
			  </div>

			</div>
			<% if @invoice.user.credit > 0 && @invoice.balance < 0 %>
				<div class="col-md-3" style="padding-top: 5px;">
					<%= link_to business_invoices_pay_with_credit_path(@business.slug, @invoice), method: :patch, :class => "btn btn-default", :style => "width: 128.84px;" do %>
						<span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
						<span style="color:#4F94CD; font-weight:bold;">Use Credit </span>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
  <table class="table borderless shdw">
    <tr>
      <th>Date</th>
      <th>Payment Type</th>
      <th>Amount</th>
			<th></th>
    </tr>

    <% total_pay = 0 %>
    <% @invoice.payments.each do |payment| %>
      <% total_pay += payment.amount if payment.amount %>
      <%= content_tag :tr, id: "payment-#{payment.id}" do %>
        <td>
        <%= link_to business_payments_path(@business.slug, payment) do %>
          <%= payment.paydate.strftime("%-d %b, %Y") %>
        <% end %>
        <% unless payment.memo.blank? %>
          <span class="glyphicon glyphicon-question-sign alert-warning" data-title="Memo" data-toggle="popover" data-trigger="hover" data-html="true" data-content="<%= payment.memo %>"></span>
        <% end %>
        </td>
        <td><%= payment.payment_type.upcase %></td>
        <td><%= "$" + number_with_precision(payment.amount, :precision => 2).to_s %></td>

        <% if show_controls? %>
          <td width="20px">
            <%= link_to business_payment_path(@business.slug, payment), method: :delete, data: { confirm: "Void payment for $#{ payment.amount }?"}, remote: true do %>
							<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
            <% end %>
          </td>

        <% end %>
      <% end %>
    <% end %>
    <tr style="border-top: 2px solid black;">
      <td></td>
      <td>
        <strong>Total</strong>
      </td>
      <td>
        <strong><%= "  $" + number_with_precision(total_pay, :precision => 2).to_s + " CAD" %>
      </td>
			<td></td>
    </tr>
  </table>
</div>
