<div class="container-fluid">
	<%= render 'table_finalized' %>

	<table class="table borderless" style="width: 400px; float: right;">
		<tr>
			<td class="price-subcategory">
				Subtotal
			</td>
			<td>
				<%= number_to_currency(@subtotal, :unit => "$") %>
			</td>
		</tr>
		<tr>
			<td class="price-subcategory">
				Discount
			</td>
			<td>
				<%= number_to_currency(0, :unit => "$") %>
			</td>
		</tr>
		<tr>
			<td class="price-subcategory">
				Tax
			</td>
			<td>
				<%= number_to_currency(@total_tax, :unit => "$") %>
			</td>
		</tr>
		<tr>
			<td class="price-subcategory">
				Total
			</td>
			<td>
				<%= number_to_currency(@total, :unit => "$") %>
			</td>
		</tr>
		<tr style="border-bottom: 2px solid black;">
			<td class="price-subcategory">
				Paid
			</td>
			<td>
				<%= number_to_currency(@invoice.payments.sum(:amount), :unit => "$") %>
			</td>
		</tr>


		<tr>
			<td>
				<strong>Balance</strong>
			</td>
			<td>
				<% if @balance >= 0 %>
					<strong style="color:green"><%= number_to_currency(0, :unit => "$") %></strong>
				<% else %>
					<strong style="color:red"><%= number_to_currency(@balance, :unit => "$") %></strong>
				<% end %>
			</td>
		</tr>
		<% if @balance > 0 %>
		<tr class="alert-info">
			<td>
				<strong>Carry Forward</strong>
			</td>
			<td>
					<strong><span style="font-weight:bolder;">&plus;</span>
					<%= number_to_currency(@balance, :unit => "$") %></strong>
			</td>
		</tr>
		<% end %>
	</table>
	</br>



</div>

<div class="view-footer">
	<% if !@invoice.title.empty? %>
		<h5 style="padding:0; text-align:center">
			<em>Notes: <%= @invoice.title %></em>
		</h5>
	<% end %>
	<h4 style="padding:0; text-align:center">
		<%= @business.name %> </br>
		<%= @business.address %>
	</h4>
</div>
