<div class="container-fluid">
  <div class="row" style="width:100%">
      <div class="col-md-6">
          <%= render 'table_selected' %>
      </div>
      <div class="col-md-6">
          <%= render 'table_available' %>
      </div>
  </div>
</div>
