<div class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<table class="table shdw">
				<thead>
					<tr>
						<% if show_controls? %>
							<th><input type="checkbox" id="selectAllAvailable" value="selectAll"></th>
						<% end %>
						<th>Name</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Tax</th>
						<th colspan=2>Options</th>
					</tr>
				</thead>

				<tbody>
					<% @invoice_items.each do |invoice_item| %>
						<tr class="invoice_trigger">
							<% if show_controls? %>
								<td style="width:28px;">
									<%= check_box_tag "invoice_items_ids[]", invoice_item.id %>
								</td>
							<% end %>
							<td><%= invoice_item.item.name %></td>
							<td><%= invoice_item.quantity %></td>
							<td><%= invoice_item.item.price %></td>
							<td><%= invoice_item.item.tax.name if invoice_item.item.tax %></td>
							<td><%= link_to 'Remove', invoice_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
			<% if show_controls? %>
				<%= simple_form_for [@business, @invoice.invoice_items.new] do |f| %>
					<div class="row">
						<div class="col-md-4">
							<%= f.input :item_id, collection: @items, label: false, prompt: "Select an item" %>
							<%= f.input :invoice_id, :as => :hidden, :input_html => { value: @invoice.id} %>
						</div>
						<div class="col-md-4">
							<%= f.input :quantity, label: false, placeholder: "Enter a quantity" %>
						</div>
						<div class="col-md-4">
							<%= f.submit "Add", class: "btn btn-sm btn-primary" %>
						</div>
					</div>
				<% end %>
			<% end %>


		</div>
	</div>
</div>
