<table class="table table-hover table-condensed table-striped table-responsive tbl-fnt shdw">
	<tbody id="sortable">
		<% invcs.reorder(date: :desc).group_by { |m| m.date.beginning_of_month }.each do |m, invoices| %>
				<thead style="text-align: center;">
				 <tr <%= raw('style= "border-left:2px solid #FFA07A"') if m.beginning_of_month == Time.zone.now.beginning_of_month.to_date %>>
					<th><%= m.strftime("%Y %b") %></th>
					<th><span class="glyphicon glyphicon-user"></span></th>
					<th>DATE</th>
					<th>SESSIONS</th>
					<th>AMOUNT</th>
					<th>BALANCE</th>
					<th style="text-align: center;">STATUS</th>
					<th style="text-align: center;">RECONCILIATION</th>
					<th style="text-align: center;">OPTIONS</th>
				</tr>
			</thead>
			<% invoices.each do |invoice| %>
				<% current_cost = invoice.user_workouts.includes(:workout_session).where("workout_sessions.status" => [0,3]).sum(:cost).to_f / 100 %>

				<% if !invoice.processed %>
					<% processed = "bg-info" %>
				<% elsif current_cost != invoice.amount %>
					<% processed = nil %>
				<% else %>
					<% processed = "bg-success" %>
				<% end %>

				<tr style="color: #333;">
					<td>#<%= invoice.id %></td>
					<td>
						<%= link_to business_invoice_path(:id => invoice.id) do %>
							<%= invoice.user.name.upcase %>
						<% end %>
					</td>
					<td>
						<%= invoice.date.strftime("%Y %b %-d (%a)") %>
					</td>

					<% this_sessions = get_invoice_workout_count(invoice) %>
					<% @monthly_sessions += this_sessions %>
					<td><%= this_sessions %></td>
					<% if true || invoice.processed %>
						<% this_amount = invoice.amount %>
						<% @monthly_cost += this_amount %>
						<td><%= number_to_currency(this_amount, :unit => "$") %></td>
					<% else %>
						<% this_monthly_cost = get_current_amount(invoice) %>
						<% @monthly_cost += this_monthly_cost %>
						<td><%= number_to_currency(invoice.total_cost, :unit => "$") %></td>
					<% end %>
					<% this_difference = invoice.payments.sum(:amount) - invoice.amount %>
					<% @monthly_difference = this_difference %>
					<td><%= number_to_currency(this_difference, :unit => "$") %></td>
					<td style="text-align: center;">
						<% if invoice.processed %>
							<span class='glyphicon glyphicon-ok success' data-toggle="tooltip" title="Settled"></span>
						<% elsif invoice.payments.any? %>
							<span class='glyphicon glyphicon-adjust rescheduled_from' data-toggle="tooltip" title="Partial payment"></span>
						<% else %>
							<span class='glyphicon glyphicon-remove noshow' data-toggle="tooltip" title="No payments"></span>
						<% end %>
					</td>
					<td style="text-align: center;">
						<% if invoice.reconciled? %>
							<i class="fa fa-balance-scale success font-bold" aria-hidden="true" data-toggle="tooltip" title="Reconciled"></i>
						<% end %>
					</td>
					<td style="text-align: center;">
						<%= link_to business_invoice_path(:id => invoice.id), :class => "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-zoom-in btn-icon"></span>
							<span class="btn-text"> View </span>
						<% end %>

						<% if invoice.processed %>
							<%= link_to invoices_reconcile_path(:id => invoice.id), :class => "btn btn-default btn-sm", method: :patch do %>


								<% if invoice.reconciled? %>
									<i class="fa fa-balance-scale noshow font-bold" aria-hidden="true"></i> Cancel
								<% else %>
									<i class="fa fa-balance-scale btn-icon font-bold" aria-hidden="true"></i>
									<span class="btn-text"> Reconcile </span>
								<% end %>
							<% end %>
						<% end %>
					</td>
				</tr>
			<% end %>
			<% if false %>
			<tr style="background-color: #f5f5f5; border: none;">
				<td colspan=9 style="height: 20px;">
				</td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<script>$("#sortable").sortable();</script>
