<div class="container-fluid">
  <%= simple_form_for [@business, @invoice], input_html: { class: "form-inline" } do |f| %>
    <div class="row">
      <div class="col-md-3">
				<%= image_tag "wolf_card.jpg", class: "profile-img" %>
      </div>
      <div class="col-md-9">
				<div class="row">
					<div class="col-md-3">
						<%= f.input :membership_id, collection: Membership.where(:available => true), include_blank: "None", disabled: !show_controls?, label: false %>
					</div>
          <% if show_controls? %>
					<div class="col-md-3">
						<%= f.submit "Update", class: "btn btn-sm btn-primary" %>
					</div>
          <% end %>
				</div>

				<% if @invoice.membership %>
					<div>
						<p> <%= @invoice.membership.description %> </p>
					</div>

					<div class="row" style="height: 29px;">
						<div class="col-md-4 billing_category">Monthly Cost</div>
						<div class="col-md-3"><%= number_to_currency(@invoice.membership.cost, :unit => "$") %></div>
					</div>


					<div class="row" style="height: 29px;">
						<div class="col-md-4 billing_category">Max Sessions</div>
						<div class="col-md-3"><%= @invoice.membership.max_workouts %></div>
					</div>


					<div class="row" style="height: 29px;">
						<div class="col-md-4 billing_category">Max Free Transfers</div>
						<div class="col-md-3"><%= @invoice.membership.max_transfers %></div>
					</div>

					<div class="row" style="height: 29px;">
						<div class="col-md-4 billing_category">Additional Transfer Charge</div>
						<div class="col-md-3"><%= number_to_currency(5, :unit => "$") %></div>
					</div>
				<% end %>
      </div>
    </div>
  <% end %>
</div>
