<div class="row">
	<% if false %>
	<div class="col-md-3 f-c">
		<div class="h4 font-bold no-m-b"> <%= @business.invoices.count %> </div>
		<small class="text-muted"> Total  </small>
	</div>
	<div class="col-md-3 f-c">
		<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Invoices  </small>
	</div>
	<div class="col-md-3 f-c">
		<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Invoices  </small>
	</div>
	<div class="col-md-3 f-c">
		<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Invoices  </small>
	</div>
	<% end %>
</div>


<%= invoicerevenue_over_time_linechart(@date_range, "250px") %>

<div class="row m-t">
	<div class="col-md-4 f-c">
		<div class="h4 font-bold no-m-b font-success"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Settled  </small>
	</div>
	<div class="col-md-4 f-c">
		<div class="h4 font-bold no-m-b"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Pending </small>
	</div>
	<div class="col-md-4 f-c">
		<div class="h4 font-bold no-m-b font-danger"> <%= number_to_currency(Random.rand(250), :unit => "$") %> </div>
		<small class="text-muted"> Unpaid </small>
	</div>
</div>
