<h1>New Invoice</h1>

<%= simple_form_for [@business, @business.invoices.new] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :id, :label => false, input_html: { placeholder: "Invoice ID (Optional)" } %>
		<%= f.input :title, :label => false, input_html: { placeholder: "Memo (Optional)" } %>
		<div style="position:relative">
			<%= f.input :date, as: :string, :label => false, input_html: { id: "datepicker", value: Time.zone.now.strftime('%m/%d/%Y')} %>
		</div>
    <%= f.association :user, selected: @selected %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
