<%= form_tag setoptions_business_user_workouts_path(:business_id => @invoice.business_id), method: :put do %>
	<table class="table table-hover shdw">
			<th colspan=6 style="text-align:center;"> Available </th>
			<tr>
				<% if show_controls? %>
					<th><input type="checkbox" id="selectAllItemsAvailable" value="selectAll"></th>
				<% end %>
				<th> Status </th>
				<th> Date </th>
				<th> Type </th>
				<th> Cost </th>
			</tr>

			<% total = 0 %>
			<% @available_workouts.each do |uw| %>
			<tr class="invoice_trigger alert-info">
				<% if show_controls? %>
					<td style="width:28px;">
						<%= check_box_tag "user_workout_ids[]", uw.id %>
					</td>
				<% end %>
				<td>
					<%= raw(workout_status(uw.workout_session)) %>
				</td>
				<td>
					<% @rescheduled_from = @reschedules.where(:link => uw.workout_session.id) %>
					<% if @rescheduled_from && !@rescheduled_from.empty? %>
						<% ws_from = WorkoutSession.find(@rescheduled_from.first.workout_session_id) %>
						<%= link_to business_workout_session_path(@business.slug, ws_from) do %>
							<%= raw ws_from.date.strftime("%-d %b, %Y <small>%H:%M</small>") %>
						<% end %>
						<span class="glyphicon glyphicon-share-alt rescheduled_from"></span>
					<% end %>
					<%= link_to business_workout_session_path(@business.slug, uw.workout_session) do %>
						<%= raw uw.workout_session.date.strftime("%-d %b, %Y <small>%H:%M</small>") %>
					<% end %>
				</td>
				<td>
          <%= WorkoutSession.eventtype_string(uw.workout_session.eventtype) %>
        </td>
				<td>
					<% if uw.cost %>
						<%= uw.cost > 0 ? "$" + number_with_precision(uw.cost, :precision => 2).to_s : "FREE" %>
					<% else %>
						FREE
					<% end %>
					<% @total_cost += uw.cost if uw.cost %>
				</td>
			</tr>
		<% end %>
			<tr>
				<% if show_controls? %>
					<td></td>
				<% end %>
				<td><%= @available_workouts.count %></td>
				<td></td>
				<td><strong>Subtotal</strong></td>
				<td>
					<strong><%= "$" + number_with_precision(total, :precision => 2).to_s + " CAD" %></strong>
				</td>
			</tr>
	</table>

	<% if show_controls? %>
		<%= hidden_field_tag :invoice_id, @invoice.id %>
		<%= submit_tag "Add to Invoice", :class => "btn btn-default", :style => "color:#4F94CD; font-weight:bold;" %>
	<% end %>

	</br></br>

<% end %>
