<% @total_cost = 0 %>

<table class="table borderless" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);">
	<thead style="background-color: #fafafa">
		<tr>
			<th> Item </th>
			<th> Price </th>
			<th> Qty </th>
			<th> Discount </th>
	    <th> Tax code</th>
	    <th> Tax </th>
	    <th> Amount </th>
		</tr>
	</thead>
  <% if @invoice.membership %>
    <tr>
      <td><%= @invoice.membership.name %></td>
      <td><%= number_to_currency(@invoice.membership.cost, :unit => "$") %></td>
      <td> 1 </td>
      <td></td>
      <td><%= @invoice.membership.tax.name if @invoice.membership.tax %></td>
      <td><%= number_to_currency(@invoice.membership.tax_amount, :unit => "$")%></td>
      <td><%= number_to_currency(@invoice.membership.cost_with_tax, :unit => "$")%></td>
      <% @total_cost += @invoice.membership.cost_with_tax %>
    </tr>

    <% if @finalized_workouts.where(:membership => false).count > 0 %>
			<% @finalized_workouts.joins(:workout_session).where(:membership => false, workout_sessions: { status: WorkoutSession.billable_status }).group_by{|i| i.cost}.each do |cost_group, fws| %>
				<tr>
					<td>Additional Sessions</td>
					<td><%= cost_group %></td>
					<td><%= fws.count %></td>
					<td></td>
					<td><%= fws.first.workout_session.tax.name if fws.first.workout_session.tax %></td>
					<td><%= number_to_currency(fws.count * cost_group * (fws.first.workout_session.tax_rate - 1), :unit => "$") %></td>
					<td><%= number_to_currency(fws.count * cost_group * (fws.first.workout_session.tax_rate), :unit => "$") %></td>
				</tr>
			<% end %>
		<% end %>
	<% else %>
		<% if @finalized_workouts.where(:membership => false).count > 0 %>
			<% @finalized_workouts.group_by{|i| i.cost}.each do |cost_group, fws| %>
				<% if cost_group > 0 %>
					<tr>
						<td>Workout Sessions</td>
						<td><%= number_to_currency(cost_group, :unit => "$") %></td>
						<td><%= fws.count %></td>
						<td></td>
						<td><%= fws.first.workout_session.tax.name if fws.first.workout_session.tax %></td>
						<td><%= number_to_currency(fws.count * cost_group * (fws.first.workout_session.tax_rate - 1), :unit => "$") %></td>
						<td><%= number_to_currency(fws.count * cost_group * (fws.first.workout_session.tax_rate), :unit => "$") %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<% @invoice.payments.Adjustment.each do |adjustment| %>
		<%= render 'payments/payment_adjustment_row', adjustment: adjustment %>
	<% end %>
	<% @invoice_items.each do |ii| %>
		<tr>
			<td> <%= ii.item.name %> </td>
			<td> <%= number_to_currency(ii.item.price, :unit => "$") %> </td>
			<td> <%= ii.quantity %> </td>
			<td>  </td>
			<td> <%= ii.item.tax.name if ii.item.tax %> </td>
			<td> <%= number_to_currency(ii.total_tax, :unit => "$") if ii.item.tax %> </td>
			<td> <%= number_to_currency(ii.total_cost, :unit => "$") %> </td>
		</tr>
	<% end %>
</table>
