<%= simple_form_for :invoice_cost, { url: setoptions_business_user_workouts_path(:business_id => @invoice.business_id), method: :put } do |f| %>
  <%= hidden_field_tag :invoice_id, nil %>
	<table class="table table-hover" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);">
			<th colspan=6 style="text-align:center;"> Selected </th>
			<tr>
        <% if show_controls? %>
				    <th><input type="checkbox" id="selectAllFinalized" value="selectAll"></th>
        <% end %>
				<th> Status </th>
				<th> Date </th>
        <th> Type </th>
				<th> Cost </th>
				<th> Tax </th>
			</tr>
			<% @total_cost = 0 %>
			<% @selected_workouts.each do |uw| %>
      <% uw.membership ? row_highlight = "alert-warning" : row_highlight = "alert-success" %>
			<tr class="invoice_trigger <%= row_highlight %>">
        <% if show_controls? %>
  				<td style="width:28px;">
  					<%= check_box_tag "user_workout_ids[]", uw.id %>
  				</td>
        <% end %>
				<td>
					<%= raw(workout_status(uw.workout_session)) %>
				</td>
				<td>
					<% @rescheduled_from = @reschedules.where(:link => uw.workout_session.id) %>
					<% if @rescheduled_from && !@rescheduled_from.empty? %>
						<% ws_from = WorkoutSession.find(@rescheduled_from.first.workout_session_id) %>
						<%= link_to business_workout_session_path(@business.slug, ws_from) do %>
							<%= raw ws_from.date.strftime("%-d %b, %Y <small>%H:%M</small>") %>
						<% end %>

						<span class="glyphicon glyphicon-share-alt rescheduled_from"></span>
					<% end %>
					<%= link_to business_workout_session_path(@business.slug, uw.workout_session) do %>
						<%= raw uw.workout_session.date.strftime("%-d %b, %Y <small>%H:%M</small>") %>
					<% end %>
				</td>
        <td>
          <%= WorkoutSession.eventtype_string(uw.workout_session.eventtype) %>
        </td>
				<td>
					<% if uw.cost && !uw.membership %>
						<%= uw.cost > 0 ? "$" + number_with_precision(uw.cost, :precision => 2).to_s : "NO CHARGE" %>
          <% elsif uw.membership %>
            INCLUDED
					<% else %>
						NO CHARGE
					<% end %>
				</td>
				<td>
					<%= uw.workout_session.tax ? uw.workout_session.tax.name : "NO CHARGE"  %>
				</td>
			</tr>
		<% end %>
			<tr>
        <% if show_controls? %>
				  <td></td>
        <% end %>
				<td><%= @selected_workouts.count %></td>
        <td></td>
				<td><strong>Subtotal</strong></td>
				<td>
					<strong><%= "$" + number_with_precision(@invoice.sessions_cost(false), :precision => 2).to_s + " CAD" %></strong>
				</td>
        <td></td>
			</tr>
		</table>

    <% if show_controls? %>
  		<%= submit_tag "Remove from Invoice", :class => "btn btn-default", :style => "color:maroon; font-weight:bold;" %> </br></br>

  		<div class="row">
        <div class="col-md-6">
          <%= submit_tag "Apply Default Rate", :class => "btn btn-default", :style => "color:#4F94CD; font-weight:bold;" %>	 </br></br>

          <div class="row">
            <div class="col-md-6">
              <%= f.input :custom_rate, as: :decimal, :label => false, :placeholder => "$0.00" %>
            </div>
            <div class="col-md-6">
              <%= submit_tag "Apply Custom Rate", :class => "btn btn-default", :style => "color:#4F94CD; font-weight:bold;" %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <%= submit_tag "Link Membership", :class => "btn btn-default", :style => "color:olive; font-weight:bold;" %>	 </br></br>
          <%= submit_tag "Unlink Membership", :class => "btn btn-default", :style => "color:olive; font-weight:bold;" %>	 </br></br>
        </div>

      </div>
  		<div class="row">
        <div class="col-md-12">
          <%= submit_tag "Apply Default Tax", :class => "btn btn-default", :style => "color:gray; font-weight:bold;" %>	 </br></br>

          <div class="row">
            <div class="col-md-6">
  						<%= f.input :tax_id, collection: Tax.where(:available => true), include_blank: "None", label: false %>
            </div>
            <div class="col-md-6">
              <%= submit_tag "Apply Custom Tax", :class => "btn btn-default", :style => "color:gray; font-weight:bold;" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
