<% if @user %>
	<table class="table-responsive" style="background-color: white; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);">
		<tr>
			<td rowspan=5 colspan=2 style="width:15%">						
				<%= gravatar_for(@user) %>
			</td>
		</tr>
		<tr>
			<td colspan=2>
				<strong style="font-size:1.5em;"> <%= @user.name %> </strong> 		
				<small style="color:gray;"><%= @user.email %> </small>
			</td>
		</tr>
		<tr>
			<td style="width: 200px;">
				<strong>Rate:</strong> <%= number_to_currency(@user.rate, :unit => "$") %>
			</td>
			<td>
				<%= UserWorkout.all.where(:user_id => @user.id).count %> sessions total
			</td>
		</tr>
    <tr> <td> </td></tr>
	</table>
  <%= graph_amount_over_time %>
<% end %>

<strong>Legend:</strong> <span class="alert-info glyphicon glyphicon-minus"></span> Processing
<span class="alert-warning glyphicon glyphicon-minus"></span> Problem
<span class="alert-success glyphicon glyphicon-minus"></span> Successfully closed

</br>
<% @invoices.where(:date => Time.zone.now.beginning_of_month - 1.month..Time.zone.now.end_of_month).group_by{ |i| i.date.beginning_of_month}.each do |month_date, invoices| %> 
<table class="table table-responsive" style="background-color: white; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);">
	 <thead>
		 
	</thead>
	
	 <thead>
		 <tr <%= raw('style="border-left: 3px solid #FFA07A;"') if month_date == Time.zone.now.beginning_of_month.to_date %>>
			<th style="text-align:center; width: 10%;"><%= month_date.strftime("%^B %y") %></th>	
			<th style="width: 35%;"><span class="glyphicon glyphicon-user"></span></th>			
			<th style="width: 10%;">SESSIONS</th>
			<th style="width: 10%;">COST</th>
			<th style="width: 10%;">PAID</th>
			<th style="width: 10%;">BALANCE</th>
			<th style="text-align: center;">OPTIONS</th>
		</tr>
	</thead>
	
  <tbody>
		<% invoices.each do |invoice| %>
			<% current_cost = invoice.user_workouts.includes(:workout_session).where("workout_sessions.status" => [0,3]).sum(:cost).to_f / 100 %>
						
			<% if !invoice.processed %>
				<% processed = "alert-info" %>				
			<% elsif current_cost != invoice.amount %>
				<% processed = "alert-warning" %>
			<% else %>
				<% processed = "alert-success" %>
			<% end %>
							
			<tr class="<%=processed%>" style="color: black">
				<td><%= invoice.id %></td>		
				<td>
					<%= link_to "/invoices?user=#{ invoice.user.id}" do %>
						<%= invoice.user.name.upcase %> 
					<% end %>	
				</td>				
				
				<% this_sessions = get_invoice_workout_count(invoice) %>
				<% @monthly_sessions += this_sessions %>
				<td><%= this_sessions %></td>
				
				<% if invoice.processed %>
					<% this_amount = invoice.amount %>
					<% @monthly_cost += this_amount %>
					<td><%= number_to_currency(this_amount, :unit => "$") %></td>
				<% else %>
					<% this_monthly_cost = get_current_amount(invoice) %>
					<% @monthly_cost += this_monthly_cost %>
					<td><%= number_to_currency(this_monthly_cost, :unit => "$") %></td>
				<% end %>
				
				<% this_paid = invoice.payments.sum(:amount) %>
				<% @monthly_paid = this_paid %>
				<td><%= number_to_currency(this_paid, :unit => "$") %></td>
				
				<% this_difference = invoice.payments.sum(:amount) - invoice.amount %>
				<% @monthly_difference = this_difference %>
				<td><%= number_to_currency(this_difference, :unit => "$") %></td>
				
				<td style="text-align: center;">
					<%= link_to invoice, :class => "btn btn-default btn-sm" do %>
						<span class="glyphicon glyphicon-zoom-in" style="color:#FFA07A"></span>
					<% end %>
					&ensp;
				</td>	
			</tr>			
		<% end %> 		
		
		<tr style="font-size: smaller; padding-top: 5px; padding-bottom: 5px;">
			<td colspan=1></td>
			<td>  </td>
			<td> <%= @monthly_sessions %> </td>        
			<td> <%= number_to_currency(@monthly_cost, :unit => "$") %> </td>
			
			<td> <%= number_to_currency(@monthly_paid, :unit => "$") %> </td>
			
			<td> <%= number_to_currency(@monthly_difference, :unit => "$") %> </td>
			
			<td style="text-align: center">
				<% if @user.nil? && @invoices.where(:date => invoices.first.date.beginning_of_month..invoices.first.date.end_of_month, :processed => false).count > 0 %>
					<%= link_to invoices_settle_month_path(:id => invoices.first.id), :class => "btn btn-default btn-sm", method: :patch do %>
						<span style="color:#FFA07A; font-weight: bold;">Settle Month</span>
					<% end %>
				<% end %>
			</td>	
		<% reset_monthly() %>	
	
		
	</tbody>	
</table>
<% end %>