</br>

<% @invoices_not_processed = @invoices.where(:processed => false) %>

<% if @invoices_not_processed.first %>
	<table class="table table-sm" style="background-color: white; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);">
		<thead>
			<tr>
				<th colspan=7 style="width: 100%; text-align: center;">
				UNPAID INVOICES
				</th>
			</tr>
		</thead>
		<% @invoices_not_processed.group_by{ |i| i.date.beginning_of_month}.each do |month_date, invoices| %> 
		 <thead>
			 <tr <%= raw('style="border-left: 3px solid #FFA07A;"') if month_date == Time.zone.now.beginning_of_month.to_date %>>
				<th style="width: 10%;"><%= month_date.strftime("%^B %y") %></th>	
				<th style="width: 35%;"><span class="glyphicon glyphicon-user"></span></th>			
				<th style="width: 10%;">SESSIONS</th>
				<th style="width: 10%;">COST</th>
				<th style="width: 10%;">PAID</th>
				<th style="width: 10%;">BALANCE</th>
				<th style="text-align: center;">OPTIONS</th>
			</tr>
		</thead>
		
		<tbody>
			<% invoices.each do |invoice| %>
				<% current_cost = invoice.user_workouts.includes(:workout_session).where("workout_sessions.status" => [0,3]).sum(:cost).to_f / 100 %>
							
				<% if !invoice.processed %>
					<% processed = "alert-info" %>				
				<% elsif current_cost != invoice.amount %>
					<% processed = "alert-warning" %>
				<% else %>
					<% processed = "alert-success" %>
				<% end %>
								
				<tr class="<%=processed%>" style="color: black">
					<td><%= invoice.id %></td>		
					<td>
						<%= link_to "/invoices?user=#{ invoice.user.id}" do %>
							<%= invoice.user.name.upcase %> 
						<% end %>	
					</td>				
					
					<% this_sessions = get_invoice_workout_count(invoice) %>
					<% @monthly_sessions += this_sessions %>
					<td><%= this_sessions %></td>
					
					<% if invoice.processed %>
						<% this_amount = invoice.amount %>
						<% @monthly_cost += this_amount %>
						<td><%= number_to_currency(this_amount, :unit => "$") %></td>
					<% else %>
						<% this_monthly_cost = get_current_amount(invoice) %>
						<% @monthly_cost += this_monthly_cost %>
						<td><%= number_to_currency(this_monthly_cost, :unit => "$") %></td>
					<% end %>
					
					<% this_paid = invoice.payments.sum(:amount) %>
					<% @monthly_paid = this_paid %>
					<td><%= number_to_currency(this_paid, :unit => "$") %></td>
					
					<% this_difference = invoice.payments.sum(:amount) - invoice.amount %>
					<% @monthly_difference = this_difference %>
					<td><%= number_to_currency(this_difference, :unit => "$") %></td>
					
					<td style="text-align: center;">
						<%= link_to invoice, :class => "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-zoom-in" style="color:#FFA07A"></span>
						<% end %>
						&ensp;
					</td>	
				</tr>			
			<% end %> 		
			
			<tr style="font-size: smaller">
				<td colspan=1></td>
				<td>  </td>
				<td> <%= @monthly_sessions %> </td>        
				<td> <%= number_to_currency(@monthly_cost, :unit => "$") %> </td>
				
				<td> <%= number_to_currency(@monthly_paid, :unit => "$") %> </td>
				
				<td> <%= number_to_currency(@monthly_difference, :unit => "$") %> </td>
				
				<td style="text-align: center">
					<% if @user.nil? && @invoices.where(:date => invoices.first.date.beginning_of_month..invoices.first.date.end_of_month, :processed => false).count > 0 %>
						<%= link_to invoices_settle_month_path(:id => invoices.first.id), :class => "btn btn-default btn-sm", method: :patch do %>
							<span style="color:#FFA07A; font-weight: bold;">Settle Month</span>
						<% end %>
					<% end %>
				</td>
			</tr>			
		
			<% reset_monthly() %>	
		
			<% end %>
		</tbody>	
	</table>
<% else %>
	<div style="text-align: center; width: 100%;">
		</br></br></br>
		<small> No unpaid invoices </small>
	</div>
<% end %>
