<div class="row" style="padding-bottom: 50px; padding-top: 50px;">
	<div class="col-md-6 col-md-offset-3 shdw bg-white" style="padding-bottom: 15px;">
		<h1>Editing Invoice</h1>

		<%= simple_form_for([@business, @invoice]) do |f| %>
			<%= f.error_notification %>

			<div class="form-inputs">
				<%= f.input :title, :label => "Memo" %>
				<%= f.association :user, :disabled => true %>
			</div>
			<div class="form-actions">
				<%= f.button :submit %>
			</div>
		<% end %>

		</br>

    <%= link_to business_invoice_path(@business.slug, @invoice), method: :delete, data: { confirm: 'Void this bill?' },:class=>"btn btn-danger" do %>
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Destroy
		<% end %>

	</div>
</div>
