<div class="fit-container">
  <div class="fit-row" style="height: 100%;">
    <div class="col-md-2 no-float none" style="height: 100%; border-right: 1px solid #e7eaec; padding: 0px;">
      <h5 class="reminder-date f-c"> Timeline </h5>
			<div class="list-group">
          <% @invoices.group_by { |i| i.date.beginning_of_year }.each do |y, year_invoices| %>

            <div style="width: 100%; text-align: center;">
              <small>
                <%= y.strftime("%Y") %>
              </small>
            </div>
            <% year_invoices.group_by { |i| i.date.beginning_of_month }.each do |m, month_invoices| %>
              <% if m.beginning_of_month == @date.beginning_of_month %>
                <% klass = "active" %>
              <% end %>
              <%= link_to business_invoices_path(@business, date: m.strftime("%Y-%m")), class: "list-group-item item-invoice-months #{ klass }" do %>

                <% unless InvoiceMonth.is_locked?(@business, m) %>
                  <% vis = 'style="display:none;"'.html_safe %>
                <% end %>
                <i class="fa fa-lock" aria-hidden="true" <%= vis %>>  </i>
                <span class="list-item-header"> <%= m.strftime("%B") %> </span>

                <span class="badge bg-blue">
                  <%= month_invoices.count %>
                </span>

                </br>
                <small class="font-regular">
                  <% total_amount = 0 %>
                  <% month_invoices.map { |mi| total_amount += mi.amount } %>
                  <small> <span class="invoice-cat"> TOTAL: </span> <span class="invoice-detail"> <%= number_to_currency(total_amount, :unit => "$") %> </span> </small>
                </br>
                  <% sesh_count = 0 %>
                  <% month_invoices.map { |mi| sesh_count += mi.user_workouts.count} %>
                  <small> <span class="invoice-cat"> SESSIONS: </span> <span class="invoice-detail"> <%= sesh_count %> </span> </small>
                </small>
              <% end %>
            <% end %>

          <% end %>
      </div>

    </div>

    <div class="col-md-10 no-float" style="background-color: white;">

			<h1>
        Invoices </br>
      </h1>

			<% if false %>
				<%= render 'monthly_invoices' %>

				<div class="container-fluid" style="margin-top: 25px;">
					<%= render 'businesses/template' %>
				</div>
			<% end %>

			<div class="container-fluid">
				<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#invoice-new">
					<span class="glyphicon glyphicon-plus btn-icon"></span>
					<span class="btn-text">New Invoice</span>
				</button>

        <% unless @date > (Time.zone.now.beginning_of_month - 1.month).to_date %>
          <% klass = InvoiceMonth.is_locked?(@business, @date) ? "unlock" : "lock" %>
          <%= link_to business_invoice_months_flip_path(@business, @date), class: "btn btn-default btn-lg", method: :patch do %>
            <i class="fa fa-<%= klass %> btn-icon" aria-hidden="true"></i>
  					<span class="btn-text">
              <%= InvoiceMonth.is_locked?(@business, @date) ? "Unlock" : "Lock" %>
            </span>
          <% end %>
        <% end %>

        <% unless InvoiceMonth.is_locked?(@business, @date) %>
          <%= link_to business_invoice_months_recalculate_path(@business, @date), class: "btn btn-default btn-lg", data: { confirm: 'Calibrating cannot be undone. Are you sure?' }, method: :patch do %>
            <i class="fas fa-sync btn-icon" aria-hidden="true"></i>
  					<span class="btn-text">
              Calibrate
            </span>
          <% end %>
        <% end %>

				<div id="invoice-new" class="modal fade">
			    <div class="modal-dialog modal-content">
			      <div class="modal-body">
			        <%= render 'invoices/new' %>
			      </div>
			    </div>
			  </div>

				</br></br>

				<% invcs = @invoices.where(:date => @date.beginning_of_month..@date.end_of_month) %>
				<%= render 'invoices', invcs: invcs %>

			</div>

			<% @invoice = @invoices.first %>
    </div>
  </div>
</div>
