<div class="container-fluid">
	<div class="row" style="padding-bottom: 50px; padding-top: 50px; ">
		<div class="col-md-6 col-md-offset-3" style="background-color:white; padding-bottom: 20px; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);">
			<%= render 'new', invoice: @invoice %>
		</div>
	</div>
</div>
