<div class="fit-container">
  <div class="fit-row" style="height: 100%;">
    <div class="col-md-2 no-float none" style="height: 100%; padding: 0px;">
      <div class="list-group" style="background-color: white; border-right: 1px solid #e7eaec; border-bottom: 1px solid #e7eaec;">
        <div style="width: 100%; text-align: center; padding-bottom: 35px; padding-top: 15px;">
          <%= link_to business_users_edit_modal_path(@business.slug, @invoice.user), class: "btn btn-default", title: "Settings", remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
            <%= gravatar_for @invoice.user, class: "grav-admin-nav" %>
          <% end %>
          </br>
          <h4 class="f-c">
            <%= @invoice.user.name %>
          </h4>
        <%= number_to_currency(@invoice.user.credit, unit: "$") %> <i class="fa fa-credit-card" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Available credit"></i>
        </div>
        <h4 style="padding-left: 15px; margin-top: -10px;"> Invoice History </h4>
        <% if @business.view_as_employee?(current_user) %>
          <%= link_to new_business_invoice_path, :class => "list-group-item" do %>
            <span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>

            <span>
              Invoice
            </span>
          <% end %>
				<% end %>
        <% @invoice.user.invoices.reorder(date: :desc).each do |i| %>
          <% if i == @invoice %>
            <% klass = "active" %>
          <% end %>
            <%= link_to business_invoice_path(:id => i.id), :class=> "list-group-item #{ klass } font-blue" do %>

							<span class="list-item-header">
                <span class="glyphicon glyphicon-user"></span>
                <%= i.business.owner.name %>
              </span>

              <span class="badge bg-blue"><%= i.user_workouts.count %></span>

              </br>

              <small class="font-regular">
                <%= i.date.strftime("%-d %b, %Y") %>
              </small>

               <% if i.processed %>
 								<span class="font-success font-bold" style="float: right;"><small> Paid </small> </span>
 							<% else %>
 								<span class="font-danger font-bold" style="float: right;"><small> Unpaid </small> </span>
 							<% end %>
						<% end %>

        <% end %>
      </div>
    </div>

    <div class="col-md-10 no-float" style="padding-bottom: 20px;">
      <div>
        <div class="shdw bg-white" style="padding: 10px; margin-bottom: 20px;">

          <h2 style="margin-bottom:0;padding-bottom:0; text-align:left;">
           INVOICE
           <% if @business.view_as_employee?(current_user) && InvoiceMonth.is_locked?(@business, @invoice.date) %>
            <i class="fa fa-lock" style="" aria-hidden="true"> </i>
           <% end %>
          </h2>

          <%= @business.name %>

          </br></br>

          <div class="btn-group">
            <% if @invoice.processed %>
              <button type="button" class="btn btn-success" style="border-radius: 0px !important;">Settled</button>
            <% else %>
              <button type="button" class="btn btn-info" style="border-radius: 0px !important;">Open</button>
            <% end %>
    					<% if @business.view_as_employee?(current_user) && show_controls? %>
    						<button type="button" class="btn btn-default dropdown-toggle" style="border-radius: 0px !important;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    							<span class="sr-only">Toggle Dropdown</span>
    						</button>

      						<ul class="dropdown-menu">
    								<% if @invoice.processed %>
    									<li><%= link_to "Open", invoices_set_unprocessed_path(:id => @invoice.id), method: :patch %></li>
    								<% else %>
    									<li><%= link_to "Settle", invoices_set_processed_path(:id => @invoice.id), method: :patch %></li>
    								<% end %>
                      <li class="divider"></li>
                      <li> <%= link_to "Edit", edit_business_invoice_path(@business.slug, @invoice) %></li>
    							</ul>
    					<% end %>
            </div>

            <table style="margin: 0 auto; width:100%;">
              <tr>
                <td>


                  <span style="font-size:.9em;">
                  <%= link_to user_billing_for(@invoice.user) do %>
                    <%= @invoice.user.name.upcase %>
                  <% end %>
                  </span>
                  </br>
                  <%= @invoice.user.address %>
                </td>
                <td style="text-align:right;">
                  <span style="color:darkgray;"> Invoice # <strong style="color:black; font-size:1.8em;"><%= @invoice.id %></strong></span>
                  <h4 style="padding:0px;margin:0px;">
                  <%= @invoice.date.strftime("%b %-d, %Y") %>
                  </h4>
                </td>
              </tr>
            </table>

          </div>

      		<% if @business.view_as_employee?(current_user) %>
      			<ul class="nav nav-tabs shdw">
      				<li class="active">
                <a data-toggle="tab" href="#view">
                  <span class="glyphicon glyphicon-zoom-in"></span>
                  View
                </a>
              </li>
      				<li>
                <a data-toggle="tab" href="#workouts">
                  <span class="glyphicon glyphicon-tags"></span>
                  &nbsp;
                  Membership & Sessions
                </a>
              </li>
      				<li>
                <a data-toggle="tab" href="#items">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  Items
                </a>
              </li>
      				<li>
                <a data-toggle="tab" href="#payments">
                  <span class="glyphicon glyphicon-usd"></span>
                  Payments
                </a>
              </li>
      			</ul>

      			<div class="tab-content shdw" style="background-color: white;">
            </br>
            </br>
      				<div id="view" class="tab-pane fade in active">
      					<%= render 'invoice_view' %>
      				</div>
      				<div id="workouts" class="tab-pane fade">
                <%= render 'invoice_membership' %>
                <hr>
      					<%= render 'invoice_workouts' %>
      				</div>
      				<div id="items" class="tab-pane fade">
      					<%= render 'invoice_items' %>
      				</div>
      				<div id="payments" class="tab-pane fade">
      					<%= render 'invoice_payments' %>
      				</div>
      			</div>
      		<% else %>
      			</br>
      			</br>
      			<%= render 'invoice_view' %>
      		<% end %>
        </div>
    </div>
  </div>
</div>
