<a href="#" data-toggle="modal" data-target="#friends-modal" id="headertext"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-user"></span></a>

<div class="modal fade" id="friends-modal" role="dialog">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Friends</h4>
		</div>
			<div class="modal-body">

			<% @friend = Friend.new if logged_in? %>
			<%= simple_form_for(@friend) do |f| %>
				<div class="input-group">
					<%= f.input_field :new_friend_id, label: false, wrapper: false, placeholder: "Friend@email.com", class: 'form-control' %>
				<span class="input-group-btn">
					<%= f.submit :Add, class: "btn btn-primary" %>
				</div>
			<% end %>
			</br>
			<table class="table">

				<th> Friends with: </th>
					<% users = User.all %>
					<% friends = Friend.where("user1_id = ? OR user2_id = ?", current_user.id, current_user.id) %>
					<% friends.each do |friend| %>
						<% if friend.user1_id == current_user.id %>
							<% user_friend = users.find(friend.user2_id) %>
						<% else %>
							<% user_friend = users.find(friend.user1_id) %>
						<% end %>

							<tr>
								<td>
								 <%= gravatar_for user_friend, {size: 30, class: "gravatar_logo"} %>
									<%= user_friend.name %>
								</td>
								<td>
									<%= user_friend.email %>
								</td>
								<td>
									<% if friend.status == 0 %>
										<%= link_to "Remove", friend, method: :delete,
																					data: { confirm: "Remove " + user_friend.name + " from friends?" }, :class=>"btn btn-primary btn-danger" %>
									<% elsif (friend.user1_id == current_user.id && friend.status == -1) || (friend.user2_id == current_user.id && friend.status == 1) %>
										<%= link_to "Pending", friends_approve_path(:id => friend.id), method: :patch, :class=>"btn btn-primary btn-outline" %>
									<% elsif (friend.user1_id == current_user.id && friend.status == 1) || (friend.user2_id == current_user.id && friend.status == -1) %>
										<span class="btn btn-info"> Request sent </span>
									<% end %>
								</td>
							</tr>
					<% end %>
			</table>

			</div>
		</div>
	</div>
</div>
