/*
 *  File:         demo_table_jui.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */
/*
 * jQuery UI specific styling
 */
/* line 35, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_two_button .ui-button {
  float: left;
  cursor: pointer;
  cursor: hand;
}

/* line 41, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers .ui-button {
  padding: 2px 6px;
  margin: 0;
  cursor: pointer;
  cursor: hand;
  color: #333 !important;
}

/* line 49, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_paginate .ui-button {
  margin-right: -0.1em !important;
}

/* line 53, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers {
  width: 350px !important;
}

/* line 57, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_wrapper .ui-toolbar {
  padding: 5px;
  margin: 0 auto;
}

/* line 62, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_paginate {
  width: auto;
}

/* line 66, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_info {
  padding-top: 3px;
}

/* line 70, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display thead th {
  padding: 3px 0px 3px 10px;
  cursor: pointer;
  cursor: hand;
}

/* line 76, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
div.dataTables_wrapper .ui-widget-header {
  font-weight: normal;
}

/*
 * Sort arrow icon positioning
 */
/* line 84, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display thead th div.DataTables_sort_wrapper {
  position: relative;
  padding-right: 20px;
  padding-right: 20px;
}

/* line 90, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display thead th div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
/* Wrapper only effects the Header and Footer content, not the results in the DataTable */
/* line 114, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
}

/* line 119, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_processing {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 11px;
  padding: 2px 0;
}

/* Length is the dropdown which selects the number of items to return */
/* line 133, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_length {
  width: 40%;
  float: left;
}

/* Filter is the Search Field  */
/* line 139, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
  padding: 3px;
}

/* Info is the footer which displays the number of results displaying out of the total number of results  */
/* line 147, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_info {
  width: 50%;
  float: left;
}

/* Paginate is the footer which lists the pages */
/* line 153, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_paginate {
  float: right;
  text-align: right;
  padding: 3px;
}

/* Pagination nested */
/* line 160, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

/* line 167, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paginate_disabled_previous {
  background-image: url("/assets/dataTables/back_disabled.jpg");
}

/* line 171, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paginate_enabled_previous {
  background-image: url("/assets/dataTables/back_enabled.jpg");
}

/* line 175, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paginate_disabled_next {
  background-image: url("/assets/dataTables/forward_disabled.jpg");
}

/* line 179, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paginate_enabled_next {
  background-image: url("/assets/dataTables/forward_enabled.jpg");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
/* line 188, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
}

/* line 195, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tfoot th {
  padding: 3px 0px 3px 10px;
  font-weight: bold;
  font-weight: normal;
}

/* line 201, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}

/* line 205, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display td {
  padding: 3px 10px;
}

/* line 209, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display td.center {
  text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
/* line 219, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.sorting_asc {
  background: url(/assets/dataTables/sort_asc-ee6010bb0a8d17e58307136a0fbf0b196d949ab6c50eb66d1ff8f0a7d2a4d48b.png) no-repeat center right;
}

/* line 223, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.sorting_desc {
  background: url(/assets/dataTables/sort_desc-26da8e7eaf746a08dec2928977be21aa67212484540a12042b86aa2d904b80e8.png) no-repeat center right;
}

/* line 227, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.sorting {
  background: url(/assets/dataTables/sort_both-624f0a471a2535c4754e1f6974b0e64ee70d6907738346e2a11d0bff20258b8c.png) no-repeat center right;
}

/* line 231, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.sorting_asc_disabled {
  background: url(/assets/dataTables/sort_asc_disabled-50f0e16f8289b1f09eb0d0494d0eee7ae4717e857a4ed77997bb06cefecb2528.png) no-repeat center right;
}

/* line 235, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.sorting_desc_disabled {
  background: url(/assets/dataTables/sort_desc_disabled-3450cc1e5a1585690226a713a726753b3fa2d177e41338a36e0a3188e3f02663.png) no-repeat center right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
/* line 245, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.gradeA {
  background-color: #ddffdd;
}

/* line 249, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.gradeA {
  background-color: #eeffee;
}

/* line 256, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.gradeA {
  background-color: #ddffdd;
}

/* line 260, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.gradeA {
  background-color: #eeffee;
}

/* line 264, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.gradeC {
  background-color: #ddddff;
}

/* line 268, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.gradeC {
  background-color: #eeeeff;
}

/* line 272, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.gradeX {
  background-color: #ffdddd;
}

/* line 276, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.gradeX {
  background-color: #ffeeee;
}

/* line 280, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.gradeU {
  background-color: #ddd;
}

/* line 284, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.gradeU {
  background-color: #eee;
}

/* line 289, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd {
  background-color: #E2E4FF;
}

/* line 293, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even {
  background-color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
/* line 304, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_scroll {
  clear: both;
}

/* line 308, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.top, .bottom {
  padding: 15px;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
}

/* line 314, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.top .dataTables_info {
  float: none;
}

/* line 318, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.clear {
  clear: both;
}

/* line 322, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.dataTables_empty {
  text-align: center;
}

/* line 326, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

/* line 332, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tfoot input.search_init {
  color: #999;
}

/* line 336, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

/* line 342, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}

/* line 348, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.example_alt_pagination div.dataTables_info {
  width: 40%;
}

/* line 352, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
}

/* line 364, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}

/* line 368, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}

/* line 373, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}

/* line 377, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

/* line 381, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
/* line 390, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd td.sorting_1 {
  background-color: #D3D6FF;
}

/* line 394, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd td.sorting_2 {
  background-color: #DADCFF;
}

/* line 398, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd td.sorting_3 {
  background-color: #E0E2FF;
}

/* line 402, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even td.sorting_1 {
  background-color: #EAEBFF;
}

/* line 406, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even td.sorting_2 {
  background-color: #F2F3FF;
}

/* line 410, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even td.sorting_3 {
  background-color: #F9F9FF;
}

/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
/* line 425, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeA td.sorting_1 {
  background-color: #c4ffc4;
}

/* line 429, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeA td.sorting_2 {
  background-color: #d1ffd1;
}

/* line 433, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeA td.sorting_3 {
  background-color: #d1ffd1;
}

/* line 437, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeA td.sorting_1 {
  background-color: #d5ffd5;
}

/* line 441, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeA td.sorting_2 {
  background-color: #e2ffe2;
}

/* line 445, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeA td.sorting_3 {
  background-color: #e2ffe2;
}

/* line 449, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeC td.sorting_1 {
  background-color: #c4c4ff;
}

/* line 453, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeC td.sorting_2 {
  background-color: #d1d1ff;
}

/* line 457, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeC td.sorting_3 {
  background-color: #d1d1ff;
}

/* line 461, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeC td.sorting_1 {
  background-color: #d5d5ff;
}

/* line 465, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeC td.sorting_2 {
  background-color: #e2e2ff;
}

/* line 469, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeC td.sorting_3 {
  background-color: #e2e2ff;
}

/* line 473, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeX td.sorting_1 {
  background-color: #ffc4c4;
}

/* line 477, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeX td.sorting_2 {
  background-color: #ffd1d1;
}

/* line 481, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeX td.sorting_3 {
  background-color: #ffd1d1;
}

/* line 485, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeX td.sorting_1 {
  background-color: #ffd5d5;
}

/* line 489, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeX td.sorting_2 {
  background-color: #ffe2e2;
}

/* line 493, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeX td.sorting_3 {
  background-color: #ffe2e2;
}

/* line 497, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeU td.sorting_1 {
  background-color: #c4c4c4;
}

/* line 501, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeU td.sorting_2 {
  background-color: #d1d1d1;
}

/* line 505, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.odd.gradeU td.sorting_3 {
  background-color: #d1d1d1;
}

/* line 509, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeU td.sorting_1 {
  background-color: #d5d5d5;
}

/* line 513, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeU td.sorting_2 {
  background-color: #e2e2e2;
}

/* line 517, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
tr.even.gradeU td.sorting_3 {
  background-color: #e2e2e2;
}

/*
 * Row highlighting example
 */
/* line 525, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
  background-color: #ECFFB3;
}

/* line 529, /home/vagrant/.rvm/gems/ruby-2.3.1/gems/jquery-datatables-rails-3.4.0/app/assets/stylesheets/dataTables/src/demo_table_jui.css.scss */
.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
  background-color: #E6FF99;
}
