Add Reminder:
<div style="background-color:white; padding: 15px;">
	<p style="word-wrap: break-word;">
		<%= simple_form_for(@reminder) do |f| %>
				<%= f.input :title, :label => false, :placeholder => "Title", :id => "memotext" %>
				<%= f.text_area :memo, :label => false, :placeholder => "Enter a description...", :id => "memotext" %>
			<div class="form-actions">
				<%= f.hidden_field :workout_session_id, :value => ws.id %>
				<%= f.button :submit %>
			</div>
		<% end %>
	</p>
</div>
