<%= simple_form_for(@reminder) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :date %>
    <%= f.collection_select :workout_session_id, WorkoutSession.all, :id, :date %>
    <%= f.input :memo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
