<div style="background-color:white; padding: 15px;">
	<h3> Reminder </h3>
	<p style="word-wrap: break-word;">
		<%= simple_form_for(@reminder) do |f| %>
				<%= f.input :title, :label => false, :placeholder => "Title", :id => "memotext" %>
				<%= f.text_area :memo, :label => false, :placeholder => "Enter a description...", :id => "memotext" %>
			<div class="form-actions">
				<%= f.button :submit %>
				<%= link_to @reminder, method: :delete, data: { confirm: 'Remove reminder?' } do %>
          Remove
        <% end %>
			</div>
		<% end %>
	</p>
</div>
