<div style="background-color:white; padding: 15px;">
  <h1>Editing Reminder</h1>

  <%= render 'form', reminder: @reminder %>

  <%= link_to 'Show', @reminder %> |
  <%= link_to 'Back', reminders_path %>
</div>