<div style="background-color:white; padding: 15px;">
<p id="notice"><%= notice %></p>

<h1>Reminders</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Workout session</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.user %></td>
        <td><%= reminder.date %></td>
        <td><%= reminder.workout_session %></td>
        <td><%= reminder.memo %></td>
        <td><%= link_to 'Show', reminder %></td>
        <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
        <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>
</div>