<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reminder.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reminder.date %>
</p>

<p>
  <strong>Workout session:</strong>
  <%= @reminder.workout_session %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @reminder.memo %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
