/* line 10, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn-text {
  color: #555;
}

/* line 14, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn-icon {
  color: #FFA07A;
}

/* line 18, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
a.list-group-item:hover, button.list-group-item {
  color: #337ab7 !important;
}

/* line 22, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.price-subcategory {
  font-weight: bold;
}

/* line 29, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.view-footer {
  margin-top: 300px;
}

/* line 33, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.logo {
  text-shadow: 1px 1px 1px black;
}

/* line 37, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.logo:hover {
  text-transform: underline;
}

/* line 40, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.list-group-item.active {
  border-right: 2px solid #FFA07A !important;
}

/* line 45, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.list-group-item.active .list-item-header, .list-group-item.active:hover .list-item-header, .list-group-item.active:focus .list-item-header {
  color: #FFA07A;
}

/* line 50, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.schedule_event_time {
  font-weight: bold;
}

/* line 55, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.a-new-workouts {
  color: #FFA07A;
  z-index: 3000;
}

/* line 60, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.alert {
  padding: 0px !important;
}

/* line 64, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.plan {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 10px;
  height: 200px;
  width: 200px;
}

/* line 72, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.plan:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* line 76, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.span-2 {
  column-span: all;
}

/* line 80, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.nav-active {
  background-color: #e8ebec;
  color: #FF8C40 !important;
  border-left: 1px solid #FF8C40;
  list-style-type: square;
}

/* line 87, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.nav-dashbar-group {
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: lightsalmon;
}

/* line 94, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
branding {
  font-weight: bold;
}

/* line 98, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.section-margin {
  margin-bottom: 30px;
}

/* line 102, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sample-banner {
  #background: url(/assets/sample-banner-bd73ef0f9528905fb9e55988cf55ebbf35abe1037925609d397f370b8abe3ad8.jpg);
  background: url(/assets/aj-banner-f57bc5e576176574d3832616926096cf3b0e3a69cc342a62d9b55e5814adea24.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 109, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sample-logo {
  background: url(/assets/ajcorefitness-sm-6dc66607b5964073c1fc16a55fa4932ef27fb00ee7f5e305928365d08fb7007c.png);
  height: 92px;
  width: 250px;
}

/* line 115, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sharks-logo {
  background: url(/assets/sharks-c1464aa67dd3fee316677099e9d6f7b4883b26103f71ac80b6e1cf45cd7a11a6.png);
  background-size: 100% 100%;
  height: 100px;
  width: 250px;
  padding: 0px;
}

/* line 123, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sharks-banner {
  background: url(/assets/sharks-cb865b1367b64a0a56b9a28f59589f38baf40840dbf98ca2be128b7e908c81a0.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 129, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.logo-description {
  text-align: center;
  font-weight: bold;
}

/* line 134, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.img-container {
  width: 250px;
  height: 130px;
  margin: auto;
}

/* line 140, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.head-margin {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 65px;
}

/* line 147, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.aki {
  background: url(/assets/aki-head-6208220a565bf02ac3504911a1ff27eabe52eb173893f81f693c113dd199cde9.jpg);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 156, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.clare {
  background: url(/assets/clare-head-f0a953e65f2c1124d644041a1baa40e322893513d85d04b9be7c0c8c7a24bc56.jpg);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 165, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.daniel {
  background: url(/assets/daniel-head-e77ef8321446cd02741649d870abb1a543ca53014abc743def0f98bb1c8c2723.jpg);
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 174, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.team {
  text-align: center;
  width: 100%;
  height: 200px;
  margin: auto;
  margin-top: 80px;
}

/* line 182, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_time {
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 188, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_type {
  padding: 0px 40px 0px 40px;
}

/* line 192, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_repeat {
  padding: 0px 40px 10px 40px;
}

/* line 196, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_title {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 201, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_location {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 206, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_clients_admin {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 211, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_clients_client {
  padding: 0px 40px 15px 40px;
}

/* line 215, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_clients_admin {
  padding: 0px 40px 15px 40px;
}

/* line 219, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event_memo {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 224, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.upcoming {
  color: #0074D9;
}

/* line 228, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.upcoming_re {
  color: #FF851B;
}

/* line 232, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.success_re {
  color: #3D9970;
}

/* line 236, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.rescheduled_from {
  color: #FF851B;
}

/* line 240, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.rescheduled_from_re {
  color: #85144b;
}

/* line 244, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancelled {
  color: #708090;
}

/* line 248, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancelled_re {
  color: #111111;
}

/* line 252, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.noshow {
  color: #FF4136;
}

/* line 256, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.noshow_re {
  color: #111111;
}

/* line 260, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.memo {
  color: #0074D9;
}

/* line 264, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.small_status {
  color: gray;
}

/* line 268, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.yellow {
  color: yellow;
}

/* line 272, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#intersession {
  margin: 0px;
  padding: 0px;
}

/* line 277, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_header {
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  background-color: #f7f7f7;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
/* line 284, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_header tr {
  height: 30px;
}
/* line 288, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_header th {
  text-align: left;
  padding-left: 5px;
  font-size: 1.2em;
  background-color: #f7f7f7;
  width: 14%;
  min-width: 150px;
  border: 0;
}

/* line 299, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.legend {
  margin-top: -100px;
  padding: 10px;
  background-color: white;
  float: left;
  width: 100%;
  font-size: .9em;
  margin-bottom: 1px;
}

/* line 309, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.div_table {
  font-size: 12px;
  overflow-x: auto;
  padding-bottom: 100px;
}

/* line 315, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month {
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  background-color: #f1f1f1;
}
/* line 322, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month td.relative {
  padding-bottom: 15px;
}
/* line 326, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month td.display_date {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}
/* line 330, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month td.this-month {
  padding-left: 5px;
  background-color: white;
  height: 125px;
  margin: 2px;
  min-width: 150px;
  width: 14%;
  vertical-align: top;
}
/* line 340, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month td.not-month {
  padding-left: 5px;
  background-color: #fafafa;
  height: 125px;
  margin: 2px;
  min-width: 150px;
  width: 14%;
  vertical-align: top;
}
/* line 350, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table_schedule_month td.today {
  border: 1px solid #FFA07A;
}

/* line 355, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.repeat_on {
  background-color: #F4F4F4;
  padding-top: 0px;
  padding-bot: 0px;
}

/* line 361, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.form-group.string.optional.workout_session_until {
  display: inline-block;
}

/* line 365, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.userselect_2 {
  height: 30px;
}

/* line 369, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div {
  position: absolute;
  width: 98%;
  height: 100%;
  cursor: pointer;
}
/* line 375, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div .book-modal-span {
  text-indent: -10000px;
}
/* line 379, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div .book-modal-span-text {
  text-indent: -10000px;
  visibility: hidden;
}

/* line 385, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div:hover {
  transition: .3s;
  text-align: center;
  padding-top: 0px;
}
/* line 391, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div:hover .book-modal-span {
  text-indent: 0px;
  color: #FFA07A;
}
/* line 396, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div:hover .book-modal-span-text {
  visibility: visible;
  text-indent: 0px;
  color: #FFA07A;
}

/* line 403, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 410, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2 .book-modal-span {
  text-indent: -10000px;
}
/* line 414, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2 .book-modal-text {
  text-indent: -10000px;
  visibility: hidden;
}

/* line 420, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2:hover {
  transition: .3s;
  text-align: center;
  padding-top: 0px;
}
/* line 425, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2:hover .book-modal-span {
  text-indent: 0px;
  color: #FFA07A;
}
/* line 430, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.book-modal-div2:hover .book-modal-text {
  visibility: visible;
  text-indent: 0px;
  color: #FFA07A;
}

/* line 437, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content {
  position: relative;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  overflow-x: auto;
}
/* line 444, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content tr.right {
  float: left;
  width: 100%;
  color: darkgray;
}
/* line 454, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content td {
  font-size: .9em;
}
/* line 458, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content td.right {
  width: 100%;
}
/* line 462, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content tr.has_reminder {
  border: 1px solid gray;
}
/* line 466, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content tr.calendar_content {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  float: left;
}
/* line 473, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content td.day_client {
  text-align: center;
}
/* line 477, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.calendar_content .day:hover {
  background-color: #f3f3f3;
}

/* line 482, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.overflow {
  table-layout: fixed;
  position: relative;
  width: 100%;
}
/* line 488, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.overflow td.overflow {
  white-space: nowrap;
  overflow: hidden;
  padding: 2px;
  padding-bottom: 3px;
}
/* line 494, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.overflow td.overflow a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 505, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
a {
  color: #768798;
}

/* line 509, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.alert {
  padding: 0px;
}

/* line 513, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.div_open_client {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 521, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.i_open_client_time {
  background-color: transparent;
  font-weight: bold;
}

/* line 526, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.i_available_client_time {
  background-color: transparent;
  color: gray;
}

/* line 531, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dropdown-menu > li > input {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  border: none;
  text-align: left;
  background-color: transparent;
  margin: 0px;
}

/* line 545, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dropdown-menu > li > input:hover {
  color: #FFA07A;
  background-color: #f5f5f5;
}

/* line 550, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.repeat-glyph-recurring {
  font-size: 70%;
  float: right;
  position: absolute !important;
  right: 5px !important;
  top: 6px !important;
  color: lightgray;
}

/* line 559, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.repeat-glyph-instance {
  font-size: 70%;
  float: right;
  position: absolute !important;
  right: 5px !important;
  top: 6px !important;
  color: lightgray;
}

/* line 568, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
}

/* line 575, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* line 579, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.card-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: lightgray;
  padding: 5px;
  height: 100%;
  width: 100%;
  max-height: 105px;
  min-height: 105px;
}

/* line 591, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dash-avatar {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100px;
  max-height: 150px;
}

/* line 600, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.today .date-div {
  color: #FFA07A;
  border-radius: 50%;
}

/* line 607, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

/* line 628, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-outer {
  flex: 15;
  position: relative;
}

/* line 633, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-outer-header {
  flex: 15;
  position: relative;
}

/* line 638, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-inner {
  height: 100%;
  width: 100%;
}

/* line 643, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.horiz-grid::after {
  content: " ";
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  width: 100%;
  left: 0;
}

/* line 651, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-block {
  position: relative;
  overflow-x: hidden;
  border-right: 1px solid #e0e0e0;
  flex: 1 1 auto;
  padding-right: 12px;
  height: 100%;
  width: 100%;
}

/* line 661, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-inner.past {
  background-color: rgba(240, 248, 255, 0.75);
}

/* line 665, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.topic-container::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 12px;
  background-color: #F5F5F5;
}

/* line 672, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event {
  position: absolute !important;
  overflow: hidden;
  color: #333;
  font-size: .8em;
  height: 46px;
  width: 50%;
  z-index: 2;
  background-color: #b3e1f7;
  border-radius: 2px;
  border: 1px solid #f3f3f3;
  border-left: 2px solid steelblue;
  cursor: pointer;
  white-space: nowrap;
}

/* line 688, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-content {
  padding: 2px;
  min-height: 12.5px;
}
/* line 692, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-content .event-status {
  float: left;
  margin-top: 4px;
}

/* line 698, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-bfr {
  position: absolute;
  overflow: hidden;
  height: 46px;
  width: 50%;
  background-color: skyblue;
  border-radius: 2px;
  border: 1px solid #f3f3f3;
  white-space: nowrap;
}

/* line 709, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event:hover {
  z-index: 20 !important;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
  transition: .3s;
}

/* line 715, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.calendar-content {
  height: 100%;
  position: relative;
}

/* line 720, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-time {
  width: 100%;
}

/* line 727, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-time-span {
  position: relative;
  font-size: 10px;
  top: -6px;
  display: block;
}

/* line 734, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.time-block-flex {
  flex: 0 0 auto;
  overflow: hidden;
  padding: 0 4px 0 4px;
  text-align: center;
  border: 1px solid lightgray;
}

/* line 744, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.tbf-inner {
  height: 1285px;
}

/* line 748, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.time-block-flex.top {
  background-color: white;
  border: none;
  cursor: default;
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 761, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-block-flex {
  flex: 1 1 auto;
  display: flex;
  background-color: #fff;
  overflow: auto;
}

/* line 768, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.now::after {
  border-bottom: 2px solid red !important;
}

/* line 772, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.GMT-time {
  top: 0px !important;
}

/* line 776, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-date {
  height: 30px;
  width: 100%;
  background-color: white;
  padding-left: 5px;
  text-align: center;
  line-height: 35px;
}
/* line 784, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-date .day {
  color: #aaa;
}
@media screen and (min-width: 1057px) {
  /* line 788, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .weekly-date .date {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 760px) {
  /* line 788, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .weekly-date .date {
    font-size: 1.5em;
  }
}
/* line 797, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-date .date.today {
  color: #FFA07A;
}

/* line 802, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#datetimepicker_weekly {
  right: 15px !important;
}

/* line 806, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-header {
  width: 100%;
  background-color: white;
  padding: 0 4px 0 10px;
  line-height: 22px;
}

/* line 813, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-day {
  flex: 1;
  position: relative;
  text-align: center;
  color: #444;
  height: 25px;
  width: 25px;
  font-size: .85em;
}

/* line 823, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-date {
  flex: 1;
  position: relative;
  text-align: center;
  color: #444;
  height: 25px;
  width: 25px;
  font-size: .85em;
}

/* line 833, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-day.other {
  color: #aaa;
}

/* line 838, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-day.today .btn-mini {
  color: white !important;
  background-color: #FFA07A !important;
  border-radius: 50% !important;
}

/* line 846, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-day.selected .btn-mini {
  background-color: #e0e0e0 !important;
  border-radius: 50% !important;
}

/* line 852, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-arrow {
  flex: 1;
  text-align: center;
}

/* line 857, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-month {
  flex: 5;
  text-align: left;
}

/* line 862, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn-mini {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 5px 0px 5px !important;
  border-radius: 50% !important;
  font-size: 1em !important;
  line-height: 0px !important;
  width: 25px !important;
  height: 25px !important;
}

/* line 873, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn-mini:hover {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

/* line 877, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.drag-event {
  opacity: 0.5 !important;
}

/* line 881, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.drag-over {
  border: 2px dashed #000;
}

/* line 885, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 0px;
}

/* line 891, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-block-flex::-webkit-scrollbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
  min-height: 40px;
  width: 8px;
}

/* line 900, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.weekly-block-flex::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: darkgray;
  min-height: 40px;
  width: 8px;
}

/* line 909, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.drop-item {
  flex: 1;
  margin: 1px;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  background-color: lightblue;
  transition: .25s;
}

/* line 919, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.drop-item > a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 929, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.drop-item > a:hover {
  color: white !important;
}

/* line 933, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.rebeccapurple {
  background-color: rebeccapurple;
  border: 3px solid rebeccapurple;
}

/* line 938, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.rebeccapurple:hover {
  border: 3px solid #A079C8;
}

/* line 942, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cadetblue {
  background-color: cadetblue;
  border: 3px solid cadetblue;
}

/* line 947, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cadetblue:hover {
  border: 3px solid #93C5C7;
}

/* line 951, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.coral {
  background-color: coral;
  border: 3px solid coral;
}

/* line 956, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.coral:hover {
  border: 3px solid #FFCECA;
}

/* line 960, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cornflowerblue {
  background-color: cornflowerblue;
  border: 3px solid cornflowerblue;
}

/* line 965, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cornflowerblue:hover {
  border: 3px solid #BDD3FB;
}

/* line 969, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.yellowgreen {
  background-color: yellowgreen;
  border: 3px solid yellowgreen;
}

/* line 974, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.yellowgreen:hover {
  border: 3px solid #CDF283;
}

/* line 978, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.tomato {
  background-color: tomato;
  border: 3px solid tomato;
}

/* line 983, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.tomato:hover {
  border: 3px solid #FFA595;
}

/* line 987, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.plum {
  background-color: plum;
  border: 3px solid plum;
}

/* line 992, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.plum:hover {
  border: 3px solid #ECE9EC;
}

/* line 996, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sienna {
  background-color: sienna;
  border: 3px solid sienna;
}

/* line 1001, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.sienna:hover {
  border: 3px solid #F3B394;
}

/* line 1005, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.silver {
  background-color: silver;
  border: 3px solid silver;
}

/* line 1010, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.silver:hover {
  border: 3px solid #f3f3f3;
}

/* line 1014, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-content {
  position: relative;
}

/* line 1018, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event {
  position: relative;
  border-right: 2px solid #f3f3f3;
  cursor: pointer;
  padding-left: 2px;
  margin: 2px 0px 2px 0px;
}
@media screen and (min-width: 1057px) {
  /* line 1018, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event {
    max-height: 16.8px;
  }
}

/* line 1030, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event:hover {
  border-right: 2px solid #FFA07A;
}

/* line 1034, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.monthly-container {
  min-height: calc(16.5%);
  border-bottom: 1px solid lightgray;
}

/* line 1039, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-date {
  text-align: right;
  height: 20px;
  width: 100%;
}

/* line 1045, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.date-inner {
  padding: 0 5px 0 5px;
}

/* line 1048, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-date.today .date-inner {
  background-color: #FFA07A;
  color: white;
  border-radius: 50%;
  float: right;
}

/* line 1055, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.date-flex {
  flex: 1;
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 5px 0px 3px;
  text-align: right;
  border-bottom: 1px solid lightgray;
}

/* line 1066, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn-mini {
  margin-top: 2px;
}

/* line 1070, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-time {
  font-size: .8em;
  color: gray;
}

/* line 1075, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#workout_session_memo {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 1080, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#workout_session_memo::-webkit-scrollbar {
  background: transparent;
  box-shadow: none;
  border: none;
  min-height: 20px;
}

/* line 1087, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#workout_session_memo::-webkit-scrollbar-thumb {
  background: #eee;
  height: 8px;
  width: 12px;
}

/* line 1093, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-status {
  font-size: .9em !important;
  padding-right: 3px;
  padding-left: 3px;
}

/* line 1099, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dow-flex {
  flex: 1;
  position: relative;
  background-color: white;
  padding: 5px 0px 5px 5px;
  border-right: 1px solid lightgray;
}

/* line 1107, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dow-flex.past {
  background-color: aliceblue;
}
/* line 1110, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dow-flex.past .event-inner {
  text-decoration: line-through;
  color: red;
}
/* line 1115, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dow-flex.past .event-bfr {
  background-color: aliceblue;
}

/* line 1120, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-bfr {
  font-size: 1em;
  color: gray;
  background-color: white;
  line-height: 15px;
}
@media screen and (min-width: 1057px) {
  /* line 1120, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .event-bfr {
    padding-left: 5px;
    position: absolute;
    right: 2px;
  }
}
@media screen and (max-width: 1060px) {
  /* line 1120, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .event-bfr {
    display: none;
  }
}

/* line 1137, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-bfr.bfr-minsize {
  min-width: 87px;
}

/* line 1141, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.time-bfr {
  padding-right: 1px;
  float: right;
}
@media screen and (max-width: 1057px) {
  /* line 1141, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .time-bfr {
    display: none;
  }
}

/* line 1150, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-details {
  color: #337ab7;
}

/* line 1154, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.otherMonth {
  background-color: #f3f3f3;
  opacity: .75;
}
/* line 1158, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.otherMonth .event-bfr {
  background-color: #f3f3f3;
}

/* line 1163, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.strike {
  text-decoration: line-through;
}

/* line 1167, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.hidden {
  visibility: hidden;
  display: none;
}

/* line 1172, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-inner {
  font-size: 12px;
  display: inline-block;
}
@media screen and (min-width: 1057px) {
  /* line 1172, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .event-inner {
    height: 16.8px;
  }
}

/* line 1181, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.mini-month-text {
  font-size: 1.25em;
  line-height: 30px;
}

/* line 1186, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.unselectable, .unavailable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1195, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.test {
  height: 100%;
  background: url(/assets/olivier-a8f789b780f5aa23cbe115abeddc7fd78328002ef7875edfe777f5dfb362cf1b.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 314px;
  height: 431px;
  bottom: 0;
  margin-left: -30px;
  opacity: .25;
}

/* line 1207, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder {
  width: 100%;
  padding: 5px 0px 5px 10px;
}

/* line 1211, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-li {
  position: relative;
  padding: 0 0px 0 15px;
  border-right: 2px solid transparent;
}
/* line 1216, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-li a {
  color: #444;
  display: block;
  padding-right: 55px;
}
/* line 1222, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-li a:hover, .reminder-li a:focus {
  color: #444 !important;
  text-decoration: none !important;
}

/* line 1230, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-li:hover {
  background-color: #f3f3f3;
  border-right: 2px solid #FFA07A;
}

/* line 1235, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

/* line 1240, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.emph, .reminder-date {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 1245, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
h5.reminder-date {
  font-size: .9em;
}

/* line 1249, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.reminder-time {
  position: absolute;
  top: 0;
  right: 5px;
  float: right;
  color: darkgray;
  font-size: .9em;
  line-height: 25px;
}

/* line 1259, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancel {
  text-decoration: line-through;
}
/* line 1262, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancel .reminder-time {
  text-decoration: line-through;
}
/* line 1266, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancel .event-status {
  color: #708090;
}
/* line 1270, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancel .event-details {
  text-decoration: line-through;
}
/* line 1274, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cancel .event-bfr {
  text-decoration: line-through;
}

/* line 1279, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.success {
  color: #2ECC40;
}
/* line 1281, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.success .event-status {
  color: #2ECC40;
}

/* line 1286, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.draft {
  color: #8B008B;
}
/* line 1289, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.draft .event-status {
  color: #8B008B;
}

/* line 1295, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.event-inner .unavailable {
  background-color: indianred !important;
  border-left: 4px solid maroon !important;
  color: white !important;
  text-align: right;
  padding-right: 4px;
}

/* line 1304, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.unavailable, .day-bfr.unavailable {
  background-color: indianred !important;
  color: white !important;
  border-left: 4px solid maroon;
  z-index: 1;
  cursor: default;
}

/* line 1312, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.unavailable:hover {
  box-shadow: none;
  z-index: 1 !important;
}

/* line 1318, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.past .unavailable {
  visibility: hidden;
}

/* line 1323, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.wday-listener {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

/* line 1330, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cal-main {
  flex: 1;
  height: 100%;
}

/* line 1337, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cal-side .cal-inner {
  border-bottom: 1px solid lightgray;
}
@media screen and (min-width: 760px) {
  /* line 1335, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-side {
    flex: 0 0 255px;
    position: relative;
  }
  /* line 1345, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-side .cal-inner {
    max-width: 260px;
  }
}
@media screen and (max-width: 760px) {
  /* line 1335, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-side {
    flex: 1;
  }
}

@media screen and (min-width: 1057px) {
  /* line 1355, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-1 {
    flex: 3;
  }
}
@media screen and (max-width: 760px) {
  /* line 1355, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-1 {
    flex: 1;
  }
}

@media screen and (min-width: 1057px) {
  /* line 1365, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-2 {
    flex: 6;
  }
}
@media screen and (min-width: 760px) and (max-width: 1057px) {
  /* line 1365, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-2 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 760px) {
  /* line 1365, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-2 {
    flex: 5;
  }
  /* line 1377, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-2 .dspl-month2 {
    text-align: left;
    padding-left: 15px;
    font-size: 2em;
  }
}

/* line 1385, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.dspl-month2 {
  color: #F3F3F3;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

@media screen and (min-width: 1057px) {
  /* line 1396, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-3 {
    flex: 3;
    text-align: right;
  }
}
@media screen and (max-width: 1057px) {
  /* line 1396, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-3 {
    flex: 3;
    text-align: right;
  }
  /* line 1406, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-3 .btn-text {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  /* line 1396, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .cal-menu-3 {
    flex: 6;
  }
}

@media screen and (min-width: 760px) {
  /* line 1417, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .sm-only {
    display: none !important;
  }
}
@media screen and (max-width: 760px) {
  /* line 1423, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .xhidden {
    display: none;
  }
}
/* line 1428, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group_recurring, .col-event.group {
  background-color: dodgerblue;
  border-left: 3px solid deepskyblue;
}
/* line 1432, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group_recurring .event-status, .col-event.group .event-status {
  display: none;
}
/* line 1436, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group_recurring .event-details, .col-event.group .event-details {
  color: white;
}
/* line 1440, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group_recurring .event-bfr, .col-event.group .event-bfr {
  background-color: dodgerblue !important;
  color: white !important;
}

@media screen and (max-width: 1060px) {
  /* line 1447, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.workout {
    background-color: gray;
  }
  /* line 1450, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.workout .event-details {
    color: white;
  }
  /* line 1454, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.workout .event-bfr {
    background-color: dodgerblue !important;
    color: white !important;
  }

  /* line 1461, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.workout.cancel .event-status {
    color: black;
  }

  /* line 1466, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.event {
    background-color: indianred;
  }
  /* line 1469, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.event .event-details {
    color: white;
  }
  /* line 1473, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .col-event.event .event-bfr {
    background-color: dodgerblue !important;
    color: white !important;
  }
}
/* line 1480, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.workout {
  background-color: gray;
}
/* line 1483, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.workout .event-content {
  color: white;
}

/* line 1488, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.event {
  background-color: indianred;
}
/* line 1491, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.event .event-content {
  color: white;
}

/* line 1496, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group.partakes {
  background-color: mediumseagreen;
  border-left: 3px solid deepskyblue;
}
/* line 1500, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group.partakes .event-status {
  display: none;
}
/* line 1504, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group.partakes .event-details {
  color: white;
}
/* line 1508, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.col-event.group.partakes .event-bfr {
  background-color: mediumseagreen !important;
  color: white !important;
}

/* line 1514, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group_recurring, .day-event.group {
  background-color: dodgerblue;
  border-left: 3px solid deepskyblue;
}
/* line 1518, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group_recurring .event-status, .day-event.group .event-status {
  display: none;
}
/* line 1522, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group_recurring .event-content, .day-event.group .event-content {
  color: white;
}
/* line 1526, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group_recurring .event-bfr, .day-event.group .event-bfr {
  background-color: dodgerblue !important;
  color: white !important;
}

/* line 1532, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group.partakes {
  background-color: mediumseagreen;
  border-left: 3px solid deepskyblue;
}
/* line 1536, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group.partakes .event-status {
  display: none;
}
/* line 1540, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group.partakes .event-content {
  color: white;
}
/* line 1544, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.day-event.group.partakes .event-bfr {
  background-color: mediumseagreen !important;
  color: white !important;
}

/* line 1550, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.invoice-detail {
  font-weight: bold;
}

/* line 1555, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.label.tag-default {
  background-color: #eeeeee;
  color: #555;
  font-weight: normal;
}

/* line 1561, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn.btn-emph {
  color: #555 !important;
  background-color: white;
  border-color: #eeeeee;
  border-width: 2px;
  width: 100%;
  height: 100%;
  outline: 0 !important;
}

/* line 1571, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.btn.btn-emph.active {
  border-color: #FFA07A;
}

/* line 1575, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.table.table-striped.shdw {
  font-size: .9em !important;
}

@media screen and (max-width: 760px) {
  /* line 1579, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .time-span {
    font-size: 8px;
  }
}

/* line 1585, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
#loading-ok {
  font-size: 20px;
  margin-top: 9px;
}

@media screen and (max-width: 1060px) {
  /* line 1590, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  #loading {
    width: 50%;
    left: 25%;
  }
}

/* line 1597, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.cal-container {
  height: 100%;
  background-color: #fafafa;
}

/* line 1603, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
table.notifications td {
  font-size: .75em;
}

/* line 1608, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notifications-container {
  margin: 0 auto;
  max-height: 600px;
  overflow: auto;
}
@media screen and (min-width: 1060px) {
  /* line 1608, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
  .notifications-container {
    width: 420px;
  }
}

/* line 1618, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notifications-ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 1622, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notifications-ul li {
  position: relative;
  padding: 5px;
  padding-left: 40px;
  border-top: 1px solid lightgray;
}
/* line 1629, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notifications-ul span.time {
  color: #90949c;
  font-size: .8em;
}

/* line 1635, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
img.notifications-gravatar {
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 10px;
}

/* line 1642, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notification-header {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
/* line 1648, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
.notification-header div.clear-all {
  float: right;
  font-size: .8em;
  margin-right: 5px;
}

/* line 1655, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
code.previous, code.current {
  padding: 0px;
  background-color: transparent;
}

/* line 1660, /vagrant/workspace/sample_app/app/assets/stylesheets/businesses.scss */
code.current {
  color: forestgreen;
}
