/* line 4, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.field-error {
  position: absolute;
  z-index: 5000;
  color: red;
  background-color: #ff7500;
  left: 0;
  top: 0;
  padding-left: 20px;
  margin-top: -20px;
}

/* line 14, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
#viewGroupSessionsModal {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 20, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .has-error .form-control {
  border-color: #d9534f;
}
/* line 23, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .has-error .help-block {
  display: none;
}
/* line 28, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .form-group {
  position: relative;
}
/* line 31, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .form-control {
  font-size: 16px;
  line-height: 24px;
  border-radius: 0px;
  border-width: 2px;
}
/* line 38, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .popover-content {
  background-color: #d9534f;
  border-color: #d9534f;
  color: white;
}
/* line 44, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .popover {
  background-color: #d9534f;
  left: 25px !important;
}
/* line 49, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-signup-form .popover.top > .arrow:after {
  border-top-color: #d9534f;
}

/* line 54, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-logo-header {
  background-color: #272d4e;
}

/* line 58, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-login-logo-1 {
  float: left;
  font-size: 1.5em;
  color: #FFA07A;
  font-weight: bold;
  margin-top: 1px;
}
/* line 64, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-login-logo-1:hover {
  text-decoration: none;
}

/* line 69, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-login-logo-2 {
  float: left;
  font-size: .9em;
  color: #F3F3F3;
  padding-top: 0px;
  font-weight: bold;
  margin-top: 4px;
}
/* line 76, /vagrant/workspace/sample_app/app/assets/stylesheets/embedded.scss */
.embedded-login-logo-2:hover {
  text-decoration: none;
}
