/* line 5, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.friends {
  width: 100%;
  border-spacing: 1px;
  border-collapse: separate;
  background-color: #E8E8E8;
  border-bottom: 1px solid #4F94CD;
  border-top: 1px solid #4F94CD;
}
/* line 13, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.friends th {
  padding-bottom: 5px;
}
/* line 16, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.friends td {
  height: 34px;
  padding-left: 5px;
  background-color: white;
  font-size: .85em;
  color: black;
}

/* line 24, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.addfriends {
  width: 100%;
}
/* line 27, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.addfriends th {
  padding-bottom: 5px;
}
/* line 30, /vagrant/workspace/sample_app/app/assets/stylesheets/friends.scss */
table.addfriends td {
  height: 34px;
  padding-left: 5px;
  font-size: .85em;
  color: black;
}
