/* line 1, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.fit-container {
  display: table;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* line 8, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.remove-submit-btn-style {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: none;
}

/* line 16, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.remove-submit-btn-style:hover {
  cursor: default;
}
/* line 19, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.remove-submit-btn-style:hover span {
  cursor: pointer;
}

/* line 24, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn {
  box-shadow: 0 0 0 2px #337ab7;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

/* line 31, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  line-height: 2.5;
}

/* line 35, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn:hover {
  box-shadow: 0 0 0 2px #FFA07A;
  transition: .1s;
}

/* line 41, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn-danger {
  box-shadow: 0 0 0 2px #bd362f;
  color: #bd362f;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

/* line 49, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn-danger:hover {
  box-shadow: 0 0 0 2px #ff6347;
  color: #ff6347;
  transition: .1s;
}

/* line 55, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn-success {
  box-shadow: 0 0 0 2px #3c763d;
  color: #3c763d;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

/* line 63, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn-success:hover {
  box-shadow: 0 0 0 2px limegreen;
  color: limegreen;
  transition: .1s;
}

/* line 69, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.fit-row {
  height: 100%;
  display: table-row;
}

/* line 74, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.shdw {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

/* line 78, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.bg-white {
  background-color: white;
}

/* line 82, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 87, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.bg-transparent {
  background-color: transparent;
}

/* line 91, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.tbl-fnt {
  font-size: 12px;
}

/* line 95, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.white-font {
  color: white;
}

/* line 99, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-border-radius {
  border-radius: 0px;
}

/* line 103, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-border {
  border: none;
}

/* line 107, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-m-l {
  margin-left: 0px;
}

/* line 111, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-m-r {
  margin-right: 0px;
}

/* line 115, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.float-right {
  float: right;
}

/* line 119, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-p-l {
  padding-left: 0px;
}

/* line 123, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-p-r {
  padding-right: 0px;
}

/* line 127, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.f-c {
  text-align: center;
}

/* line 131, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.f-l {
  text-align: left;
}
