/* line 1, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.fit-container {
  display: table;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* line 8, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn {
  box-shadow: 0 0 0 2px #337ab7;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

/* line 15, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.circ-btn:hover {
  box-shadow: 0 0 0 2px #FFA07A;
  transition: .1s;
}

/* line 21, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.fit-row {
  height: 100%;
  display: table-row;
}

/* line 26, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.shdw {
  background-color: white;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

/* line 30, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 35, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.bg-transparent {
  background-color: transparent;
}

/* line 39, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.tbl-fnt {
  font-size: 12px;
}

/* line 43, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.white-font {
  color: white;
}

/* line 47, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-border-radius {
  border-radius: 0px;
}

/* line 51, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.no-border {
  border: none;
}

/* line 55, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-m-l {
  margin-left: 0px;
}

/* line 59, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-m-r {
  margin-right: 0px;
}

/* line 63, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.float-right {
  float: right;
}

/* line 67, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-p-l {
  padding-left: 0px;
}

/* line 71, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
no-p-r {
  padding-right: 0px;
}

/* line 75, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.f-c {
  text-align: center;
}

/* line 79, /vagrant/workspace/sample_app/app/assets/stylesheets/generic.scss */
.f-l {
  text-align: left;
}
