/* line 4, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.chart {
  display: inline-block;
  margin-right: 0;
  transition: all .3s ease;
}

/* line 10, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.box {
  background-color: #eee;
  padding: 20px;
  cursor: pointer;
}
/* line 17, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.box:hover .chart, .box:focus .chart {
  transform: scale(6) translate(7px, -20px);
}

/* line 23, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar {
  position: relative;
  fill: #94b8d6;
  /* height: 21px; */
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  display: inline-block;
}

/* line 35, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.chart:hover .bar,
.chart:focus .bar {
  fill: #aaa;
}

/* line 40, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar:hover,
.bar:focus {
  fill: #FFA07A !important;
}
/* line 44, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar:hover text,
.bar:focus text {
  fill: #FFA07A;
}

/* line 49, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
figcaption {
  font-weight: bold;
  margin-bottom: 20px;
}
