/* line 3, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.chart {
  display: inline-block;
  margin-right: 0;
  transition: all .3s ease;
}

/* line 9, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.box {
  background-color: #eee;
  padding: 20px;
  cursor: pointer;
}
/* line 16, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.box:hover .chart, .box:focus .chart {
  transform: scale(6) translate(7px, -20px);
}

/* line 22, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar {
  position: relative;
  fill: #aaa;
  /* height: 21px; */
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  display: inline-block;
}

/* line 34, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.chart:hover .bar,
.chart:focus .bar {
  fill: #aaa;
}

/* line 39, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar:hover,
.bar:focus {
  fill: #FFA07A !important;
}
/* line 43, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
.bar:hover text,
.bar:focus text {
  fill: #FFA07A;
}

/* line 48, /vagrant/workspace/sample_app/app/assets/stylesheets/svg.scss */
figcaption {
  font-weight: bold;
  margin-bottom: 20px;
}
