/* line 5, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.field-error {
  position: absolute;
  z-index: 5000;
  color: red;
  background-color: #ff7500;
  left: 0;
  top: 0;
  padding-left: 20px;
  margin-top: -20px;
}

/* line 15, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
#viewGroupSessionsModal {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 21, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .has-error .form-control {
  border-color: #d9534f;
}
/* line 24, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .has-error .help-block {
  display: none;
}
/* line 29, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .form-group {
  position: relative;
}
/* line 32, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .form-control {
  font-size: 16px;
  line-height: 24px;
  border-radius: 0px;
  border-width: 2px;
}
/* line 39, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .popover-content {
  background-color: #d9534f;
  border-color: #d9534f;
  color: white;
}
/* line 45, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .popover {
  background-color: #d9534f;
  left: 25px !important;
}
/* line 50, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.embedded-signup-form .popover.top > .arrow:after {
  border-top-color: #d9534f;
}

/* line 56, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.overall {
  border-bottom: 1px solid #4080B0;
}

/* line 59, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.sessions {
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
  background-color: #E8E8E8;
  vertical-align: middle;
  display: inline-block;
  border-bottom: 1px solid #4080B0;
}
/* line 68, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.sessions td.dayname {
  background-color: #F8F8F8;
}

/* line 73, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.monthname {
  border-bottom: 2px solid #4080B0;
}

/* line 77, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.sesh_upcoming {
  position: relative;
  font-size: 1.25em;
  line-height: 35px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #F8F8F8;
}

/* line 88, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.sesh_nil {
  width: 15px;
  height: 15px;
  background-color: #F8F8F8;
}

/* line 94, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.first_day {
  border-top: 2px solid #4080B0;
}

/* line 98, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
td.footer {
  text-align: left;
  width: auto;
}

/* line 103, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
a.sesh {
  width: 100%;
  height: 100%;
}

/* line 108, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.overall {
  margin: 0 auto;
}

/* line 117, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.billing_group {
  font-size: 1.7em;
  color: #4F94CD;
}

/* line 121, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.billing_category {
  font-size: 1.2em;
  color: #4F94CD;
}

/* line 126, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.paid {
  color: green;
}

/* line 130, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.due {
  color: red;
}
