/* line 5, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.overall {
  border-bottom: 1px solid #4080B0;
}

/* line 8, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.sessions {
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
  background-color: #E8E8E8;
  vertical-align: middle;
  display: inline-block;
  border-bottom: 1px solid #4080B0;
}
/* line 17, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.sessions td.dayname {
  background-color: #F8F8F8;
}

/* line 22, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.monthname {
  border-bottom: 2px solid #4080B0;
}

/* line 26, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.sesh_upcoming {
  position: relative;
  font-size: 1.25em;
  line-height: 35px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #F8F8F8;
}

/* line 37, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.sesh_nil {
  width: 15px;
  height: 15px;
  background-color: #F8F8F8;
}

/* line 43, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.first_day {
  border-top: 2px solid #4080B0;
}

/* line 47, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
td.footer {
  text-align: left;
  width: auto;
}

/* line 52, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
a.sesh {
  width: 100%;
  height: 100%;
}

/* line 57, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
table.overall {
  margin: 0 auto;
}

/* line 66, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.billing_group {
  font-size: 1.7em;
  color: #4F94CD;
}

/* line 70, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.billing_category {
  font-size: 1.2em;
  color: #4F94CD;
}

/* line 75, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.paid {
  color: green;
}

/* line 79, /vagrant/workspace/sample_app/app/assets/stylesheets/users.scss */
.due {
  color: red;
}
