/* line 5, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

/* line 11, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
#memotext {
  height: 400px;
}

/* line 14, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-primary.btn-outline {
  color: #428bca;
}

/* line 18, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-success.btn-outline {
  color: #5cb85c;
}

/* line 22, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-info.btn-outline {
  color: #5bc0de;
}

/* line 26, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-warning.btn-outline {
  color: #f0ad4e;
}

/* line 30, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-danger.btn-outline {
  color: #d9534f;
}

/* line 34, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

/* line 42, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.hoverhead {
  text-align: center;
  margin: 0 auto;
}
/* line 46, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.hoverhead td.hoverhead {
  display: inline-block;
  font-size: .9em;
  padding: auto;
  text-align: centre;
  width: 100px;
  height: 130px;
}
/* line 53, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.hoverhead td.hoverhead .gravatar {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

/* line 61, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.remove {
  color: red;
}
/* line 64, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.remove:hover {
  text-decoration: none;
  color: maroon;
}

/* line 70, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table {
  width: 100%;
  border-collapse: separate;
}
/* line 74, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_time {
  text-align: right;
  width: 33%;
  font: 1.8em  Arial,sans-serif;
  border-bottom: 1px solid #4F94CD;
}
/* line 81, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_date {
  text-align: left;
  width: 33%;
  font: 1.8em Oswald, sans-serif;
  border-bottom: 1px solid #4F94CD;
}
/* line 87, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_buffer {
  text-align: right;
  width: 33%;
  font: 1.5em Arial,sans-serif;
}
/* line 93, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_location {
  text-align: left;
  width: 33%;
  font: 1.5em Arial,sans-serif;
}
/* line 99, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_status {
  text-align: center;
  width: 33%;
  font: 0em Arial,sans-serif;
}
/* line 105, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_until {
  text-align: center;
  width: 33%;
  font: 2em Arial,sans-serif;
}
/* line 111, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_title {
  text-align: center;
  font: 2em Arial,sans-serif;
}
/* line 116, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_hoverhead {
  margin-top: 20px;
}
/* line 120, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
table.workout_table td.workout_reschedule {
  text-align: center;
}

/* line 125, /vagrant/workspace/sample_app/app/assets/stylesheets/workout_sessions.scss */
.event_header_day {
  color: #FFA07A;
  font-size: larger;
}
