<%= simple_form_for(@workout_session, :class => "addWorkoutForm") do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<% if current_user.admin? %>	
			<%= f.input_field :gsync, as: :boolean, :label => false, :inline_label => "Google Sync", :id => "gsync-toggle" %>
		<% else %>
			<h4 class="modal-title">Add Workout Session</h4>
		<% end %>
	</div>

	<div class="modal-body">					
		<%= render 'shared/error_messages', object: f.object %>
		<table width = "100%">
			<tr>
				<td colspan=2>
					<%= f.text_field :location, label: false, :placeholder => "Location - i.e @ SFU", class: 'form-control' %>
				</td>
			</tr>
			<tr>
				<td>
				<%= f.input :date, as: :string, label: "From", input_html: { id: "datetimepicker_start", value: (Time.zone.now + @m.months).strftime('%m-%d-%Y %I')} %>								
				</td>
				<% if current_user.admin? %>
					<td valign="top">
						<%= f.input :bfr_from, :label => "Before buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
					</td>		
				<% end %>
			</tr>
			<tr>
				<td>
				<% if current_user.admin? %>
					<%= f.input :duration, as: :string, label: "To", input_html: { id: "datetimepicker_end", value: (Time.zone.now + 1.hour + @m.months).strftime('%m-%d-%Y %I')} %>	
				<% else %>
					<%= f.input :duration, as: :string, disabled: true, label: "To", input_html: { id: "datetimepicker_end", value: (Time.zone.now + 1.hour + @m.months).strftime('%d-%m-%Y %I')} %>	
				<% end %>
				</td>
				<% if current_user.admin? %>
					<td valign="top">
						<%= f.input :bfr_to, :label => "After buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
					</td>
				<% end %>
			</tr>
		</table>
	</div>		
	<div class="modal-body repeat_on">	
		<table style="width:50%">
			<tr> 
				<th> <%= f.label "Repeat on" %> </th>	
			
				<% Date::DAYNAMES.each do |d| %>							
					<td>
						<% l = raw("&emsp;&nbsp;") + d[0..2] %>
						<%= f.input_field d[0..2].downcase, as: :boolean, :label => false, :inline_label => true %>
					</td>									
				<% end %>						
			</tr>
		</table>
		<%= f.input :until, as: :string, label: "Repeat until", input_html: { id: "datepicker_until", value: Time.zone.now.strftime('%m/%d/%Y')} %>
	</div>
		
	<div class="modal-body">					
		<table width = "100%">
				<tr>						
					<td colspan="2"> 
					<% if current_user.admin? %>
						<%= f.collection_select :clients, @users, :id, :name, {include_hidden: false}, { multiple: true, class: 'userselect2', style: "width: 100%"} %>	
					<% else %>
						<%= f.collection_select :clients, (get_friends_for_client current_user), :id, :name, {include_hidden: false}, { multiple: true, class: 'userselect3', style: "width: 100%"} %>	
					<% end %>
					</td>
				</tr>
		</table>
	</div>
	
	<div class="modal-footer">	
		<%= f.hidden_field :eventtype, :value => 1 %>
		<%= f.submit "Add session", class: "btn btn-primary" %>
	</div>
<% end %>

