<% unless !current_user.admin? || @workout_session.status == 3 || @workout_session.status == 2 %>			
	<%= link_to "Cancel", workout_sessions_cancel_path(:id => @workout_session.id), method: :patch, :class=>"btn btn-default" %>
<% end %>