<%= simple_form_for(ws) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="modal-body">		
		<table width = "100%">
						<tr>
							<%= f.text_field :location, label: false, :placeholder => "Location - i.e @ SFU", class: 'form-control' %>
						</tr>
						<tr>
							<td>
							<%= f.input :date, as: :string, label: "From", input_html: { id: "datetimepicker_start_reschedule", value: @workout_session.date.strftime('%m-%d-%Y %I:%M %p')} %>								
							</td>
							<% if current_user.admin? %>
								<td valign="top">
									<%= f.input :bfr_from, :label => "Before buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
								</td>		
							<% end %>
						</tr>
						<tr>
							<td>
							<% if current_user.admin? %>
								<%= f.input :duration, as: :string, label: "To", input_html: { id: "datetimepicker_end_reschedule", value:(@workout_session.date + 1.hour).strftime('%m-%d-%Y %I:%M %p')} %>	
							<% else %>
								<%= f.input :duration, as: :string, disabled: true, label: "To", input_html: { id: "datetimepicker_end_reschedule", value: (@workout_session.date + 1.hour).strftime('%m-%d-%Y %I:%M %p')} %>	
							<% end %>
							</td>
							<% if current_user.admin? %>
								<td valign="top">
									<%= f.input :bfr_to, :label => "After buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
								</td>
							<% end %>
						</tr>
		</table>		
	</div>
	<div class="modal-footer">	
	<%= hidden_field_tag(:old_id, id.to_s) %>	
	<%= f.submit "Reschedule", class: "btn btn-primary" %>
	</div>
<% end %>