<%= simple_form_for([@business, ws], :class => "addWorkoutForm") do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><%= raw(date_for(ws)) %></h4>

			<div class="dropdown" id="print">
	      <button style=" border: none; background: none; margin-left:0px; padding-left:2px;" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	        <span class="glyphicon glyphicon-cog event-cog" aria-hidden="true"></span>
	      </button>

	      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	      <% if false %>
	      <li><a href="#" class="edit_event" id="<%= ws.id %>">Edit..</a></li>
	      <li><a href="#">Edit series..</a></li>
	      <li class="divider", id: "headertext" ></li>
	      <% end %>
	      <li>
	        <%= link_to reminders_add_path(ws), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
	          Add reminder
	        <% end %>
	      </li>
	      <li class="divider", id: "headertext" ></li>
	      <li><%= link_to "Remove", business_workout_session_path(@business.slug, ws), method: :delete,
	              data: { confirm: "Remove session?" } %></li>
	      <li><%= link_to "Remove following sessions", business_workout_sessions_removefollowing_path(@business.slug, ws), method: :patch,
	              data: { confirm: "Remove following sessions?" } %></li>
	      <li><%= link_to "Remove all sessions", business_workout_sessions_removeall_path(@business.slug, ws), method: :patch,
	              data: { confirm: "Remove all sessions?" } %></li>
	      </ul>
	    </div>

			<%= render 'session_tags', ws: ws %>
	</div>

	<%= render 'shared/error_messages', object: f.object %>

	<section class="event_time" style="padding-top: 10px; padding-left:40px; padding-right: 40px;">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons"></span>
				<label class="label_plain">From</label>
			</div>

			<div class="form-inline event_from">
					<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_viewevent_start", value: ws.date.strftime('%m-%d-%Y %I:%M %p')} %>
					<%= f.input :bfr_from, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>

			<div>
				<label class="label_plain">To</label>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, label: false, input_html: { id: "datetimepicker_viewevent_end", value:(ws.date + 1.hour).strftime('%m-%d-%Y %I:%M %p')} %>
				<%= f.input :bfr_to, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
			</div>
		</div>
	</section>

	<section class="event_title" style="padding-left:40px; padding-right: 40px;">
		<span class="glyphicon glyphicon-calendar event-icons"></span>
		<label class="label_plain">What</label>
		<%= f.input :title, label: false, :placeholder => "Enter an activity.." %>
	</section>

	<section class="event_location" style="padding-top: 10px; padding-left:40px; padding-right: 40px;">
		<span class="glyphicon glyphicon-map-marker event-icons"></span>
		<label class="label_plain">Where</label>
		<%= f.input :location, label: false, :placeholder => "Enter a location.." %>
	</section>

	<section class="event-memo" style="padding: 0px 40px 10px 40px;">
		<div>
			<span class="glyphicon glyphicon-comment event-icons"></span>
			<label class="label_plain">Memo</label>
		</div>

		<%= f.input :memo, label: false, as: :text, autofocus: true, :placeholder => "Write a memo..", :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project'} %>
	</section>

	<div class="modal-footer">
		<div style="width:200px; float: right;">
			<%= f.hidden_field :eventtype, :value => 1 %>
			<%= f.submit "Save", class: "btn btn-success" %>
		</div>
	</div>
<% end %>

<script>
	$('#gsync-toggle3').bootstrapToggle();

	$('#datetimepicker_viewevent_start').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$('#datetimepicker_viewevent_end').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$("#datetimepicker_viewevent_start").on("dp.change", function (e) {
		var date = e.date.clone();
		date.add(1, 'hours');
		$('#datetimepicker_viewevent_end').data("DateTimePicker").minDate(e.date);
		$('#datetimepicker_viewevent_end').data("DateTimePicker").date(date);
	});
</script>
