<%= simple_form_for([@business, @ws_new], :class => "addWorkoutForm") do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><%= raw(date_for(@ws_new)) %></h4>
			<%= raw(repeat_groupworkout_status(ws, @ws_new.date, true)) %>
			<div class="dropdown" style="display: inline-block;">
				<button style=" border: none; background: none; padding-left:2px; padding-right:2px; " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="glyphicon glyphicon-cog event-cog" aria-hidden="true"></span>
				</button>

				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li>
						<%= link_to reminders_add_path(ws), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
						Add reminder
						<% end %>
					</li>
					<li class="divider", id: "headertext" ></li>
					<% if ws.status != WorkoutSession::STATUS["draft"] %>
					<% unless ws.status == WorkoutSession::STATUS["ok"] %>
					<% lbl = (Time.zone.now.today > ws.date) ? "Success" : "Upcoming" %>
					<li>
						<%= link_to lbl, business_workout_sessions_success_path(@business.id, ws), method: :patch %>
					</li>
					<% end %>

					<% unless ws.status == WorkoutSession::STATUS["cancel"] %>
					<li>	<!-- Cancel -->
						<%= link_to "Cancel", business_workout_sessions_cancel_path(@business.slug, ws), method: :patch %>
					</li>
					<% end %>
					<% end %>
					<li class="divider", id: "headertext" ></li>
					<li><%= link_to "Remove this session", business_workout_sessions_remove_path(@business.slug, ws, ws.date.strftime("%m/%d/%Y")), method: :patch,
					data: { confirm: "Remove session?" } %></li>
					<li><%= link_to "Remove following sessions", business_workout_sessions_removefollowing_path(@business.slug, ws, ws.date.strftime("%m/%d/%Y")), method: :patch,
					data: { confirm: "Remove following sessions?" } %></li>
					<li><%= link_to "Remove all sessions", business_workout_sessions_removeall_path(@business.slug, ws), method: :patch,
					data: { confirm: "Remove all sessions?" } %></li>
				</ul>
			</div>

			<%= render 'session_tags', ws: ws %>

			<div>
				<small> <span class="glyphicon glyphicon-repeat" style="padding-right: 2px; margin-left: 1px;"></span> Repeat: <a href="#"> Ends never.. </a> </small>
				<% if ws.group %>
					<small> on <a href="#"> <%= repeat_on_to_weekdays ws.group.repeat_on %> </a> </small>
				<% end %>
			</div>

	</div>

	<%= render 'shared/error_messages', object: f.object %>
	<section class="event_time" style="padding-top: 10px; padding-left:40px; padding-right: 40px;">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons"></span>
				<label class="label_plain">From</label>
			</div>

			<div class="form-inline event_from">
					<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_start_admin_modal", value: @ws_new.date.strftime('%m-%d-%Y %I:%M %p')} %>
					<%= f.input :bfr_from, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60}, selected: ws.bfr_from %>
			</div>

			<div>
				<label class="label_plain">To</label>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, label: false, input_html: { id: "datetimepicker_end_admin_modal", value: (@ws_new.date + 1.hour).strftime('%m-%d-%Y %I:%M %p')} %>
				<%= f.input :bfr_to, label: false, :include_hidden => false, :include_blank => false, collection: { "no buffer" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60}, selected: ws.bfr_to %>
			</div>
		</div>
	</section>

	<section class="event_title">
		<span class="glyphicon glyphicon-flag event-icons"></span>
		<label class="label_plain">What</label>
		<%= f.input :title, label: false, :placeholder => "Enter a title..", input_html: { value: ws.title } %>
	</section>

	<section class="event_location" style="padding-left:40px; padding-right: 40px;">
		<span class="glyphicon glyphicon-map-marker event-icons"></span>
		<label class="label_plain">Where</label>
		<%= f.input :location, label: false, :placeholder => "Enter a location..", input_html: { value: ws.location } %>
	</section>

	<section class="event-clients" style="padding: 0px 40px 10px 40px;">
		<div>
			<span class="glyphicon glyphicon-user event-icons"></span>
			<label class="label_plain">Who</label>
		</div>
		<%= f.collection_select :clients, User.all, :id, :name, {include_hidden: false, selected: (assigned_clients ws)}, { multiple: true, class: 'userselect2', style: "width: 100%; height: 100%;"} %>
	</section>

	<section class="event-memo" style="padding: 0px 40px 10px 40px;">
		<div>
			<span class="glyphicon glyphicon-comment event-icons"></span>
			<label class="label_plain">Memo</label>
		</div>

		<%= f.input :memo, label: false, as: :text, autofocus: true, :placeholder => "Write a memo..", :input_html => {:style => 'width: 100%', :rows => 5, class: 'response-project', value: ws.memo} %>
	</section>

	<div class="modal-footer">
    <%= f.hidden_field :eventtype, :value => WorkoutSession.groupworkout %>
		<%= f.hidden_field :group_id, :value => @ws.group_id %>
   	<%= hidden_field_tag(:old_id, ws.id.to_s) %>
		<%= hidden_field_tag(:old_date, @ws_new.date.strftime("%m/%d/%Y")) %>
    <div class="col-md-4 sm-mrgn-wrkt float-right">
			<!-- Single button -->
			<div class="btn-group col-md-4" style="width: 100%;">
			  <button type="button" class="btn btn-success dropdown-toggle" style="width: 100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Save <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><%= f.submit "This event only" %></li>
					<li> <hr style="margin-bottom: 8px; margin-top: 8px;"> </li>
			    <li><%= f.submit "All future events" %></li>
			    <li><%= f.submit "All events" %></li>
			  </ul>
			</div>
		</div>
  </div>

	</div>
<% end %>

<script>
	$('.userselect2').select2({
			placeholder: "Select clients..",
			closeOnSelect: false,
			allowClear: true
		});

	$('#datetimepicker_start_admin_modal').datetimepicker({
			sideBySide: true,
			stepping: 15
		});



	$('#datetimepicker_end_admin_modal').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$("#datetimepicker_start_admin_modal").on("dp.change", function (e) {
			var date = e.date.clone();
			date.add(1, 'hours');

			$('#datetimepicker_end_admin_modal').data("DateTimePicker").minDate(e.date);
			$('#datetimepicker_end_admin_modal').data("DateTimePicker").date(date);
		});

	$("#event-repeat-toggle").hide();
  $("a#toggle_repeat").click(function(event){
    event.preventDefault();
    $("#event-repeat-toggle").toggle();

		$('.check_days').prop("checked", false);
  });
</script>
