<%= simple_form_for([@business, ws_new], :class => "addWorkoutForm") do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><%= raw(date_for(ws)) %></h4>
			<%= raw(workout_status(ws, nil, true)) %>
	</div>

	<%= render 'shared/error_messages', object: f.object %>
	<section class="event_time" style="padding-top: 10px; padding-left:40px; padding-right: 40px;">
		<div >
			<div>
				<span class="glyphicon glyphicon-time event-icons"></span>
				<label class="label_plain">From</label>
			</div>

			<div class="form-inline event_from">
				<%= f.input :date, as: :string, label: false, input_html: { id: "datetimepicker_start_client_modal", value: ws.date.strftime('%m-%d-%Y %I:%M %p')} %>
			</div>

			<div>
				<label class="label_plain">To</label>
			</div>
			<div class="form-inline event_to">
				<%= f.input :duration, as: :string, label: false, input_html: { id: "datetimepicker_end_client_modal", value:(ws.date + 1.hour).strftime('%m-%d-%Y %I:%M %p')} %>
			</div>
		</div>
	</section>

	<section class="event_location" style="padding-left:40px; padding-right: 40px;">
		<span class="glyphicon glyphicon-map-marker event-icons"></span>
		<label class="label_plain">Where</label>
		<%= f.input :location, label: false, :placeholder => "Enter a location..", input_html: { value: ws.location } %>
	</section>

	<section class="event-memo" style="padding: 0px 40px 10px 40px;">
		<div>
			<span class="glyphicon glyphicon-comment event-icons"></span>
			<label class="label_plain">Memo</label>
		</div>

		<%= f.input :memo, label: false, as: :text, autofocus: true, :placeholder => "Write a memo..", :input_html => { value: ws.memo, style: 'width: 100%', rows: 5, class: 'response-project'} %>
	</section>

	<div class="modal-footer">

			<%= f.hidden_field :eventtype, :value => WorkoutSession.workout %>
			<%= hidden_field_tag(:old_id, ws.id.to_s) %>
			<% if can_edit(ws) %>
			<div style="float: left;">
				<%= link_to business_workout_sessions_cancel_path(@business, ws), method: :patch, class: "btn btn-danger", data: { confirm: "Remove session?" } do %>
					Remove
				<% end %>
		  </div>
			<div style="width:200px; float: right;">
				<%= f.submit "Request change", class: "btn btn-info" %>
			</div>
			<% end %>

	</div>
<% end %>

<script>

	$('.userselect2').select2({
			placeholder: "Select clients..",
			closeOnSelect: false,
			allowClear: true
		});

	$('#datetimepicker_start_client_modal').datetimepicker({
			sideBySide: true,
			stepping: 15
		});



	$('#datetimepicker_end_client_modal').datetimepicker({
			sideBySide: true,
			stepping: 15
		});

	$("#datetimepicker_start_client_modal").on("dp.change", function (e) {
			var date = e.date.clone();
			date.add(1, 'hours');

			$('#datetimepicker_end_client_modal').data("DateTimePicker").minDate(e.date);
			$('#datetimepicker_end_client_modal').data("DateTimePicker").date(date);
		});

	$("#event-repeat-toggle").hide();
  $("a#toggle_repeat").click(function(event){
    event.preventDefault();
    $("#event-repeat-toggle").toggle();

		$('.check_days').prop("checked", false);
  });
</script>
