<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title"><%= raw(date_for(ws)) %></h4>
		<section>
			<span class="glyphicon glyphicon-map-marker"></span>
			<label class="label_plain"> <%= ws.location.present? ? ws.location : (ws.business.address.present? ? ws.business.address : "Regular location") %></label>
		</section>

</div>
<div class="modal-body">
	<section>
		<h4 class="font-bold"> <%= ws.title.present? ? ws.title : "Group Workout" %> </h4>
	</section>

	<% lorem_ipsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." %>
	<section>
			<label class="label_plain"> <%= ws.memo.present? ? ws.memo : lorem_ipsum %></label>
	</section>
	<% if current_user.partakes_in?(ws) %>
		<h3> <small>You are signed up for this class! </small> </h3>
	<% end %>
</div>
<div class="modal-footer">
	<div style="width:200px; float: right;">
		<% if current_user && current_user.partakes_in?(ws) %>
			<%= link_to "Cancel", business_cancel_groupsession_url(ws.business.slug, ws.id), data: { confirm: "Cancel class?" }, class: "btn btn-danger btn-outline btn-sm" %>
		<% else %>
			<%= link_to "Book", business_book_groupsession_url(ws.business.slug, ws.id), class: "btn btn-primary btn-sm" %>
		<% end %>
	</div>
</div>
