<div class="session-tags">
  <span class="label tag-default"> <%= WorkoutSession.eventtype_string(ws.eventtype) %> </span>
  &nbsp;

  <% if ws.billable_eventtype? %>
    <span class="label tag-default"> <%= paid_status(ws) %> </span>
  <% end %>
</div>
