<div class="btn-group">
	<% case ws.status %>
		<% when 0 %>			
			<% if Time.zone.now > ws.date %>
				<button type="button" class="btn btn-success">Success</button>	 
			<% else %>		
				<button type="button" class="btn btn-primary">Coming Up</button>	
			<% end %>
		<% when 1 %>
			<button type="button" class="btn btn-warning">Rescheduled</button>	
		<% when 2 %>
			<button type="button" class="btn btn-default">Cancelled</button>	
		<% when 3 %>					
			<button type="button" class="btn btn-danger">No show</button>	
		<% when 4 %>
			<button type="button" class="btn btn-info">Pending</button>	
	<% end %>
</div>