<li id="workout_session-<%= workout_session.id %>">
  <span class="user"><%= link_to workout_session.user.name, workout_session.user %></span>
   &ndash; 
  <span class="date"><%= link_to workout_session.date, workout_session %></span>
  <span class="timestamp">
    Scheduled <%= time_ago_in_words(workout_session.created_at) %> ago.
  <% if current_user?(workout_session.user) || current_user.admin? %>
  <%= link_to "cancel", workout_session, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </span>
</li>