<div class="container-fluid">
<h1>History</h1>

<table class="table table-striped shdw">
  <thead>
    <tr>
      <th>Business ID</th>
      <th>ID</th>
      <th>Created By</th>
      <th>Clients</th>
      <th>Created At</th>
      <th>From</th>
      <th>To</th>
      <th>Before Buffer</th>
      <th>After Buffer</th>
      <th>Title</th>
      <th>Memo</th>
      <th>Location</th>
      <th>Event Type</th>
      <th>Group ID</th>
      <th>Tax</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% users = User.all %>
    <% @workout_sessions.each do |ws| %>
      <tr>
        <td><%= ws.business_id %></td>
        <td><%= ws.id %></td>
        <td><%= ws.user.try(:name) %></td>
        <td><%= ws.user_workouts.pluck(:user_id).map {|id| users.find(id).name } if ws.user_workouts.any? %></td>
        <td><%= ws.created_at.strftime('%B %-d, %Y - %I:%M %p') %></td>
        <td><%= ws.date.strftime('%B %-d, %Y - %I:%M %p') %></td>
        <td><%= ws.duration.strftime('%B %-d, %Y - %I:%M %p') %></td>
        <td><%= ws.bfr_from %></td>
        <td><%= ws.bfr_to %></td>
        <td><%= ws.title %></td>
        <td><%= ws.memo %></td>
        <td><%= ws.location %></td>
        <td><%= ws.eventtype %></td>
        <td><%= ws.group_id %></td>
        <td><%= ws.tax_id %></td>
        <td>
          <%= link_to business_workout_session_path(@business.slug, ws), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-zoom-in btn-icon"></span>
            <span class="none btn-text">View</span>
          <% end %>
          <%= link_to business_workout_session_path(@business.slug, ws), method: :delete, data: { confirm: "Remove session?" }, :class => "btn btn-default btn-sm" do %>
            <i class="far fa-trash-alt btn-icon"></i>
            <span class="none btn-text">Remove</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
