<% provide(:title, @workout_session.date.strftime("%d %B %Y")) %>

<div class="container-fluid" style="background-color:#F3F3F3; margin-top:50px; padding-bottom:15px;">
	<div class="container" style="background-color:white; margin-top: 15px; padding: 15px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);">
		<% @reminders.each do |r| %>
			<div class="alert alert-info" style="margin: 5px; padding-left: 5px; padding-right:5px;">
				<%= link_to reminders_view_path(r), remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
					<%= r.memo %>
				<% end %>
				<div style="float: right;">
					<%= link_to r, method: :delete, data: { confirm: 'Are you sure?' } do %>
						&times;
					<% end %>
				</div>
			</div>
		<% end %>
		<table class="workout_table special-font">
			<% if @workout_session.title.present? %>
				<tr class="workout_title">
					<td class="workout_title" colspan=3>
						<%= @workout_session.title %>
					</td>
				</tr>
				<tr height="25px" />
			<% end %>
			<tr class="workout_table">
				<td class="workout_date">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= raw(date_for_old(@workout_session)) %>
				</td>
				<td class="workout_until">
					<%= date_until(@workout_session) %>
				</td>
				<td class="workout_time">
					<%= raw(event_time_full_for @workout_session) %> <span class="glyphicon glyphicon-time" aria-hidden="true">
				</td>
			</tr>
			<tr>
				<td class="workout_location" colspan=2>
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					<% if !@workout_session.location.nil? && @workout_session.location != "" %>
						 <%= @workout_session.location.strip %>
					<% end %>
				</td>

				<td class="workout_buffer">
					<%= raw(buffer_time_for(@workout_session)) %>
				</td>
			</tr>
			<tr>
				<td class="workout_status" colspan=3>
					<% if @workout_session.eventtype == 1 %>
						<div style="margin-top:-10px; margin-bottom:15px;">
							<table style="margin: 0 auto">
								<tr>
									<td>
										<%= render 'status', ws: @workout_session %>
									</td>
								</tr>
							</table>
						</div>
					<% else %>
						<div style="margin-top:-10px; margin-bottom:15px;">
							<table style="margin: 0 auto">
								<tr>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu">
												<% if @business.view_as_employee?(current_user) %>
													<li><%= link_to "Edit", "#edit-modal", "data-toggle" => "modal" %></li>
													<li><%= link_to "Remove", business_workout_sessions_path(@business.slug, @workout_session), method: :delete,
																	data: { confirm: "Remove session?" } %></li>
													<li class="divider", id: "headertext"></li>
													<li><%= link_to "Sync with Google Calendar", business_workout_sessions_sync_google_event_path(@business.slug, @workout_session), method: :patch, data: { confirm: "Sync with Google Calendar?" } %></li>
												<% end %>
											</ul>
										</div>
									</td>
								</tr>
							</table>
						</div>
					<% end %>

				</td>
			</tr>
			<tr>
				<td class="workout_reschedule" colspan=3>
					<% if !(@re = Reschedule.where( :workout_session_id => @workout_session.id ).first).nil? %>
						<div class="alert alert-warning" role="alert">This session has been rescheduled to
							<% w = WorkoutSession.find(@re.link) %>
							<%= link_to date_time_for(w), w %>

							<% if false && @business.view_as_employee?(current_user) && false %>
								<%= link_to "(unlink)", workout_sessions_unlink_path(:id => @workout_session.id), method: :patch,
															data: { confirm: "Unlink sessions?" } %>
							<% end %>
						</div>

					<% elsif !(@re = Reschedule.where( :link => @workout_session.id ).first).nil? %>
						<div class="alert alert-warning" role="alert">This session is rescheduled from
							<% w = WorkoutSession.find(@re.workout_session_id) %>
							<%= link_to date_time_for(w), w %>

							<% if false && @business.view_as_employee?(current_user) %>
								<%= link_to "(unlink)", workout_sessions_unlink_path(:id => @workout_session.id), method: :patch,
															data: { confirm: "Unlink sessions?" } %>
							<% end %>
						</div>
					<% end %>
				</td>
			</tr>
			<% if @workout_session.eventtype == 1 %>
				<tr class="hoverhead">
					<td class="workout_hoverhead" colspan=3>
						<table class="hoverhead">
							<tr>
								<% unless @workout_session.user_workouts.nil? %>
									<% @workout_session.user_workouts.each do |uw| %>
									<% usr = User.find(uw.user_id) %>
									<% @uw = uw %>
										<td class="hoverhead">
											<% if @business.view_as_employee?(current_user) %>
												<%= link_to usr do %>
													<%= gravatar_for usr, {size: 70}, "gravatar_workout" %>
													<%= usr.name %><br/>
												<% end %>

												<%= link_to edit_user_workout_path(uw), remote: true, 'data-toggle' => 'modal', 'data-target' => "#user-workout-edit" do %>
													<span data-toggle="tooltip" title="edit"> <%= uw.cost.nil? ? "(no cost)" : "Cost $" + number_with_precision(uw.cost, :precision => 2).to_s %></span>
												<% end %>
											<% else %>
													<%= gravatar_for usr, {size: 70}, "gravatar_workout" %>
													<%= usr.name %>
											<% end %>
										</td>
									<% end %>
								<% end %>
							</tr>
						</table>
					</td>
				</tr>

			<% end %>
					<% if @business.view_as_employee?(current_user) %>
						<tr>
							<td colspan=3>
								<%= simple_form_for([@business, @workout_session]) do |f| %>
												<div class="well well-sm">
													<%= render 'shared/error_messages', object: f.object %>
													<div class="modal-body">
														<%= f.text_area :memo, :value => @workout_session.memo, placeholder: "Compose a memo..", :id => "memotext" %>
													</div>
													<div class="modal-footer">
													<%= f.submit "Save", class: "btn btn-primary" %>
													</div>
												</div>

								<% end %>
							<% if false %>
							</td style="width:50%">
							<td>
								<div class="well well-sm" style="width:100%; height: 100%; display: inline-block; border: 1px solid black">
								<%= simple_format @workout_session.memo, :style => "width:100%; height: 100%; display: inline-block; border: 1px solid black" %>
								</div>
							</td>
							<% end %>
						</tr>
				<% elsif @workout_session.memo %>
					<tr>
						<td colspan=3>
							<h4><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Notes</h4>
							<pre style="valign:top">
								<%= simple_format @workout_session.memo %>
							</pre>
						</td>
					</tr>
				<% end %>
		</table>

	</div>


	<% if @business.view_as_employee?(current_user) %>
		<div id="user-workout-edit" class="modal fade">
			<div class="modal-dialog modal-content modal-sm">
				<div class="modal-body" id="user-rate-modal"></div>
			</div>
		</div>
	<% end %>
	<% if @business.view_as_employee?(current_user) || @workout_session.created_at > (Time.zone.now - 15.minutes) %>
		<div class="modal fade" id="edit-modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">

				<%= simple_form_for [@business, @workout_session] do |f| %>

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3> Edit Session </h3>
					</div>
					<div class="modal-body">
						<%= render 'shared/error_messages', object: f.object %>
						<table width = "100%">
							<% if @workout_session.eventtype == 0 %>
								<tr>
									<%= f.text_field :title, label: false, :placeholder => "Title	- i.e. Appointment with Jim H.", class: 'form-control' %>
								</tr>
							<% end %>
							<tr>
									<%= f.text_field :location, label: false, :placeholder => "Location - i.e @ SFU", class: 'form-control' %>
							</tr>
							<tr>
								<td>
								<%= f.input :date, as: :string, label: "From", input_html: { id: "datetimepicker_start4", value: @workout_session.date.strftime('%m-%d-%Y %I:%M %p')} %>
								</td>
								<% if @business.view_as_employee?(current_user) %>
								<td>
									<%= f.input :bfr_from, :label => "Before buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
								</td>
								<% end %>
							</tr>
							<tr>
								<td>
									<%= f.input :duration, as: :string, label: "To", input_html: { id: "datetimepicker_end4", :disabled => !@business.view_as_employee?(current_user) , value: @workout_session.duration.strftime('%m-%d-%Y %I:%M %p')} %>
								</td>
								<% if @business.view_as_employee?(current_user) %>
								<td >
									<%= f.input :bfr_to, :label => "After buffer", :include_hidden => false, :include_blank => false, collection: { "none" => 0, "15 minutes" => 15, "30 minutes" => 30, "45 minutes" =>45, "60 minutes" => 60} %>
								</td>
								<% end %>
							</tr>
							<% if @workout_session.eventtype == 1 && @business.view_as_employee?(current_user) %>
								<tr>
									<td colspan=2>
										<%= f.collection_select :clients, User.all, :id, :name, {include_hidden: false, selected: (assigned_clients @workout_session)}, { multiple: true, class: 'userselect2', style: "width: 100%; height: 100%;"} %>
									</td>
								</tr>
							<% end %>
						</table>
					</div>

					<div class="modal-footer">
						<%= f.hidden_field :eventtype, :value => 1 %>
						<%= f.submit "Update", class: "btn btn-primary" %>
					</div>
				<% end %>

				</div>
			</div>
		</div>
	<% end %>
</div>

<% if @business.view_as_employee?(current_user) %>
	<div id="reminders-view" class="modal fade">
		<div class="modal-dialog modal-content">
			<div class="modal-body" id="show-reminder-modal"></div>
		</div>
	</div>
<% end %>
