<% event_changes = ChangeHistory.where(business: @business, table: WorkoutSession.table_name).where.not(user: current_user) %>
<%= current_user.id %>
<% user_workout_changes = ChangeHistory.where(business: @business, table: UserWorkout.table_name).where.not(user: current_user) %>

<% changes_json = [] %>
<% changes_json << event_changes.to_json(include: { user: { include: :profile } }) %>
<% changes_json << user_workout_changes.to_json(include: { user: { include: :profile } }) %>

<% user_workouts = UserWorkout.unscoped.where(id: user_workout_changes.pluck(:row)).to_json %>
<% workouts = WorkoutSession.unscoped.where(id: event_changes.pluck(:row)) %>
<% workouts = workouts.or(WorkoutSession.unscoped.where(id: UserWorkout.unscoped.where(id: user_workout_changes.pluck(:row)).pluck(:workout_session_id))) %>
<% workouts = workouts.to_json %>

<% user_ids = event_changes.pluck(:user_id).uniq %>
<% gravatars = {} %>
<% gravatar_url = "https://secure.gravatar.com/avatar/" %>
<% user_ids.each do |uid| %>
  <% gravatars[uid] = gravatar_url + Digest::MD5::hexdigest(User.find(uid).email.downcase) %>
<% end %>

<div class="bg-white notifications-container">
  <div class="notification-header unselectable">
    Notifications

    <a class="clear-all" onclick="markAllAsRead();">
      mark all as read
    </a>
  </div>

  <div id="notifications" class="unselectable">
  </div>
</div>

<script>
  var BLANK_STRING = "(blank)";
  var TIME_FORMAT = "MMM D YYYY [at] hh:mma";
  var EVENT_NOTIFICATION_FORMAT = "dddd, MMMM Do YYYY [at] hh:mma";

  var NOTIFICATIONS_DIV = document.getElementById("notifications");
  var GRAVATAR_DEFAULT_SIZE = "?s=30"

  var MARK_ALL_READ_URL = "<%= business_mark_all_read_url(business_id: @business.slug) %>";
  var COLUMN_NAMES = <%= WorkoutSession.column_names.to_s.html_safe %>;


  var event_notifications_arr = JSON.parse('<%= changes_json[0].to_s.html_safe %>');
  var user_workout_notifications_arr = JSON.parse('<%= changes_json[1].to_s.html_safe %>');
  var notifications = {};

  var workouts = JSON.parse('<%= workouts.to_s.html_safe %>');
  var user_workouts = JSON.parse('<%= user_workouts.to_s.html_safe %>');
  var events_hash = {};

  var gravatars = <%= gravatars.to_json.to_s.html_safe %>;

  function markAllAsRead() {
    queryMarkAllAsRead();
  }

  function queryMarkAllAsRead() {
    $.ajax({
      type: "PATCH",
      url: MARK_ALL_READ_URL,
      dataType: "script",
      success: processMarkAllAsRead(),
      error: function() {
        errorMessage()
      }
    })
  }

  function initNotificationsHash() {
    hashNotifications(event_notifications_arr);
    hashNotifications(user_workout_notifications_arr);
  }

  function hashNotifications(arr) {
    for (var i = 0; i < arr.length; i++) {
      var key = arr[i]["user_id"];
      if (notifications[key] != null) {
        notifications[key].push(arr[i]);
      } else {
        notifications[key] = [arr[i]];
      }
    }
  }

  function processMarkAllAsRead() {
    console.log("Mark all as read");
  }

  function errorMessage() {
    console.log("Could not reach server for queryMarkAllAsRead");
  }

  function displayNotifications() {
    var notifications_keys = Object.keys(notifications);
    NOTIFICATIONS_DIV.innerHTML = "";

    if (notifications_keys.length > 0) {
      var ul = document.createElement("ul");
      ul.classList.add("notifications-ul");

      for (var i = notifications_keys.length-1; i >= 0; i--) {
        key = notifications_keys[i];

        if ( notifications[key].length > 0) {
          var li = document.createElement("li");

          var leading_img = document.createElement("div");
          leading_img.classList.add("leading-img");

          var img = document.createElement("img");
          img.classList.add("notifications-gravatar");
          img.src = getGravatar(key) + GRAVATAR_DEFAULT_SIZE;

          leading_img.append(img);

          var title = document.createElement("div");
          title.classList.add("title");
          title.innerHTML = getNotificationUserName(key, 0);
          title.innerHTML += " made " + changesAsString(notifications[key].length);

          li.append(leading_img);
          li.append(title);

          for (var j = notifications[key].length-1; j >= 0; j--) {
            var details = document.createElement("div");
            details.classList.add("details");
            details.classList.add(getNotificationReadStatus(key, j));

            var inner = getNotificationText(key,j );

            var time_span = document.createElement("div");
            time_span.classList.add("time");
            time_span.innerHTML = getNotificationTime(key, j);

            details.innerHTML = inner;
            details.append(time_span);


            li.append(details);
          }


          ul.append(li);
        }
      }

      NOTIFICATIONS_DIV.append(ul);
    } else {
      displayNoNotifications();
    }
  }

  function changesAsString(changes) {
    if (changes > 1) {
      return  changes + " changes."
    } else {
      return changes + " change."
    }
  }

  function getNotificationReadStatus(id, index) {
    if (notifications[id][index]["read"]) {
      return "read";
    } else {
      highlightBell();
      return "unread";
    }
  }

  function highlightBell() {
    var bell = document.getElementById("notification-bell");
    bell.classList.add("active");
  }

  function getNotificationText(id, index) {
    if (isWorkoutTable(id, index)) {
      return getWorkoutText(id, index);
    } else if (isUserWorkoutTable(id, index)) {
      return getUserWorkoutText(id, index);
    }

    return "";
  }

  function isWorkoutTable(id, index) {
    return notifications[id][index]["table"] == "<%= WorkoutSession.table_name %>";
  }

  function isUserWorkoutTable(id, index) {
      return notifications[id][index]["table"] == "<%= UserWorkout.table_name %>";
  }


  function getWorkoutText(id, index) {
    var notification = notifications[id][index];
    var code = notification["code"];

    var output = "";
    if (code == 0) {
      output += strongBlock("created") + " a session on " + getEventDate(notification["row"]) + ".";
    } else if (code == 18) {
      output += strongBlock("removed") + " a session on " + getEventDate(notification["row"]) + ".";
    } else if ([13, 6, 1].includes(code)) {
      output += strongBlock("changed") + " the " + COLUMN_NAMES[code] + " of a session " + previousValueBlock(valueOrBlank(notification["old_value"])) + " to " + currentValueBlock(valueOrBlank(notification["value"])) + ".";
    }

    return output;
  }

  function getUserWorkoutText(id, index) {
    var notification = notifications[id][index];
    var code = notification["code"];

    var output = "";

    if (code == 0 || (code == 18 && notification['value'] == "f")) {
      output += strongBlock("joined") + " a session on " + getUserWorkoutEventDate(notification['row']) + ".";
    } else if (code == 18) {
      output += strongBlock("left") + " a session on " + getUserWorkoutEventDate(notification['row']) + ".";
    }

    return output;
  }

  function strongBlock(inner) {
    var block = document.createElement("strong");
    block.innerHTML = inner;

    return block.outerHTML;
  }
  function previousValueBlock(inner) {
    if (inner != BLANK_STRING) {
      var block = document.createElement("code");
      block.classList.add("previous");
      block.innerHTML = inner;
      return " from " + block.outerHTML;
    }

    return "";
  }

  function currentValueBlock(inner) {
    var block = document.createElement("code");
    block.classList.add("current");
    block.innerHTML = inner;

    return block.outerHTML;
  }

  function getNotificationTime(id, index) {
    var notification = notifications[id][index];
    return moment(notification["updated_at"]).format(TIME_FORMAT);
  }

  function getEventDate(id) {
    return moment(events_hash[id]["date"]).format(EVENT_NOTIFICATION_FORMAT);
  }

  function getUserWorkoutEventDate(id) {
    var event_id = user_workouts_hash[id]["workout_session_id"];
    return getEventDate(event_id);
  }

  function getGravatar(id) {
    return gravatars[id];
  }

  function valueOrBlank(val) {
    if (val == null || val == "") {
      return BLANK_STRING;
    }

    return val;
  }

  function getNotificationUserName(id, index) {
    var email = notifications[id][index]["user"]["email"];
    var first = notifications[id][index]["user"]["profile"]["firstname"];
    var last = notifications[id][index]["user"]["profile"]["lastname"];

    output = email;
    if (first != null && first != "") {
      if (last != null && last != "") {
        output = first + " " + last[0] + ".";
      } else {
        output = first;
      }
    } else if (last != null && last != "") {
      output = last;
    }

    return output;
  }

  function displayNoNotifications() {
    var header = document.createElement("h5");
    header.innerHTML = "No notifications";
    NOTIFICATIONS_DIV.append(header);
  }

  function JSON2Hash(arr) {
    var output = {};
    for (var i = 0; i < arr.length; i++) {
      output[arr[i]["id"]] = arr[i];
    }
    return output;
  }

  function run() {
    events_hash = JSON2Hash(workouts);
    user_workouts_hash = JSON2Hash(user_workouts);
    initNotificationsHash();
    displayNotifications();
  }

  run();
</script>
