<ul class="nav nav-tabs">
	<li role="presentation" ><%= link_to "General", (user_settings_for @user) %></li>
	<li role="presentation"><%= link_to "Billing", (user_billing_for @user) %></li>
	<% if current_user.admin %>
		<li role="presentation" class="active"><%= link_to "Admin", (user_admin_for @user) %></li>
	<% end %>
</ul>

<% unless @user == current_user %>
<div class="well" style="background-color:white;">
		<div style="height: 300px;"></div>
		<%= link_to @user, method: :delete, data: { confirm: "Delete " + @user.name + "?" }, :class=>"btn btn-primary btn-danger", 'data-toggle' => 'tooltip'  do %>
			 Delete Account
		<% end %>
</div>
<% end %>
