<tr>
	<td>
		<%= gravatar_for user, {size: 40} %>
	</td>

	<td>
		<strong><%= link_to (user.name.blank? ? "(no name)" : user.name), user %></strong>	</br>
		<%= user.email %>
	</td>

	<td>
		<%= user.age %>
	</td>

	<td>
			<span class="glyphicon glyphicon-earphone"></span> <%= user.phonenumber %>
	</td>

	<td>
			<%= user.address %>
	</td>

	<td>
		<%= user.subscriptions.pluck(:business_id) %>
	</td>

	<td>
			<% if user.last_seen %>
				<% uw = @uws.where(:user_id => user.id).where("user_workouts.updated_at > ?", user.last_seen) %>
				<span class="<%= (uw.last ? "alert-warning" : "alert-success") %>">
						<%= user.last_seen.strftime("%-d %b, %Y %I:%M") %>
				</span>
			<% end %>
	</td>

	<% if current_user.admin? && !current_user?(user) %>
		<td style="text-align:center;">
			<%= link_to users_edit_modal_path(user), class: "btn btn-default", title: "Settings", remote: true, 'data-toggle' => 'modal', 'data-target' => "#reminders-view" do %>
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span
			<% end %>
		</td>
	<% else %>
		<td colspan=3></td>
	<% end %>
</tr>
