<ul class="nav nav-tabs">
	<li role="presentation" ><%= link_to "General", (user_settings_for @user) %></li>
	<li role="presentation" class="active"><%= link_to "Billing", (user_billing_for @user) %></li>
	<% if current_user.admin? %>
		<li role="presentation" ><%= link_to "Admin", (user_admin_for @user) %></li>
	<% end %>
</ul>


<div class="well" style="background-color:white;">
  <hr>
  <div class="row">
    <div class="col-md-3">
      <span class="billing_group">
        Account Information
      </span>
    </div>
		<div class="col-md-9">
      <div class="row" style="height: 29px;">
        <div class="col-md-3 billing_category"> Membership </div>

        <% if @business && @business.view_as_employee?(current_user) && @edit == "membership" %>
					<%= simple_form_for @user.get_subscription(@business.id) do |s| %>
	            <div class="col-md-3">
	              <%= s.input :membership_id, collection: Membership.where(business: @business, available: true), :include_blank => "None", :prompt => "Select membership", :label => false %>
	            </div>
            <div class="col-md-3">
                <%= s.submit "Update", class: "btn btn-sm btn-primary" %>
            </div>
            <div class="col-md-3">
                <%= link_to "Done", (user_billing_for @user), :class=>"btn btn-sm btn-default" %>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-3">
            <%= @user.get_membership(@business.id) ? @user.get_membership(@business.id).name : "None" %>
          </div>
          <div class="col-md-3"></div>
					<% if @business && @business.view_as_employee?(current_user) %>
						<div class="col-md-3">
							<%= link_to "Edit", (user_billing_for @user) + "&edit=membership", :class=>"btn btn-sm btn-default" %>
						</div>
				 <% end %>
        <% end %>
      </div>
      <% if @user.get_membership(@business.id) %>
        </br>
        <div>
        <small>
          <%= @user.get_membership(@business.id).description %>
        </small>
        </div>
        </br>

        <div class="row" style="height: 29px;">
          <div class="col-md-4 billing_category">Monthly Cost</div>
          <div class="col-md-3"><%= number_to_currency(@user.get_membership(@business.id).cost, :unit => "$") %></div>
        </div>


        <div class="row" style="height: 29px;">
          <div class="col-md-4 billing_category">Max Sessions</div>
          <div class="col-md-3"><%= @user.get_membership(@business.id).max_workouts %></div>
        </div>


        <div class="row" style="height: 29px;">
          <div class="col-md-4 billing_category">Max Free Transfers</div>
          <div class="col-md-3"><%= @user.get_membership(@business.id).max_transfers %></div>
        </div>

        <div class="row" style="height: 29px;">
          <div class="col-md-4 billing_category">Additional Transfer Charge</div>
          <div class="col-md-3"><%= number_to_currency(5, :unit => "$") %></div>
        </div>
      <% else %>
        </br>
          <div>
            <small>
              Billing is based on a per session basis regardless of the amount of sessions.
            </small>
          </div>
        </br>
      <% end %>
      </br>
      <hr>
      <div>
        <small>
          * If client exceeds max sessions, or if they have no membership, they will be charged a per session rate.
        </small>
      </div>
			</br>


      <div class="row" style="height: 29px;">

        <div class="col-md-3 billing_category">Rate / Session </div>

        <% if @business && @business.view_as_employee?(current_user) && @edit == "rate" %>
          <%= simple_form_for [@business, @rate] do |f| %>
            <%= f.hidden_field :uid, :value => @user.id %>

            <div class="col-md-3">
              <%= f.input :rate, input_html: { value: @user.rate }, :label => false, inline_label: "Rate" %>
            </div>
            <div class="col-md-3">
              <%= f.submit "Update", class: "btn btn-sm btn-primary" %>
            </div>
            <div class="col-md-3">
              <%= link_to "Done", (user_billing_for @user), :class=>"btn btn-sm btn-default" %>
            </div>

          <% end %>
        <% else %>
          <div class="col-md-3">
            <%= number_to_currency(@user.rate, :unit => "$") %>
          </div>
          <div class="col-md-3"></div>
					<% if @business && @business.view_as_employee?(current_user) %>
						<div class="col-md-3">
							<%= link_to "Edit", (user_billing_for @user) + "&edit=rate", :class=>"btn btn-sm btn-default" %>
						</div>
					<% end %>
        <% end %>
      </div>
		</div>
	</div>
	<hr>

	<div class="row">
    <div class="col-md-3">
      <span class="billing_group">
        Invoices
      </span>
    </div>
		<div class="col-md-9">
			<table class="table">
				<th>Date</th>
				<th>Amount</th>
				<th>Status</th>

			<% @user.invoices.order(date: :desc).each do |invoice| %>
				<tr>
					<td>
						<%= link_to invoice.date.strftime("%B %-d, %Y"), business_invoice_path(invoice.business.slug, invoice.id) %>
					</td>
					<td>
						<%= number_to_currency(invoice.total_cost, :unit => "$") %>
					</td>
					<td>
						<%= invoice.processed ? "Paid" : "Unpaid" %>
					</td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>
