<%= simple_form_for(@user) do |f| %>
	<% required_star = '<span class="glyphicon glyphicon-star"></span>' %>
	
	<%= render 'shared/error_messages', object: @user %>

	<%= f.input :name, label:  raw(required_star + "First and last name "), class: 'form-control' %>
	
	<% edit_email = current_user.admin? ? false : true %>
	
	<%= f.input :email, label: + raw(required_star + "E-mail "), :disabled => edit_email , class: 'form-control' %>

	<%= f.input :password, label:  raw(required_star + "Password "), class: 'form-control' %>

	<%= f.input :password_confirmation, label:  raw(required_star + "Password confirmation"), class: 'form-control' %>
	
	
	<%= f.input :dob, :as => :date, :start_year => (Date.today.year - 110), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>		
	
	<%= f.input :address, class: 'form-control' %>
	
	<%= f.input :phonenumber, label: "Phone number", class: 'form-control' %>

	<%= f.input :occupation, class: 'form-control' %>

	<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<div class="gravatar_edit" style="height: 85px">
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target="_blank">Change</a>
</div>
