<h1> Edit Profile </h1>
<h3> <%= user.name %> </h3>

<%= simple_form_for([@business, user]) do |f| %>

	<% required_star = '<span class="glyphicon glyphicon-star"></span>' %>
	<%= render 'shared/error_messages', object: user %>
	<%= f.input :email, class: 'form-control' %>

	<%= f.fields_for :profile_attributes, @user.profile do |p| %>
		<%= p.input :firstname, class: 'form-control' %>
		<%= p.input :lastname, class: 'form-control' %>
		<%= p.input :dob, :prompt => { :day => "Day", :month => 'Month', :year => 'Year' }, :label => "Birthday", :as => :date, :start_year => (Date.today.year - 90), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>
		<%= p.input :street, class: 'form-control' %>
		<%= p.input :city, class: 'form-control' %>
		<%= p.input :postalcode, class: 'form-control' %>
		<%= p.input :phonenumber, label: "Phone number", class: 'form-control' %>
	<% end %>

	<%= f.fields_for :subscriptions_attributes, @subscription do |s| %>
		<%= s.input :id, as: :hidden, input_html: { value: @subscription.id } %>
		<%= s.input :gdrive_url, class: 'form-control', label: "Google Drive URL" %>
	<% end %>

	<hr>

	<%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
