<%= simple_form_for(user) do |f| %>
<% required_star = '<span class="glyphicon glyphicon-star"></span>' %>
  <%= render 'shared/error_messages', object: user %>
  
  <h5 style="text-align: center">(<%= raw(required_star) %> Required fields) </br></br></h5>

  <%= f.input :name, label:  raw(required_star + "First and last name "), class: 'form-control' %>
  
  <%= f.input :email, label: + raw(required_star + "E-mail "), class: 'form-control' %>

  <%= f.input :password, label:  raw(required_star + "Password "), class: 'form-control' %>

  <%= f.input :password_confirmation, label:  raw(required_star + "Password confirmation"), class: 'form-control' %>
  
	<%= f.input :dob, :as => :date, :start_year => (Date.today.year - 110), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>
	
  <%= f.input :address, class: 'form-control' %>
  
  <%= f.input :phonenumber, label: "Phone number", class: 'form-control' %>

  <%= f.input :occupation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>