<ul class="nav nav-tabs">

	<li role="presentation" class="active"><%= link_to "General", (user_settings_for @user) %></li>

	<% if @business && @business.view_as_employee?(current_user) %>
		<li role="presentation"><%= link_to "Billing", (user_billing_for @user) %></li>
	<% end %>
	<% if current_user.admin? && @user != current_user %>
		<li role="presentation" ><%= link_to "Admin", (user_admin_for @user) %></li>
	<% end %>
</ul>

<%= simple_form_for(@user) do |f| %>

<div class="well" style="background-color:white;">
	<table class="table" style="padding-bottom: 40px;">
		<tr>
			<th style="border-top:0; width:400px;">
			Account
			</th>
			<th style="border-top:0; width:300px;"></th>
			<th style="border-top:0; width:250px;"></th>
			<th style="border-top:0;"></th>
		</tr>
		<tr>
			<td>
				Email
			</td>
		<% if @edit == "email" %>

				<td style="width: 250px;">
					<%= f.input :email, :label => false, class: 'form-control' %>
				</td>
				<td>
					<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
				    <span class="glyphicon glyphicon-ok circ-btn-success"></span>
				  <% end %>
				</td>
				<td>
					<%= link_to (user_settings_for @user) do %>
						<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
					<% end %>
				</td>

		<% else %>
				<td>
					<%= @user.email %>
				</td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=email" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
		<% end %>
		</tr>
		<tr>
			<td>
				Password
			</td>
			<% if @edit == "password" %>
				<td>
					<%= f.input :password, :label => false, class: 'form-control' %>
				</td>
				<td>
					<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
					  <span class="glyphicon glyphicon-ok circ-btn-success"></span>
					<% end %>
				</td>
				<td>
					<%= link_to (user_settings_for @user) do %>
						<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
					<% end %>
				</td>
		<% else %>
				<td>*********</td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=password" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
		<% end %>
		</tr>
		<tr>
			<th style="border-top:0; margin-top:15px;">
			Profile
			</th>
		</tr>
		<tr>
			<% if @edit == "name" %>
				<td>
					First name
				</td>
				<%= f.fields_for :profile_attributes, @user.profile do |p| %>
						<td>
							<%= p.input :firstname, :label => false, class: 'form-control' %>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>Last name</td>
						<td>
							<%= p.input :lastname, :label => false, class: 'form-control' %>
						</td>
					<td>
						<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
						  <span class="glyphicon glyphicon-ok circ-btn-success"></span>
						<% end %>
					</td>
					<td>
						<%= link_to (user_settings_for @user) do %>
							<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
						<% end %>
					</td>
			<% end %>
		<% else %>
				<td>
					Name
				</td>
				<td>
					<%= @user.name %>
				</td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=name" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
		<% end %>
		</tr>
		<tr>
			<td>
				Date of birth
			</td>
		<% if @edit == "dob" %>
				<%= f.fields_for :profile_attributes, @user.profile do |p| %>
					<td>
						<%= p.input :dob, :prompt => { :day => "Day", :month => 'Month', :year => 'Year' }, :label => false, :as => :date, :start_year => (Date.today.year - 90), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>
					</td>
				<% end %>
				<td>
					<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
					  <span class="glyphicon glyphicon-ok circ-btn-success"></span>
					<% end %>
				</td>
				<td>
					<%= link_to (user_settings_for @user) do %>
						<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
					<% end %>
				</td>
		<% else %>
				<td><%= @user.dob %></td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=dob" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
		<% end %>
		</tr>
		<tr>
		<% if @edit == "address" %>
				<td>
					Street
				</td>
				<%= f.fields_for :profile_attributes, @user.profile do |p| %>
						<td>
							<%= p.input :street, :label => false, class: 'form-control' %>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>City</td>
						<td>
							<%= p.input :city, :label => false, class: 'form-control' %>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>
							Postal Code
						</td>
						<td>
							<%= p.input :postalcode, :label => false, class: 'form-control' %>
						</td>
					<td>
						<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
						  <span class="glyphicon glyphicon-ok circ-btn-success"></span>
						<% end %>
					</td>
					<td>
						<%= link_to (user_settings_for @user) do %>
							<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
						<% end %>
					</td>
			<% end %>
		<% else %>
				<td>
					Address
				</td>
				<td>
					<%= @user.address %>
				</td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=address" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
		<% end %>
		</tr>
		<tr>
			<td>
				Phone number
			</td>
				<% if @edit == "phonenumber" %>
					<%= f.fields_for :profile_attributes, @user.profile do |p| %>
						<td>
							<%= p.input :phonenumber, :label => false, class: 'form-control' %>
						</td>
					<% end %>
					<td>
						<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
						  <span class="glyphicon glyphicon-ok circ-btn-success"></span>
						<% end %>
					</td>
					<td>
						<%= link_to (user_settings_for @user) do %>
							<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
						<% end %>
					</td>
				<% else %>
						<td><%= @user.phonenumber %></td>
						<td></td>
						<td>
							<%= link_to (user_settings_for @user) + "&edit=phonenumber" do %>
								<span class="glyphicon glyphicon-pencil circ-btn"></span>
							<% end %>
						</td>
				<% end %>
			<td>

			</td>
		</tr>
		<tr>
				<td>
					Session reminders
				</td>
				<% if @edit == "session_reminder" %>
					<td>
						<%= f.select :email_session_reminder, options_for_select([['Email', true], ['Do not email', false]], @user.email_session_reminder), { include_blank: false }, label: false, class: 'form-control' %>
					</td>
					<td>
						<%= button_tag(type: 'submit', class: "remove-submit-btn-style") do %>
							<span class="glyphicon glyphicon-ok circ-btn-success"></span>
						<% end %>
					</td>
					<td>
						<%= link_to (user_settings_for @user) do %>
							<span class="glyphicon glyphicon-remove circ-btn-danger"></span>
						<% end %>
					</td>
				<% else %>
				<td>
					<%= @user.email_session_reminder ? "Email" : "Do not email" %>
				</td>
				<td></td>
				<td>
					<%= link_to (user_settings_for @user) + "&edit=session_reminder" do %>
						<span class="glyphicon glyphicon-pencil circ-btn"></span>
					<% end %>
				</td>
			<% end %>
		</tr>
	</table>
<% end %>

	<div class="gravatar_edit" style="height: 85px">
		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails" target="_blank">Change</a>
	</div>

</div>
