<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content bg-transparent white-font no-shadow">
    <div class="modal-header no-border">
      <%= link_to root_path, :id => "logo_main" do %>
         <span class="embedded-login-logo-1">F!TRACK</span>
         <span class="embedded-login-logo-2">ULAR. </span>
         </br>

       <% end %>
      <button type="button" class="close white-font" data-dismiss="modal" style="font-size: 2.5em; margin-top: -15px;">&times;</button>
    </div>
    <div class="modal-body">




      <div style="display:table; height: 50vh; width: 100%; margin-bottom: 15px;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">

          <h1> <%= @business.name %> </h1>
          <h1> Sign Up </h1>

          <%= simple_form_for [@business, @signup_form], url: business_embedded_signup_url(@business.slug, format: "js"), remote: true, html: { class: "embedded-signup-form", "data-with-credentials" => true } do |f| %>
      				<%= f.input :email, :label => false, :placeholder => "Your email address" %>
      				<%= f.input :password, :label => false, :placeholder => "Your password" %>

              <div class="row">
                <div class="col-md-6">
                <%= f.input :firstname, :label => false, :placeholder => "First name" %>
                </div>
                <div class="col-md-6">
                <%= f.input :lastname, :label => false, :placeholder => "Last name" %>
                </div>
              </div>

              <%= f.input :phonenumber, :label => false, :placeholder => "Phone number" %>

      			  <%= f.submit "SIGN UP FOR FREE", class: "btn btn-danger no-border-radius", style:"margin-top: 70px;"%>

      		<% end %>

        </div>
      </div>

    </div>
    <div class="modal-footer no-border">
      <%= link_to "< Back to booking", view_available_groupsessions_embedded_url(@business.slug, format: "js"), remote: true, style: "float: left;" %>
    </div>
  </div>

</div>
