<h1> New Client </h1>

<%# simple_form_for [@business, user], url: { action: 'admin_create' } do |f| %>

<%= simple_form_for [@business, user], url: {action: "admin_create"}, method: :post, remote: true do |f| %>

	<% required_star = '<span class="glyphicon glyphicon-star"></span>' %>

	<div id="error-div"></div>
	<%= render 'shared/error_messages', object: user %>

	<%= f.input :email, class: 'form-control' %>

	<%= f.input :password, :placeholder => "Create a password" %>

	<%= f.input :password_confirmation, :placeholder => "Confirm password" %>

	<%= f.fields_for :profile_attributes, @user.profile do |p| %>
		<%= p.input :firstname, class: 'form-control' %>

		<%= p.input :lastname, class: 'form-control' %>

		<%= p.input :dob, :prompt => { :day => "Day", :month => 'Month', :year => 'Year' }, :label => "Birthday", :as => :date, :start_year => (Date.today.year - 90), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>

		<%= p.input :street, class: 'form-control' %>

		<%= p.input :city, class: 'form-control' %>

		<%= p.input :postalcode, class: 'form-control' %>

		<%= p.input :phonenumber, label: "Phone number", class: 'form-control' %>
	<% end %>

	<hr>

	<%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
