<tr>
	<td>
		<%= gravatar_for user, {size: 40} %>
	</td>

	<td>
		<strong><%= link_to (user.name.blank? ? "(no name)" : user.name), user_billing_for(user) %></strong>	</br>
		<% if user.activated? %>
			<span class="glyphicon glyphicon-ok-sign success"  data-toggle="tooltip" title="This is a verified email address">
			</span>
		<% end %>
		<%= user.email %>
	</td>

	<td>
		<strong>
			<%= number_to_currency(user.rate, :unit => "$") %>
		</strong>
	</td>

	<td>
		<strong>
			<%= user.get_membership(@business.id) ? user.get_membership(@business.id).name : "-" %>
		</strong>
	</td>

	<td>
		<strong>
			<%= number_to_currency(user.membership_cost(@business.id), :unit => "$") %>
		</strong>
	</td>

	<td>
		<%= user.age %>
	</td>

	<td>
			<span class="glyphicon glyphicon-earphone"></span> <%= user.phonenumber %>
	</td>

	<td>
			<%= user.address %>
	</td>

	<td>
    <% subscription = user.get_subscription(@business.id) %>
		<% if subscription.gdrive_url.present? %>
			<%= link_to business_users_new_gdrive_workout_path(:id => user.id), method: :patch, :class=>"btn btn-default" do %>
				<% if subscription.gdrive_updated_at %>
					<%= subscription.gdrive_updated_at.strftime("%b %-d - %l:%M%P ") %>
				<% else %>
					Initialize
				<% end %>
			<% end %>
		<% else %>
			<span class="glyphicon glyphicon-minus"> </span>
		<% end %>
	</td>

	<td>
			<% if user.last_seen %>
				<% uw = @uws.where(:user_id => user.id).where("user_workouts.updated_at > ?", user.last_seen) %>
				<span class="<%= (uw.last ? "alert-warning" : "alert-success") %>">
						<%= user.last_seen.strftime("%-d %b, %Y %I:%M") %>
				</span>
			<% end %>
	</td>

	<td>
		<% if (subscription = user.subscriptions.where(:business_id => @business.id).first) %>
			<% if subscription.subscribed? %>

				<span class="glyphicon glyphicon-remove noshow"></span>
				<%= link_to "Deactivate", subscriptions_deactivate_path(:id => subscription.id), data: { confirm: "Deactivate " + user.name + "?" }, method: :patch %>
			<% elsif subscription.pending? %>
				<span class="glyphicon glyphicon-hourglass rescheduled_from"></span>
				<%= link_to "Approve", subscriptions_approve_path(:id => subscription.id), data: { confirm: "Approve " + user.name + "?" }, method: :patch %>
			<% elsif subscription.deactivated? %>
				<span class="glyphicon glyphicon-ok success"></span>
				<%= link_to "Reactivate", subscriptions_approve_path(:id => subscription.id), data: { confirm: "Reactivate " + user.name + "?" }, method: :patch %>
			<% end %>
		<% else %>
			<span class="glyphicon glyphicon-minus noshow"></span>
		<% end %>
	</td>
	<% if @business.view_as_employee?(current_user) && !current_user?(user) %>
		<td style="text-align:center;">
			<%= link_to business_users_edit_modal_path(@business.slug, user), title: "Edit", remote: true, 'data-toggle' => 'modal', 'data-target' => "#users-view" do %>
				<span class="glyphicon glyphicon-pencil circ-btn"></span>
			<% end %>
		</td>
	<% else %>
		<td colspan=3></td>
	<% end %>
</tr>
