<% provide(:title, 'Users') %>
<div id="user-modal" class="modal fade"></div>
<div class="container-fluid" style="background-color:#F3F3F3; margin-top: 50px; ">
	<div class="container-fluid" style="background-color:#F3F3F3;" >
		<h1>ALL USERS</h1>
		<h1>

		</h1>

		<table class="table table-hover" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);">
			<tr style="background-color:#F8F8F8;">
				<th>
          <%= link_to signup_path, :class => "btn btn-xs btn-warning" do %>
            <span class="glyphicon glyphicon-plus"></span>USER
          <% end %>

        </th>
				<th>NAME</th>
				<th>AGE</th>
				<th>PHONE</th>
				<th>ADDRESS</th>
				<th>SUBSCRIPTIONS</th>
				<th>LAST ONLINE</th>
				<th style="text-align:center;">OPTIONS</th>
			</tr>
			<% @users.each do |user| %>
			  <%= render partial: 'admin_user', locals: { user: user } %>
			<% end %>
		</table>
	</div>
</div>

	<div id="reminders-view" class="modal fade">
    <div class="modal-dialog modal-content">
      <div class="modal-body" id="edit-users-modal"></div>
    </div>
  </div>
