<% if @result %>
  $('#myTable tr:last').after("<%= j(render @signup_form.user) %>")
<% else %>
  $('#error-div').html("<%= escape_javascript(render partial: 'shared/error_messages', locals: { object: @signup_form } ) %>")
<% end %>
