<% provide(:title, 'Users') %>
	<div class="container-fluid">
		<h1>
			Clients
		</h1>

		<%= link_to business_users_new_modal_path(:business_id => @business.slug), class: "btn btn-default btn-lg", title: "Add client", remote: true, 'data-toggle' => 'modal', 'data-target' => "#users-view" do %>
			<span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
			<span class="btn-text">New Client</span>
		<% end %>

		</br></br>

		<h4><b> Active </b></h4>
		<p> Subscribed clients that actively book sessions </p>
		<table id="myTable" class="table table-hover table-striped shdw" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px;">
			<tr style="background-color:#F8F8F8;">
				<th></th>
				<th>Name</th>
				<th>Session Rate</th>
				<th>Membership</th>
				<th>Monthly Cost</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Google Drive</th>
				<th>Last Online</th>
				<th>Subscribed</th>
				<th style="text-align:center;"></th>
			</tr>
			<%= render @business.active_users %>
		</table>

		<h4><b> Inactive </b></h4>
		<p> Subscribed clients that have not booked a session in six weeks </p>
		<table id="myTable" class="table table-hover table-striped shdw" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px;">
			<tr style="background-color:#F8F8F8;">
				<th></th>
				<th>Name</th>
				<th>Session Rate</th>
				<th>Membership</th>
				<th>Monthly Cost</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Google Drive</th>
				<th>Last Online</th>
				<th>Subscribed</th>
				<th style="text-align:center;"></th>
			</tr>
			<%= render @business.inactive_users %>
		</table>

		<h4><b> Pending </b></h4>
		<p> Subscribed clients pending activation </p>
		<table id="myTable" class="table table-hover shdw" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px;">
			<tr style="background-color:#F8F8F8;">

				<th></th>

				<th>Name</th>
				<th>Session Rate</th>
				<th>Membership</th>
				<th>Monthly Cost</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Google Drive</th>
				<th>Last Online</th>
				<th>Subscribed</th>
				<th style="text-align:center;"></th>
			</tr>
			<%= render @business.pending_users %>
		</table>

		<h4><b> Deactivated </b></h4>
		<p> Clients who opted out </p>
		<table id="myTable" class="table table-hover table-striped shdw" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px;">
			<tr style="background-color:#F8F8F8;">

				<th></th>
				<th>Name</th>
				<th>Session Rate</th>
				<th>Membership</th>
				<th>Monthly Cost</th>
				<th>Age</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Google Drive</th>
				<th>Last Online</th>
				<th>Subscribed</th>
				<th style="text-align:center;"></th>
			</tr>
			<%= render @business.deactivated_users %>
		</table>

		<h4><b> Other </b></h4>
		<p> Clients who have not yet subscribed to your business </p>
		<table id="myTable" class="table table-hover table-striped shdw" style="background-color: white; margin:0px; margin-bottom: 50px; padding:0px;;">
			<tr style="background-color:#F8F8F8;">
				<th>Name</th>
				<th>Subscriptions</th>
				<th>Admin Only</th>
			</tr>
			<% @all_users = User.all %>
				<% @all_users.each do |usr| %>
				<% subs = Subscription.where.not(:business_id => @business.id).where(:user_id => usr.id).pluck(:business_id).map { |business_id| Business.find(business_id).name } %>
				<tr>
					<td>
						<%= usr.name %>
					</td>
					<td>
						<%= subs %>
					</td>
					<td>
						<%= link_to "Subscribe", subscriptions_subscribe_path(:business_id => @business.id, :user_id => usr.id), method: :patch %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div id="users-view" class="modal fade">
    <div class="modal-dialog modal-content">
      <div class="modal-body" id="users-modal"></div>
    </div>
  </div>
