<div style="padding-bottom:20px;">
<div class="container" style="margin-top: 30px;">
	<h6>Sign up for free and </br> schedule your personal training sessions starting &mdash; well,</br> <strong style="color:#FFA07A;">TOMORROW</strong></h6>
<div class="row">
  <div class="col-md-8" style="color:#F3F3F3">

		<h3 style="text-align:left; color:#FFA07A; margin-bottom:10px;">PERSONAL</h3>
		<p>Powerful exercise programs tailored to your needs. </p>

		<h3 style="text-align:left; color:#FFA07A; margin-bottom:10px;">FLEXIBLE</h3>
		<p> Scheduling available between <span style="color:#FFA07A">5AM &ndash; 11PM</span> </p>

		<h3 style="text-align:left; color:#FFA07A; margin-bottom:10px;">EDUCATED</h3>
		<p> Bachelor of Science specialized in <span style="color:#FFA07A">BIOMEDICAL PHYSIOLOGY</span> and <span style="color:#FFA07A">KINESIOLOGY</span> </p>

		<h3 style="text-align:left; color:#FFA07A; margin-bottom:10px;">AFFORDABLE</h3>
		<p> COMPETITIVE PLANS &plus; CONSISTENCY REWARDS <a style="color:#FFA07A;font-weight:bold;"  class="btn btn-default" href="http://ajcorefitness.com/personal-training-2/">TELL ME MORE</a>

		<h3 style="text-align:left; color:#FFA07A; margin-bottom:10px;"><a style="color:#FFA07A;font-weight:bold;" class="btn btn-default" href="http://www.ajcorefitness.com">A J C O R E F I T  N E S S</a> </h3>

	</div>
  <div class="col-md-4" style="background-color:#F8F8F8; border: 1px solid #eaeaea;border-radius: 10px; padding-bottom:15px; padding-top:15px;">
		<h4>Sign up</h4>
		<%= simple_form_for @signup_form do |f| %>

				<small> We will never spam or share your e-mail address.</small>
				<%= f.input :email, :label => false, :placeholder => "Your email address" %>

				<%= f.input :password, :label => false, :placeholder => "Create a password" %>

				<%= f.input :password_confirmation, :label => false, :placeholder => "Confirm password" %>

				<h4>Tell us about yourself</h4>
				<div class="row">
					<div class="col-md-6">
					<%= f.input :firstname, :label => false, :placeholder => "First name" %>
					</div>
					<div class="col-md-6">
					<%= f.input :lastname, :label => false, :placeholder => "Last name" %>
					</div>
				</div>

				<%= f.input :phonenumber, :label => false, :placeholder => "Telephone number" %>

				<%= f.input :dob, :prompt => { :day => "Day", :month => 'Month', :year => 'Year' }, :label => "Birthday", :as => :date, :start_year => (Date.today.year - 90), :end_year => (Date.today.year - 18),:order => [:day, :month, :year], class: 'form-control' %>

				<%= f.input :street, :label => false, :placeholder => "Mailing address" %>

				<%= f.input :city, :label => false, :placeholder => "City" %>

				<%= f.input :postalcode, :label => false, :placeholder => "Postal code" %>

			<%= f.submit "Sign Up", :class => "btn btn-success" %>
		<% end %>
		</div>
	</div>
</div>
</div>
</div>
</div>
