<% provide(:title, 'Edit user') %>
<div class="container-fluid" style="background-color:#fafafa;">
	<div class="container">
		<h1>Account Settings</h1>
  	<h3> <%= @user.name %> </h3>
		<% if @tab == "billing" %>
			<%= render 'billing' %>
		<% elsif @business && @business.view_as_employee?(current_user) && @tab == "admin" %>
			<%= render 'admin' %>
		<% else %>
			<%= render 'general' %>
		<% end %>
	</div>
</div>
