<% provide(:title, @user.name) %>

<div class="container-fluid" style="background-color:#F3F3F3;">
	<div>


	<div class="row">
		<div class="col-md-2" class="container">

		</div>

		<div class="col-md-7" class="container" style="background-color:white; margin-top: 15px; margin-bottom: 15px; padding: 0px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);">

			<div class="col-md-8" style="width:100%; padding-left: 0px; padding-right: 0px;">

				<div style="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24); padding-top: 10px; padding-bottom: 25px; margin-bottom: 10px;">
					<%= gravatar_for @user, {size: 80, class: "gravatar_profile"} %>
					<span style="font-size: 1.4em;"> <%= @user.name %> </span>
					<br/>
					<%= link_to user_settings_for(@user), { :class=>"btn btn-info", :title=>"Edit", 'data-toggle' => 'tooltip' } do %>
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						<% end %>

          <% if current_user.admin %>
            <%= link_to user_billing_for(@user), { :class=>"btn btn-primary", :title=>"Billing", 'data-toggle' => 'tooltip' } do %>
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            <% end %>
          <% end %>

					<% if (usr = UserWorkout.where(:user_id => @user.id)).any? %>
						<h3>
							Total bookings:  <%= pluralize(usr.count, "session") %>
						</h3>
					<% end %>
				</div>

				<div style="padding-left: 10px; padding-right: 10px;">
				<div class="alert alert-warning">
					<p> This website is a work in progress. Features may be bugged or non-existant.</p>
					<p> << Upload a photo of yourself using <a href="https://en.gravatar.com/support/what-is-gravatar/" target="_blank">Gravatar</a>! >></p>
				</div>
				</div>
					<% unless approved?(@user) %>
						<div style="padding-left: 10px; padding-right: 10px;">
							<h4> Welcome to AJCore Fitness F!Trackular! </h4>
							<p>Book your free consultation with our personal trainer.</p>
						</div>
					<% end %>
			</div>
		</div>

		<hr>

			<% if current_user.admin? %>
		<div class="col-md-2">
				<table class="overall">
					<th>
						Activity summary
					</th>
					<tr>
						<% (-1..1).each do |j| %>
							<td>
								<table class="sessions" >
									<% start_date = (Time.zone.now + j.months).beginning_of_month  %>
									<% start_month = start_date.month %>
									<% current_date = start_date - start_date.wday.days %>

										<tr>
											<td class="monthname">
											 <%= start_date.strftime("%B") %>
											</td>
										</tr>
									<% (0..6).each do |i| %>
										<tr>
												<td class="dayname">
													<div_class="sesh_upcoming"%>
													<%= Date::DAYNAMES[i][0..2] %>
													</div>
												</td>

											<% days_this_month = Time.zone.today.end_of_month.day %>
											<% nr_weeks = days_this_month / 7 %>

											<% nr_weeks +=1 if (days_this_month % 7) == 0 %>
											<% (0..nr_weeks).each do %>
												<% brdr_today = (current_date.to_date == current_date.beginning_of_month.to_date) ? " first_day" : "" %>
												<% if current_date.month == start_date.month %>
													<td>
														<% if (sesh_today = @sesh.where(:date => current_date.beginning_of_day..current_date.end_of_day, :status => [WorkoutSession::STATUS["ok"], WorkoutSession::STATUS[:draft]])).exists? %>
															<div class="sesh_upcoming <%= brdr_today %>" title=" <%= current_date.strftime("%B %-d, %Y") %>" data-toggle=tooltip>
																<% if sesh_today.first.date > Time.zone.today %>
																	<span class="glyphicon glyphicon-unchecked upcoming" aria-hidden="true"></span>
																<% else %>
																	<span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
																<% end %>
															</div>
														<% else %>
															<div class=" sesh_nil <%=brdr_today%>" title=" <%= current_date.strftime("%B %-d, %Y") %>" data-toggle=tooltip></div>
														<% end %>

														<% current_date.strftime("%d") %>
													</td>
												<% else %>
													<td class="other_month <%= brdr_today %>" title=" <%= current_date %>"></td>
												<% end %>

												<% current_date += 7.days %>
											<% end %>

											<% current_date -=  ((7 * (nr_weeks+1)) - 1).days  %>
										</tr>
									<% end %>


								<tr>
									<td class="dayname footer">
										Sessions: <%= sesh_attended(@user, start_date) %>
									</td>
								</tr>
								<tr>
									<td class="dayname footer">
										Missed: <%= sesh_missed(@user, start_date) %>
									</td>
								</tr>
							</table>
							</td>
						<% end %>
					</tr>

					<tr>
						<td class="dayname footer">
							Total Upcoming: <%= sesh_upcoming(@user) %>
						</td>
					</tr>
					<tr>
						<td class="dayname footer">
							Total Missed: <%= sesh_missed(@user) %>
						</td>
					</tr>

				</table>

			<% end %>
		</div>
	</div>
	</div>

</div>
