$("#viewGroupSessionsModal").html("<%= escape_javascript(render partial: 'new_embedded') %>");

<% unless @signup_form.errors[:email].empty? %>
  $(".user_email").addClass(" has-error ");
  $(".user_email").attr("data-toggle", "popover");
  $(".user_email").attr("data-trigger", "focus");
  $(".user_email").attr("data-html", "true");
  $(".user_email").attr("data-content", "<%= output_error_messages(@signup_form.errors.full_messages_for(:email)) %>");
  $(".user_email").attr("data-placement", "top");

  $(".user_email").focus();
  $(".user_email").click();
<% end %>

<% unless @signup_form.errors[:password].empty? %>
  $(".user_password").addClass(" has-error ");
  $(".user_password").attr("data-toggle", "popover");
  $(".user_password").attr("data-trigger", "focus");
  $(".user_password").attr("data-html", "true");
  $(".user_password").attr("data-content", "<%= output_error_messages(@signup_form.errors.full_messages_for(:password)) %>");
  $(".user_password").attr("data-placement", "top");


<% end %>

$('[data-toggle="popover"]').popover();
