<%= form_for(@workout_session) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="inlinefield" >
    <%= f.datetime_select :date, :ampm => true, :minute_step => 15 %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>