<div class="container-fluid" style="background-color: #F3F3F3;">
<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Business</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.user.name %></td>
        <td><%= subscription.business.name %></td>
        <td><%= subscription.type %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
</div>
