<div class="container-fluid" style="background-color: #F3F3F3;">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Business:</strong>
  <%= @subscription.business %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subscription.type %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
</div>
