<p id="notice"><%= notice %></p>

<h1>Invoice Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= link_to 'Show', invoice_item %></td>
        <td><%= link_to 'Edit', edit_invoice_item_path(invoice_item) %></td>
        <td><%= link_to 'Destroy', invoice_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Item', new_invoice_item_path %>
