<%= simple_form_for([@business, payment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :amount, :label => false, :placeholder => "$0.00" %>
		<%= f.input :payment_type, :label => false, collection: Payment.payment_types.keys, :include_blank => false %>

		<div style="position:relative">
			<%= f.input :paydate, as: :string, :label => false, input_html: { id: "datepicker_paydate", value: Time.zone.now.strftime('%m/%d/%Y')} %>
		</div>

		<%= f.input :memo, :label => false, :placeholder => "Enter a memo.." %>
    <%= f.hidden_field :business_id, value: @business.id %>
    <%= f.hidden_field :invoice_id, value: @invoice.id %>
		<%= f.hidden_field :user_id, value: @invoice.user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
