<div class="container-fluid">
	<h1>Payments</h1>

	<p class="alert">
	  <span class="glyphicon glyphicon-info-sign font-info" style="background-color: none;"></span> Payments are added through an invoice. </br>
	  This table shows all payments ever recorded by F!Trackular. Red rows are payments that have been removed.
	</p>

	<table class="table table-hover shdw">
	  <thead>
	    <tr>
	      <th>Payment type</th>
	      <th>User</th>
	      <th>Invoice</th>
				<th>Created</th>
				<th>Updated</th>
				<th>Amount</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @payments.each do |payment| %>
				<% if payment.invoice %>
					<% status = "alert-success" %>
				<% end %>
				<% unless payment.invoice %>
					<% status = "alert-danger" %>
				<% end %>
	      <tr class="<%=status %>" >
	        <td><%= payment.payment_type.upcase %></td>
	        <td><%= payment.user.name(upcase: true) %></td>
	        <td>
						<% if payment.invoice %>
						<%= link_to business_invoice_path(@business.slug, payment.invoice.id), :class => "" do %>
							<span class="glyphicon glyphicon-zoom-in" style="color:#FFA07A"></span>
							Invoice #<%= payment.invoice.id %>
						<% end %>
						<% end %>
					</td>
					<td><%= payment.created_at.strftime("%-d %B, %Y") %></td>
					<td><%= payment.updated_at.strftime("%-d %B, %Y") %></td>
					<td><%= "$" + number_with_precision(payment.amount, :precision => 2).to_s %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

</div>
