<div style="background-color:#F3F3F3; padding-top:50px; padding-bottom:50px;">
	
	
	<div class="container" style="background-color:white; padding-bottom:20px; box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);">
	<h1>New Payment</h1>
		<%= render 'form', payment: @payment %>
	</div>
</div>