<p id="notice"><%= notice %></p>

<div class="container">
<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user.name.upcase %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @payment.invoice.id %>
</p>

<%= link_to 'Back', payments_path %>

</div>