<%= simple_form_for([@business, item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :category %>
		<%= f.input :quantity %>
		<%= f.input :available %>
		<%= f.input :price %>
    <%= f.input :tax_id, collection: Tax.where(:available => true), include_blank: "None" %>
    <%= f.hidden_field :business_id, value: @business.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
