<div class="container-fluid">
	<div class="container" style="margin-bottom: 50px;">
		<h1>Editing Item</h1>

		<%= simple_form_for([@business, @item]) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
				<%= f.input :name %>
				<%= f.input :description %>
				<%= f.input :category %>
				<%= f.input :quantity %>
				<%= f.input :available %>
				<%= f.input :price %>
		    <%= f.input :tax_id, collection: Tax.where(:available => true), include_blank: "None" %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit %>
		  </div>
		<% end %>

		<%= link_to business_item_path(@item.business.slug, @item), method: :delete, data: { confirm: 'Remove item?' }, :class=>"btn btn-danger" do %>
	    <span class="glyphicon glyphicon-remove" aria-hidden="true">Remove</span>
	  <% end %>
	</div>

</div>
