<div class="container-fluid">
<h1>Items</h1>

<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#items-new">
  <span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
  <span class="btn-text">New Item</span>
</button>

</br></br>

<div id="items-new" class="modal fade">
  <div class="modal-dialog modal-content">
    <div class="modal-body">
      <%= render 'items/new' %>
    </div>
  </div>
</div>

<table class="table table-striped shdw">
  <thead>
    <tr>
			<th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Available</th>
      <th>Tax</th>
			<th>Price</th>
      <th colspan=2></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
				<td><%= item.name %></td>
				<td><%= item.description %></td>
				<td><%= item.category %></td>
				<td><%= item.quantity %></td>
				<td><%= item.available %></td>
				<td><%= item.tax.name if item.tax %></td>
				<td><%= number_to_currency(item.price, :unit => "$") %></td>
        <td>
          <% if item.id %>
            <%= link_to edit_business_item_path(@business.slug, item) do %>
              <span class="glyphicon glyphicon-pencil circ-btn"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
