<%# Start at the beginning of a month, to the end of another month, delta_x = 1 day %>
<% start_date = (Time.zone.now - 0.month).beginning_of_month.beginning_of_day %>
<% end_date = (Time.zone.now - 0.month).end_of_month.end_of_day %>
</br>
<% days = (end_date - start_date).to_i / (24 * 60 * 60) * 3 %>


<% x_height_max = 0 %>
<% x_height_min = 0 %>

<% x_width_max = 0 %>
<% x_width_min = 0 %>

<% graph_height = 50 %>
<% graph_width = 340 %>

<% bar_height = graph_height %>

<% bar_width = graph_width.to_f / (input.length) %>

<% data_set = [] %>
<% max = 0 %>
<% (0..input.length - 1).each do |i| %>
  <% x = input[i] %>
  <% max = x if x > max %>
  <% data_set << x %>
<% end %>

<div class="svg-container">
  <svg preserveAspectRatio="none" viewBox="0 0 <%= graph_width %> <%= graph_height %>" width="100%" xmlns="http://www.w3.org/2000/svg">
    <title id="title">A bart chart showing information</title>

    <% (0..input.length - 1).each do |i| %>
      <%= input[i] / max * bar_height %>
      <g class="bar" transform="translate(<%= i * bar_width %> ,0)">
        <rect height="<%= bar_height %>" y="<%= bar_height - ((input[i].to_f / max) * bar_height) %>" width="<%= bar_width %>"></rect>
        <title x="20" y="20" font-family="sans-serif" font-size="20px" fill="red"><%= input[i] %></text>
      </g>
    <% end %>
  </svg>
</div>
