<%
if upay = uw.cost
	amount = upay.to_s.split(".")
	@dol_amt = amount[0].to_i
	@cent_amt = amount[1] ? ("." + amount[1]).to_f : 0
end
%>

<%= simple_form_for(uw) do |f| %>
		<table>
			<tr>
				<td>
					<%= f.label "Session cost" %>
				</td>
			</tr>
			<tr>
				<td>	
				<div class="input-group">					
					<%= f.input :rate_dollars, :label => false, collection: 0..100, :selected => @dol_amt, :include_blank => false %>	
					<span class="input-group-addon">$</span>
				</div>
				</td>
				<td>
					<div class="input-group">
						<%= f.input :rate_cents, :label => false, collection: {".00" => 0, ".25" => 0.25, ".50" => 0.50, ".75" => 0.75}, :selected => @cent_amt,  :include_blank => false %>	
						<span class="input-group-addon">¢</span>		
					</div>
				</td>
			</tr>
			<tr>
				<td>
				</br>
				</td>
			</tr>
			<tr>
				<td colspan=3>
					<%= f.submit "Update", class: "btn btn-primary" %>
				</td>
			</tr>
		</br>
		<tr>
		</table>
	<% end %>