<h1>New Tax</h1>

<%= simple_form_for [@business, @business.taxes.new] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :percentage %>
    <%= f.input :available %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
