<div class="row" style="padding-bottom: 50px; padding-top: 50px;">
	<div class="col-md-6 col-md-offset-3 shdw bg-white" style="padding-bottom: 15px;">
    <h1>Editing Tax</h1>

    <%= render 'form', tax: @tax %>
    <%= link_to 'Back', business_taxes_path(@business.slug) %>

    </div>
</div>
