<div class="container-fluid">
<h1>Taxes</h1>

<div>
  <h4>
    <big> Default tax </big>
  </h4>
	<p> Choose a default tax to apply to the following: </p>

  <div class="row">
		<div class="col-md-1">
			Sessions
		</div>

		<%= simple_form_for [@business, @workouts_tax] do |f| %>
			<div class="col-md-1">
				<%= f.input :value, collection: Tax.where(:available => true), include_blank: "None", label: false %>
			</div>
			<div class="col-md-1">
				<%= f.submit "Update", class: "btn btn-sm btn-primary" %>
			</div>
		<% end %>
  </div>

  <div class="row">
		<div class="col-md-1">
			Memberships
		</div>

		<%= simple_form_for [@business, @memberships_tax] do |f| %>
			<div class="col-md-1">
				<%= f.input :value, collection: Tax.where(:available => true), include_blank: "None", label: false %>
			</div>
			<div class="col-md-1">
				<%= f.submit "Update", class: "btn btn-sm btn-primary" %>
			</div>
		<% end %>
  </div>

</div>

  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#tax-new">
    <span class="glyphicon glyphicon-plus" style="color:#FFA07A"></span>
    <span class="btn-text">New Tax</span>
  </button>

  <div id="tax-new" class="modal fade">
    <div class="modal-dialog modal-content">
      <div class="modal-body">
        <%= render 'taxes/new' %>
      </div>
    </div>
  </div>

  <table class="table table-striped shdw table-line-height" style="margin-top: 15px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Percentage</th>
        <th>Available</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @taxes.each do |tax| %>
        <tr>
          <td><%= tax.name %></td>
          <td><%= tax.percentage %>%</td>
          <td><%= tax.available %></td>
          <td>
            <%= link_to edit_business_tax_path(@business.slug, tax) do %>
              <span class="glyphicon glyphicon-pencil circ-btn"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
