<p id="notice"><%= notice %></p>
<div class="container-fluid" style="background-color: #F3F3F3; height: 100%;">
  <%= link_to 'Edit', edit_tax_path(@tax) %> |
  <%= link_to 'Back', taxes_path %>
</div>