// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$head-size: 65px;
$logo-color: #FFA07A;
$secondary: #272d4e;
$logo-color-emphasized: #FF8C40;

.btn-text {
  color:#555;
}

.btn-icon {
  color: #FFA07A;
}

a.list-group-item:hover, button.list-group-item {
  color: #337ab7 !important;
}

.price-subcategory {
    font-weight: bold;
}

thead {
//  color: #337ab7;
}
.view-footer {
  margin-top: 300px;
}

.logo {
  text-shadow: 1px 1px 1px black;
}

.logo:hover {
  text-transform: underline;
}
.list-group-item.active {
  border-right: 2px solid $logo-color !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  .list-item-header {
    color: $logo-color;
  }
}

.schedule_event_time {
	font-weight: bold;
	//color: $logo-color;
}

.a-new-workouts {
		color: $logo-color;
    z-index: 3000;
}

.alert {
	padding: 0px !important;
}

.plan {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	padding-top: 10px;
	height: 200px;
	width: 200px;
}

.plan:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.span-2 {
		column-span: all;
}

.nav-active {
	background-color: #e8ebec;
	color: $logo-color-emphasized !important;
	border-left: 1px solid $logo-color-emphasized;
	list-style-type: square;
}

.nav-dashbar-group {
	padding-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: lightsalmon;
}

branding {
	font-weight: bold;
}

.section-margin {
		margin-bottom: 30px;
}

.sample-banner {
		#background: image-url('sample-banner.jpg');
		background: image-url('aj-banner.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
}

.sample-logo {
		background: image-url('ajcorefitness-sm.png');
		height: 92px;
		width: 250px;
}

.sharks-logo {
		background: image-url('sharks.png');
		background-size: 100% 100%;
		height: 100px;
		width: 250px;
		padding: 0px;
}

.sharks-banner {
	background: image-url('sharks.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.logo-description {
	text-align: center;
	font-weight: bold;
}

.img-container {
	width: 250px;
	height: 130px;
	margin: auto;
}

.head-margin {
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	width: $head-size;
}

.aki {
	background: image-url('aki-head.jpg');
	height: $head-size;
	width: $head-size;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.clare {
	background: image-url('clare-head.jpg');
	height: $head-size;
	width: $head-size;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.daniel {
	background: image-url('daniel-head.jpg');
	height: $head-size;
	width: $head-size;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.team {
	text-align: center;
	width: 100%;
	height: 200px;
	margin: auto;
	margin-top: 80px;
}

.event_time {
	padding-top: 10px;
	padding-left:40px;
	padding-right: 40px;
}

.event_type {
	padding: 0px 40px 0px 40px;
}

.event_repeat {
	padding: 0px 40px 10px 40px;
}

.event_title {
	padding-left:40px;
  padding-right: 40px;
}

.event_location {
	padding-left: 40px;
  padding-right: 40px;
}

.event_clients_admin {
	padding-left: 40px;
  padding-right: 40px;
}

.event_clients_client {
	padding: 0px 40px 15px 40px;
}

.event_clients_admin {
	padding: 0px 40px 15px 40px;
}

.event_memo {
	padding-left:40px;
  padding-right: 40px;
}

.upcoming {
	color: #0074D9
}

.upcoming_re {
	color: #FF851B
}

.success_re {
	color: #3D9970
}

.rescheduled_from {
	color: #FF851B
}

.rescheduled_from_re {
	color: #85144b
}

.cancelled {
	color: #708090
}

.cancelled_re {
	color: #111111
}

.noshow {
	color: #FF4136
}

.noshow_re {
	color: #111111
}

.memo {
	color: #0074D9
}

.small_status {
	color: gray;
}

.yellow {
	color: yellow;
}

#intersession {
	margin: 0px;
	padding: 0px;
}

table.table_schedule_header {
	width: 100%;
	border-spacing: 1px;
	border-collapse: separate;
	background-color: #f7f7f7;
	font-family: "Lato", "Helvetica Neue", sans-serif;

	tr {
		height: 30px;
	}

	th {
		text-align: left;
		padding-left: 5px;
    font-size: 1.2em;
		background-color: #f7f7f7;
		width: 14%;
		min-width: 150px;
		border: 0;
	}
}

.legend {
	margin-top: -100px;
	padding: 10px;
	background-color: white;
	float: left;
	width: 100%;
	font-size:.9em;
	margin-bottom:1px;
}

.div_table {
  font-size: 12px;
	overflow-x: auto;
	padding-bottom: 100px;
}

table.table_schedule_month {
	width: 100%;
	border-spacing: 1px;
	border-collapse: separate;
	background-color: #f1f1f1;


  td.relative {
    padding-bottom: 15px;
  }

	td.display_date {
		font-family: "Lato", "Helvetica Neue", sans-serif;
	}

	td.this-month {
		padding-left: 5px;
		background-color: white;
		height: 125px;
		margin: 2px;
		min-width: 150px;
		width: 14%;
		vertical-align: top;
	}

	td.not-month {
		padding-left: 5px;
		background-color: #fafafa;
		height: 125px;
		margin: 2px;
		min-width: 150px;
		width: 14%;
		vertical-align: top;
	}

	td.today {
			border: 1px solid #FFA07A;
	}
}

.repeat_on {
	background-color: #F4F4F4;
	padding-top: 0px;
	padding-bot: 0px;
}

.form-group.string.optional.workout_session_until {
	display: inline-block;
}

.userselect_2 {
	height: 30px;
}

.book-modal-div {
  position: absolute;
  width: 98%;
  height: 100%;
  cursor: pointer;

  .book-modal-span {
    text-indent: -10000px;
  }

  .book-modal-span-text {
    text-indent: -10000px;
    visibility: hidden;
  }
}

.book-modal-div:hover {

  transition: .3s;
  text-align: center;
  padding-top: 0px;

  .book-modal-span {
    text-indent: 0px;
    color: $logo-color;
  }

  .book-modal-span-text {
    visibility: visible;
    text-indent: 0px;
    color: $logo-color;
  }
}

.book-modal-div2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .book-modal-span {
    text-indent: -10000px;
  }

  .book-modal-text {
    text-indent: -10000px;
    visibility: hidden;
  }
}

.book-modal-div2:hover {
  transition: .3s;
  text-align: center;
  padding-top: 0px;

  .book-modal-span {
    text-indent: 0px;
    color: $logo-color;
  }

  .book-modal-text {
    visibility: visible;
    text-indent: 0px;
    color: $logo-color;
  }
}

table.calendar_content {
  position: relative;
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;
	overflow-x: auto;

	tr.right {
		float: left;
		width: 100%;
		color: darkgray;
	}

  th {
    //font-weight: normal;
  }

  td {
   font-size: .9em;
  }

	td.right {
		width: 100%;
	}

  tr.has_reminder {
    border: 1px solid gray;
  }

	tr.calendar_content {
		width: 100%;
		padding-left: 0px;
		margin-left:0px;
		float: left;
	}

	td.day_client {
		text-align: center;
	}

  .day:hover {
		background-color: #f3f3f3;
	}
}

table.overflow {
	table-layout: fixed;
	position: relative;
	width: 100%;
	//background-color: #fafafa;

	td.overflow {
		white-space: nowrap;
		overflow: hidden;
		padding:2px;
		padding-bottom: 3px;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.label_plain {
}

a {
 color:#768798;
}

.alert {
	padding: 0px;
}

.div_open_client {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.i_open_client_time {
	background-color: transparent;
	font-weight:bold;
}

.i_available_client_time {
	background-color: transparent;
	color: gray;
}

.dropdown-menu > li > input {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
	border: none;
  text-align: left;
  background-color: transparent;
	margin: 0px;
}

.dropdown-menu > li > input:hover {
	color: $logo-color;
  background-color: #f5f5f5;
}

.repeat-glyph-recurring {
	font-size: 70%;
	float: right;
	position: absolute !important;
	right: 5px !important;
	top: 6px !important;
	color: lightgray;
}

.repeat-glyph-instance {
	font-size: 70%;
	float: right;
	position: absolute !important;
	right: 5px !important;
	top: 6px !important;
	color: lightgray;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
		border-radius: 4px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: lightgray;
	padding: 5px;
	height: 100%;
	width: 100%;
	max-height: 105px;
	min-height: 105px;
}

.dash-avatar {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	max-width: 100px;
	max-height: 150px;
}

.today {
	.date-div {
		color: $logo-color;
		border-radius: 50%;
		//color: white;
	}
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.weekly-outer {
  flex: 15;
  position: relative;
}

.weekly-outer-header {
  flex: 15;
  position: relative;
}

.weekly-inner {
  height: 100%;
  width: 100%;
}

.horiz-grid::after {
  content: " ";
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  width: 100%;
  left: 0;
}

.day-block {
  position: relative;
  overflow-x: hidden;
  border-right: 1px solid #e0e0e0;
  flex: 1 1 auto;
  padding-right: 12px;
  height: 100%;
  width: 100%;
}

.weekly-inner.past {
  background-color: rgba(240,248,255,.75);
}

.topic-container::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 12px;
	background-color: #F5F5F5;
}

.day-event {
  position: absolute !important;
  overflow: hidden;
  color: #333;
  font-size: .8em;
  height: 46px;
  width: 50%;
  z-index: 2;
  background-color: rgb(179, 225, 247);
  border-radius: 2px;
  border: 1px solid #f3f3f3;
  border-left: 2px solid steelblue;
  cursor: pointer;
  white-space: nowrap;
}

.event-content {
  padding: 2px;
  min-height: 12.5px;

  .event-status {
    float: left;
    margin-top: 4px;
  }
}

.day-bfr {
  position: absolute;
  overflow: hidden;
  height: 46px;
  width: 50%;
  background-color: skyblue;
  border-radius: 2px;
  border: 1px solid #f3f3f3;
  white-space: nowrap;
}

.day-event:hover {
  z-index: 20 !important;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,.5);
  transition: .3s;
}

.calendar-content {
  height: 100%;
  position: relative;
}

.weekly-time {
  width: 100%;

  //border-right: 1px solid #e0e0e0;
  //border-left: 1px solid #e0e0e0;
}

.weekly-time-span {
  position: relative;
  font-size: 10px;
  top: -6px;
  display: block;
}

.time-block-flex {
  flex: 0 0 auto;
  overflow: hidden;
  padding: 0 4px 0 4px;
  text-align: center;
  border: 1px solid lightgray;
  //border-top: 1px solid #e0e0e0;
  //border-bottom: 1px solid #e0e0e0;
}

.tbf-inner {
  height: 1285px;
}

.time-block-flex.top {
  background-color: white;
  border: none;
  cursor: default;
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.weekly-block-flex {
  flex: 1 1 auto;
  display: flex;
  background-color: #fff;
  overflow: auto;
}

.now::after {
  border-bottom: 2px solid red !important;
}

.GMT-time {
  top: 0px !important;
}

.weekly-date {
  height: 30px;
  width: 100%;
  background-color: white;
  padding-left: 5px;
  text-align: center;
  line-height: 35px;

  .day {
    color: #aaa;
  }

  .date {
    @media screen and (min-width: 1057px ) {
      font-size: 2.2em;
    }
    @media screen and (min-width: 760px ) {
      font-size: 1.5em;
    }
  }

  .date.today {
    color: $logo-color;
  }
}

#datetimepicker_weekly {
  right: 15px !important;
}

.mini-header {
  width: 100%;
  background-color: white;
  padding: 0 4px 0 10px;
  line-height: 22px;
}

.mini-day {
  flex: 1;
  position: relative;
  text-align: center;
  color: #444;
  height: 25px;
  width: 25px;
  font-size: .85em;
}

.mini-date {
  flex: 1;
  position: relative;
  text-align: center;
  color: #444;
  height: 25px;
  width: 25px;
  font-size: .85em;
}

.mini-day.other {
  color: #aaa;
}

.mini-day.today {
  .btn-mini {
    color: white !important;
    background-color: $logo-color !important;
    border-radius: 50% !important;
  }
}

.mini-day.selected {
  .btn-mini {
    background-color: #e0e0e0 !important;
    border-radius: 50% !important;
  }
}

.mini-arrow {
  flex: 1;
  text-align: center;
}

.mini-month {
  flex: 5;
  text-align: left;
}

.btn-mini {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 5px 0px 5px !important;
  border-radius: 50% !important;
  font-size: 1em !important;
  line-height: 0px !important;
  width: 25px !important;
  height: 25px !important;
}

.btn-mini:hover {
  background-color: rgba(0,0,0,.07) !important;
}

.drag-event {
  opacity: 0.5 !important;
}

.drag-over {
  border: 2px dashed #000;
}

.day-event::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 0px;
  }

.weekly-block-flex::-webkit-scrollbar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;
    min-height: 40px;
    width: 8px;
  }

.weekly-block-flex::-webkit-scrollbar-thumb {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: darkgray;
    min-height: 40px;
    width: 8px;
  }

.drop-item {
  flex: 1;
  margin: 1px;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  background-color: lightblue;
  transition: .25s;
}

.drop-item > a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.drop-item > a:hover {
  color: white !important;
}

.rebeccapurple {
  background-color: rebeccapurple;
  border: 3px solid rebeccapurple;
}

.rebeccapurple:hover {
  border: 3px solid #A079C8;
}

.cadetblue {
  background-color: cadetblue;
  border: 3px solid cadetblue;
}

.cadetblue:hover {
  border: 3px solid #93C5C7;
}

.coral {
  background-color: coral;
  border: 3px solid coral;
}

.coral:hover {
  border: 3px solid #FFCECA;
}

.cornflowerblue {
  background-color: cornflowerblue;
  border: 3px solid cornflowerblue;
}

.cornflowerblue:hover {
  border: 3px solid #BDD3FB;
}

.yellowgreen {
  background-color: yellowgreen;
  border: 3px solid yellowgreen;
}

.yellowgreen:hover {
  border: 3px solid #CDF283;
}

.tomato {
  background-color: tomato;
  border: 3px solid tomato;
}

.tomato:hover {
  border: 3px solid #FFA595;
}

.plum {
  background-color: plum;
  border: 3px solid plum;
}

.plum:hover {
  border: 3px solid #ECE9EC;
}

.sienna {
  background-color: sienna;
  border: 3px solid sienna;
}

.sienna:hover {
  border: 3px solid #F3B394;
}

.silver {
  background-color: silver;
  border: 3px solid silver;
}

.silver:hover {
  border: 3px solid #f3f3f3;
}

.col-content {
  position: relative;
}

.col-event {
  position: relative;
  border-right: 2px solid #f3f3f3;
  cursor: pointer;
  padding-left: 2px;
  margin: 2px 0px 2px 0px;

  @media screen and (min-width: 1057px ) {
    max-height: 16.8px;
  }
}

.col-event:hover {
  border-right: 2px solid $logo-color;
}

.monthly-container {
  min-height: calc(16.5%);
  border-bottom: 1px solid lightgray;
}

.col-date {
  text-align: right;
  height: 20px;
  width: 100%;
}

.date-inner {
  padding: 0 5px 0 5px;
}
.col-date.today .date-inner {
  background-color: $logo-color;
  color: white;
  border-radius: 50%;
  float: right;
}

.date-flex {
  flex: 1;
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: white;
  padding: 5px 5px 0px 3px;
  text-align: right;
  border-bottom: 1px solid lightgray;
}

.btn-mini {
  margin-top: 2px;
}

.event-time {
  font-size: .8em;
  color: gray;
}

#workout_session_memo {
  overflow-x: hidden;
  overflow-y: auto;
}

#workout_session_memo::-webkit-scrollbar {
  background: transparent;
  box-shadow: none;
  border: none;
  min-height: 20px;
}

#workout_session_memo::-webkit-scrollbar-thumb {
  background: #eee;
  height: 8px;
  width: 12px;
}

.event-status {
  font-size: .9em !important;
  padding-right: 3px;
  padding-left: 3px;
}

.dow-flex {
  flex: 1;
  position: relative;
  background-color: white;
  padding: 5px 0px 5px 5px;
  border-right: 1px solid lightgray;
}

.dow-flex.past {
  background-color: aliceblue;

  .event-inner {
    text-decoration: line-through;
    color: red;
  }

  .event-bfr {
    background-color: aliceblue;
  }
}

.event-bfr {
  font-size: 1em;
  color: gray;
  background-color: white;
  line-height: 15px;

  @media screen and (min-width: 1057px ) {
    padding-left: 5px;
    position: absolute;
    right: 2px;
  }

  @media screen and (max-width: 1060px ) {
    display: none;
  }
}

.event-bfr.bfr-minsize {
  min-width: 87px;
}

.time-bfr {
  padding-right: 1px;
  float: right;

  @media screen and (max-width: 1057px ) {
    display: none;
  }
}

.event-details {
  color: #337ab7;
}

.otherMonth {
  background-color: #f3f3f3;
  opacity: .75;

  .event-bfr {
    background-color: #f3f3f3;
  }
}

.strike {
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
  display: none;
}

.event-inner {
  font-size: 12px;
  display: inline-block;

  @media screen and (min-width: 1057px ) {
    height: 16.8px;
  }
}

.mini-month-text {
  font-size: 1.25em;
  line-height: 30px;
}

.unselectable, .unavailable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.test {
  height: 100%;
  background: image-url('olivier.png');
  background-repeat: no-repeat;
  position:absolute;
  width: 314px;
  height: 431px;
  bottom: 0;
  margin-left: -30px;
  opacity: .25;
}

.reminder {
  width: 100%; padding: 5px 0px 5px 10px
}

.reminder-li {
  position: relative;
  padding: 0 0px 0 15px;
  border-right: 2px solid transparent;

  a {
    color: #444;
    display: block;
    padding-right: 55px;
  }

  a:hover, a:focus {
    color: #444 !important;
    text-decoration: none !important;
  }


}

.reminder-li:hover {
  background-color: #f3f3f3;
  border-right: 2px solid $logo-color;
}

.reminder-ul {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

.emph, .reminder-date {
  font-weight: bold;
  text-transform: uppercase;
}

h5.reminder-date {
  font-size: .9em;
}

.reminder-time {
  position: absolute;
  top: 0;
  right: 5px;
  float: right;
  color: darkgray;
  font-size: .9em;
  line-height: 25px;
}

.cancel {
  text-decoration: line-through;

  .reminder-time {
    text-decoration: line-through;
  }

  .event-status {
    color: #708090;
  }

  .event-details {
    text-decoration: line-through;
  }

  .event-bfr {
    text-decoration: line-through;
  }
}

.success {
  color: #2ECC40;
  .event-status {
    color: #2ECC40;
  }
}

.draft {
  color: #8B008B;

  .event-status {
    color: #8B008B;
  }
}

.event-inner {
  .unavailable {
    background-color: indianred !important;
    border-left: 4px solid maroon!important;
    color: white !important;
    text-align: right;
    padding-right: 4px;
  }
}

.day-event.unavailable, .day-bfr.unavailable {
  background-color: indianred !important;
  color: white !important;
  border-left: 4px solid maroon;
  z-index: 1;
  cursor: default;
}

.day-event.unavailable:hover {
  box-shadow: none;
  z-index: 1 !important;
}

.past {
  .unavailable {
    visibility: hidden;
  }
}

.wday-listener {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
}

.cal-main {
  flex: 1;
  height: 100%
}

.cal-side {

  .cal-inner {
    border-bottom: 1px solid lightgray;
  }

  @media screen and (min-width: 760px ) {
    flex: 0 0 255px;
    position: relative;

    .cal-inner {
      max-width: 260px;
    }
  }

  @media screen and (max-width: 760px) {
    flex: 1;
  }
}

.cal-menu-1 {
  @media screen and (min-width: 1057px ) {
    flex: 3;
  }

  @media screen and (max-width: 760px) {
    flex: 1;
  }
}

.cal-menu-2 {
  @media screen and (min-width: 1057px ) {
    flex: 6;
  }

  @media screen and (min-width: 760px ) and (max-width: 1057px) {
    padding-left: 15px;
  }

  @media screen and (max-width: 760px) {
    flex: 5;

    .dspl-month2 {
      text-align: left;
      padding-left: 15px;
      font-size: 2em;
    }
  }
}

.dspl-month2 {
  color: #F3F3F3;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  text-align: center;
  line-height: 35px;
}

.cal-menu-3 {
  @media screen and (min-width: 1057px ) {
    flex: 3;
    text-align: right;
  }

  @media screen and (max-width: 1057px) {
    flex: 3;
    text-align: right;

    .btn-text {
      display: none;
    }
  }

  @media screen and (max-width: 760px) {
    flex: 6;
  }
}

@media screen and (min-width: 760px ) {
  .sm-only {
    display: none !important;
  }
}

@media screen and (max-width: 760px ) {
  .xhidden {
    display: none;
  }
}

.col-event.group_recurring, .col-event.group {
  background-color: dodgerblue;
  border-left: 3px solid deepskyblue;

  .event-status {
    display: none;
  }

  .event-details {
    color: white;
  }

  .event-bfr {
    background-color: dodgerblue !important;
    color: white !important;
  }
}

@media screen and (max-width: 1060px ) {
  .col-event.workout {
    background-color: gray;

    .event-details {
      color: white;
    }

    .event-bfr {
      background-color: dodgerblue !important;
      color: white !important;
    }
  }

  .col-event.workout.cancel {
    .event-status {
      color: black;
    }
  }

  .col-event.event {
    background-color: indianred;

    .event-details {
      color: white;
    }

    .event-bfr {
      background-color: dodgerblue !important;
      color: white !important;
    }
  }
}

.day-event.workout {
  background-color: gray;

  .event-content {
    color: white;
  }
}

.day-event.event {
  background-color: indianred;

  .event-content {
    color: white;
  }
}

.col-event.group.partakes {
  background-color: mediumseagreen;
  border-left: 3px solid deepskyblue;

  .event-status {
    display: none;
  }

  .event-details {
    color: white;
  }

  .event-bfr {
    background-color: mediumseagreen !important;
    color: white !important;
  }
}

.day-event.group_recurring, .day-event.group {
  background-color: dodgerblue;
  border-left: 3px solid deepskyblue;

  .event-status {
    display: none;
  }

  .event-content {
    color: white;
  }

  .event-bfr {
    background-color: dodgerblue !important;
    color: white !important;
  }
}

.day-event.group.partakes {
  background-color: mediumseagreen;
  border-left: 3px solid deepskyblue;

  .event-status {
    display: none;
  }

  .event-content {
    color: white;
  }

  .event-bfr {
    background-color: mediumseagreen !important;
    color: white !important;
  }
}

.invoice-detail {
  font-weight: bold;
}


.label.tag-default {
  background-color: #eeeeee;
  color: #555;
  font-weight: normal;
}

.btn.btn-emph {
  color: #555 !important;
  background-color: white;
  border-color: #eeeeee;
  border-width: 2px;
  width: 100%;
  height: 100%;
  outline: 0 !important;
}

.btn.btn-emph.active {
  border-color: $logo-color;
}

table.table.table-striped.shdw {
    font-size: .9em !important;
}

.time-span {
  @media screen and (max-width: 760px ) {
    font-size: 8px;
  }
}

#loading-ok {
  font-size: 20px;
  margin-top: 9px;
}

#loading {
  @media screen and (max-width: 1060px ) {
    width: 50%;
    left: 25%;
  }
}

.cal-container {
  height: 100%;
  background-color: #fafafa;
}

table.notifications {
  td {
    font-size: .75em;
  }
}

.notifications-container {
  margin: 0 auto;
  max-height: 600px;
  overflow: auto;

  @media screen and (min-width: 1060px ) {
    width: 420px;
  }
}

.notifications-ul {
  list-style-type: none;
  padding-left: 0px;

  li {
    position: relative;
    padding: 5px 5px 0px 40px;
    border-top: 1px solid lightgray;
  }

  div.details {
    font-size: .9em;
  }

  li > div.details.unread {
    background-color: aliceblue;
  }

  li > div.details:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }

  li > div.details.unread:hover {
    background-color: #B4DCFF;
  }

  div.title {
    padding-bottom: 5px;
  }

  div.time {
    color: #90949c;
    font-size: .8em;
  }
}

img.notifications-gravatar {
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 5px;
}

.notification-header {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0px;

  a.clear-all {
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: .8em;
    margin-right: 5px;
  }
}

code.previous, code.current {
  padding: 0px;
  background-color: transparent;
}

code.current {
  color: forestgreen;
}

#notification-bell.active {
  color: gold;
  text-shadow: 0px 1px 15px gold;
}

a:hover > #notification-bell.active {
  text-shadow: none;
}
