//@import url('https://use.fontawesome.com/releases/v5.0.2/css/all.css');

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";


$gray-medium-light: #eaeaea;
$logo-color: #FFA07A;
$logo-color-emphasized: #FF8C40;
$secondary: #272d4e;
$third: white;
$text: #555;

$border-dash: #e7eaec;
$border-dash-dark: lightgray;
$shading-top: $border-dash;
$shading-bot: $border-dash;
$alert-padding: 1px;
$background-navi: transparent;
$background-dash: #fafafa;

$focus-dash: white;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
.text-light {
  color: #767676;
}

.nav-badge {
  background-color: $logo-color;
  color: white;
}

.header {
  background-color: transparent;
  margin-bottom: 0px;
  border: 0px solid red;
  border-radius: 0 !important;
  padding-left: 10px;

  @media screen and (min-width: 768px ) {
    padding-right: 10px;
  }
}

.navi-cover {
    background-color: rgba(250, 250, 250, 0.9);
    height: 100%;
    padding-top: 40px;
}

.nav > li > a:hover {
    background-color: rgba(230, 230, 230, 0.7);
}

div > .col-admin-navi {
  background-color: $background-navi;
  background: image-url("sidenav1.jpg");
  background-size: cover;
  border-right: 1px solid $border-dash-dark;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-fixed-side {
  position: fixed;
  top: 85px;
}

.admin-nav {
  background-color: $background-navi;
  padding-left: 10px;
}

a.nav-dashbar-side {
  color: #555;
}

a.nav-active > i.glyph-admin-nav, a.nav-active > span.glyph-admin-nav,
a:hover > i.glyph-admin-nav, a:hover > span.glyph-admin-nav {
  color: #337ab7;
}

.col-admin-view {
  background-color: $background-dash;
  padding: 0px;
}

.dashboard-label-timeframe {
  float: right;
  margin-top: 5px;
  font-size: .65em;
  margin-right: 15px;
}

.topic-header {
  background-color: white;
  padding-left: 10px;
  border-bottom: 1px solid $shading-bot;
}

.topic-subheader {
  background-color: white;
  border-bottom: 0px solid $shading-bot;
}

.badge-active {
  color: #337ab7;
  background-color: lightgray;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #f3f3f4;
  color: inherit;
  border: none;
}

.dashboard-reminders > li.active > a, .dashboard-reminders > li.active > a:hover, .dashboard-reminders > li.active > a:focus {
  border: none;
  border-bottom: 1px solid $logo-color;
  color: $logo-color-emphasized;
}

.dashboard-reminders {
  border-bottom: 0px;
}

.nav-tabs > li > a {
  border: none;
}

.topic-container {
  background-color: $focus-dash;
  height: 120px;
}


.row-container:hover {
  box-shadow: 1px 1px 3px 0 rgba(255, 160, 122,.25);
  .topic-header {
    border-top-color: $logo-color;
    color: $logo-color;
  }
}

.row-container {
  box-shadow: 1px 1px 2px 0 rgba(37,45,71,.25);
}

.pie-font-success {
  color: #94b8d6;
}

.pie-font-rescheduled {
  color: #facbb8;
}

.pie-font-noshow {
  color: #F15854;
}

.pie-font-cancelled {
  color: #4D4D4D;
}

.font-success {
 color: #51a351;
}

.font-warning {
    color: #f89406;
}

.font-danger {
  color: #bd362f;
}

.font-info {
  color: #0088cc;
}

.font-primary {
  color: #04c;
}

.med-m-b {
  margin-bottom: 25px;
}

.no-m-b {
  margin-bottom: 0px;
}

.m-t {
  margin-top: 20px;
}

.font-bold {
  font-weight: 600;
}

.mn-clr {
	color: $logo-color;
}

section {
	display: block;
}

textarea {
  resize: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  color: #484848;
}

h2 {
	font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h6 {
	font-size: 2.5em;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}

h7 {
	font-size: 2.5em;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.header-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}

.next-session-alert {
  color: white;
  z-index: 100;
  border-radius: 0px;
}

.gdrive-alert {
  color: white;
  z-index: 100;
  border-radius: 0px;
}

.dspl-month {
  color:#F3F3F3;
  font-size:4em;
  font-weight: bold;
  text-transform: uppercase;
}

#datetimepicker1 {
  text-align: center;
  max-width: 125px;
  margin: 0 auto;
}

.sm-tbl-sched {
  width: 100%;
}

@media only screen and (min-width: 1024px) {

	.floating-alert {
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 5000;
	}

  .sm-tbl-datepicker-col {
    height: 80px;
  }

  #datetimepicker1 {
    position: absolute;
    right: 10px;
    bottom: 15px;
  }

  .sm-tbl-sched {
    margin-bottom: 10px;
  }

  .sm-tbl-sched-book {
    width: 93%; text-align: left;
  }

  .next-session-alert {
    position: absolute;
    right: 50px;
    text-align: right;
  }

  .gdrive-alert {
    position: absolute;
    right: 40px;
    text-align: right;
  }

  .only {
    display: none;
  }
}

.field_with_errors input{
  border: 5px solid red !important;
}

@media only screen and (min-width: 1200px) {
  #datetimepicker1 {
    position: absolute;
    right: 32px;
    bottom: 10px;
  }

  .fit-row .no-float {
  display: table-cell;
  float: none;
  }
}

@media only screen and (max-width: 567px) {
  .none-sm {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {

  .sm-tbl-sched {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .header {
    width: initial;
  }

  .none {
    display: none;
  }

  .sm-mrgn-wrkt {
    margin-bottom: 5px;
  }

  .next-session-alert {
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
  }

  .gdrive-alert {
    text-align: center;
    margin-bottom: 0px;
  }

  .dspl-month {
    font-size:3.2em;
  }
}

#business-logo {
  float: left;
	margin-top: 17px;
	margin-left: 10px;
  font-size: 1.25em;
  color: #F3F3F3;
  padding-top: 0px;
	font-family: "Lato", "Helvetica Neue", sans-serif;
}

#logo {
  float: left;
  font-size: 2.25em;
  line-height: 58px;
  color: $logo-color;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

#logo2 {
  float: left;
  font-size: 1.5em;
  line-height: 51px;
  color: #F3F3F3;
  padding-top: 0px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

#logo_footer {
  color: $logo-color;
}

a {
	&:hover {
    text-decoration: none;
		color: $logo-color !important;
	}

  .next_session_notification {
    color: $third;
  }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}


.icon-bar {
   background-color: white !important;
}

.navbar-toggle {
	background-color: $secondary !important;
}

.navbar .nav > li.dropdown > a
{
	padding: 12px 15px;
	height: 45px;
	font-size: 1.5em;
	color: $third;
  border-color: #fff;
	&:hover {
		color: $logo-color;
	}
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a
{
	font-size: 1.5em;
	color: $logo-color;
  border-color: #fff;

}

.relative {
  position: relative;
}

.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a
{
	font-size: 1.5em;
	color: $logo-color;
	background-color: transparent;
  border-color: #fff;
}

.footer-li {
	width: 135px;
	margin: 0 auto;

}

.dropdown-menu > li > a {
  color: #337ab7;
}

li {
  .headertext {
    font-size: 1.5em;
    line-height: 40px !important;
    height: 57px !important;
    color: white;
  	transition: 0.1s;
    color: white !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 12px !important;
    outline: none !important;
  }

  .headertext:hover {
    text-decoration: none;
		color: $logo-color !important;
    background-color: transparent !important;
  }

  .headertext:focus {
    background-color: transparent !important;
    border: none !important;
  }

  .headertext:active {
    background-color: transparent !important;
    border: none !important;
  }
}

footer, .push {
	height: 155px;
}

footer {
  padding-top: 30px;
  color: #4F94CD;
  a {
    color: $logo-color;
    &:hover {
      color: #4F94CD;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  display:block;
  border-radius: 50%;
}

.gravatar_profile {
  float: left;
  margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
  display:block;
}

.gravatar_logo {
  border-radius: 50%;
  margin-top: 0px;
}

.user_dropdown:hover > .gravatar_logo {
  box-shadow: 0 0 0 3px $logo-color;
}

.user_dropdown {
  display: block;
  height: 100%;
  width: 100%;
  height: 57px !important;
  line-height: 36px !important;
}

.grav-admin-nav {
  border-radius: 50%;
  margin-top: 6px;
}

.gravatar_edit {
  margin-top: 15px;
}

.gravatar_workout {
			padding-bottom: 5px;
			margin: 0 auto;
			display:block;
			border-radius: 50%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* workout_sessions*/


.workout_sessions {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.inlinefield {
  display:inline;
  width: 30%;
  margin-right: 10px;
  float: left;
}

/*schedule*/
.schedules{

}

img{
  max-width: 100%;
}

@media print{
	 .header {display:none;}
	 .footer {display:none;}

	a[href]:after {
		content: none !important;
  }

	container {
		padding: 0px;
		margin: 0px;
	}

	#month_h3 {
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	#table_print {
		height: 700px;
	}

	table.month {
		table-layout:auto;
		overflow: hidden;
		margin: 0;
		padding: 0;
		td.otherMonth {
			border: 1px solid #4F94CD;
			font-size: .85em;
			max-width: 10px;
			max-height: 8px;
		}

		td.thisMonth {
			border: 1px solid #4F94CD;
			font-size: .85em;
			max-width: 10px;
			max-height: 8px;
		}
	}

	table.month_header {
		table-layout:auto;
		overflow: hidden;
		margin: 0;
		padding: 0;
			td {
				max-width: 10px;
				max-height: 5px;
			}
	}

	table.day {
		table-layout:fixed;
		max-width: 10px;
		max-height: 10px;
		table-layout: fixed;
		white-space: nowrap;
	}

	#print{
		display: none;
	}
}

.borderless  {
    border: none;
}

label {
	font-weight: normal;
}

.label_plain {
	font-weight: normal;
	color: $secondary;
}
* {
margin: 0;
}

html {
  height: 100%;
}

body {
	height: 100%;
	background-color: $secondary;
	color: $text;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.li-four-points {
  height: 80px;
  padding-top: 20px;
  margin-left: 0px;
  width: 25%;

}

.glyph-point {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.a-point {
  color: #4a4a4a;
  text-align: center;
}

.login {
  background-color: $secondary;
	color: $third;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

.event-icons {
	font-size: 1.3em;
	float: left;
	margin-left:-30px;
	color: #337ab7;
}

.btn {
  border-radius: 3px !important;
}

li.active > a {
  color: $logo-color !important;
}

.alert-notice {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}

.alert-event {
  color: dimgray;
  background-color: #f3f3f3;
  border-color: #eeeeee;
}

.event-cog {
  color: dimgray;
}

.font-regular {
  color: #444 !important;
}

.font-blue {
  color: #337ab7;
}

.bg-blue {
  background-color: #337ab7;
}

.loading {
  height: 25px;
  margin-top: 5px;
  float: left;
}

.load-msg {
  padding: 10px;
  color: lightgray;
  font-weight: bold;
  margin: 0 auto;
  width: 160px;
}

.load-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(6, end) 1700ms infinite;
  animation: ellipsis steps(6, end) 1700ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.ok {
  font-size: 2em;
  margin-top: 5px;
  color: limegreen;
  float: left;
}

.message-bar {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 20%;
  min-width: 180px;
  margin: 0 auto;
  height: 35px;
  padding: 0 10px 10px 10px;
  background-color: #333;
  z-index: 1500;
}

.select2-container--default.select2-container .select2-selection {
  padding-left: 5px;
  border: 1px solid #ccc;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #66afe9 !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.select2-container.req_place .select2-default .select2-chosen {
  color: red !important;
}

input.select2-search__field::placeholder {
  color: #999;
}

.bg-container {
  background-color: #fff;
}
