// Place all the styles related to the Friend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.friends {
	width:100%;
	border-spacing: 1px;
	border-collapse: separate;
	background-color: #E8E8E8;
	border-bottom: 1px solid #4F94CD;
	border-top: 1px solid #4F94CD;

	th {
		padding-bottom: 5px;
	}
	td {
		height: 34px;
		padding-left: 5px;
		background-color: white;
		font-size: .85em;
		color: 	black;
	}	
}
table.addfriends {
	width:100%;

	th {
		padding-bottom: 5px;
	}
	td {
		height: 34px;
		padding-left: 5px;
		font-size: .85em;
		color: 	black;
	}	
}