.fit-container {
  display:table;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.remove-submit-btn-style {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: none;
}

.remove-submit-btn-style:hover {
  cursor: default;

  span {
    cursor: pointer;
  }
}

.circ-btn {
  box-shadow: 0 0 0 2px #337ab7;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  line-height: 2.5;
}

.circ-btn:hover {
  box-shadow: 0 0 0 2px #FFA07A;

  transition: .1s;
}

.circ-btn-danger {
  box-shadow: 0 0 0 2px #bd362f;
  color: #bd362f;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

.circ-btn-danger:hover {
  box-shadow: 0 0 0 2px #ff6347;
  color: #ff6347;
  transition: .1s;
}

.circ-btn-success {
  box-shadow: 0 0 0 2px #3c763d;
  color: #3c763d;
  padding: 6px;
  border-radius: 50%;
  transition: .1s;
}

.circ-btn-success:hover {
  box-shadow: 0 0 0 2px limegreen;
  color: limegreen;
  transition: .1s;
}

.fit-row {
  height: 100%;
  display: table-row;
}

.shdw {
	box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
}

.bg-white {
  background-color: white;
}

.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bg-transparent {
	background-color: transparent;
}

.tbl-fnt {
	 font-size: 12px;
}

.white-font {
 color: white;
}

.no-border-radius {
  border-radius: 0px;
}

.no-border {
  border: none;
}

no-m-l {
  margin-left: 0px;
}

no-m-r {
  margin-right: 0px;
}

.float-right {
  float: right;
}

no-p-l {
  padding-left: 0px;
}

no-p-r {
  padding-right: 0px;
}

.f-c {
  text-align: center;
}

.f-l {
  text-align: left;
}
