$main-color: #FFA07A;
$secondary-color: #94b8d6;

.chart {
  display: inline-block;
  margin-right: 0;
  transition: all .3s ease;
}

.box {
  background-color: #eee;
  padding: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    .chart {
      transform: scale(6) translate(7px, -20px);
    }
  }
}

.bar {
  position: relative;
  fill: $secondary-color;
  /* height: 21px; */
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  display: inline-block;
}

.chart:hover,
.chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: $main-color !important;

  text {
    fill: $main-color;
  }
}

figcaption {
  font-weight: bold;
  margin-bottom: 20px;
}
