// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.overall{
	border-bottom: 1px solid #4080B0;
}
table.sessions {
	border-spacing: 1px;
	border-collapse: separate;
	text-align: center;
	background-color: #E8E8E8;
	vertical-align: middle;
  display: inline-block;
	border-bottom: 1px solid #4080B0;

	td.dayname {
		background-color: #F8F8F8;
	}
}

.monthname {
		border-bottom: 2px solid #4080B0;
	}

.sesh_upcoming {
	position: relative;
	font-size: 1.25em;
	line-height: 35px;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background-color: #F8F8F8;
}

.sesh_nil {
	width: 15px;
	height: 15px;
	background-color: #F8F8F8;
}

.first_day {
	border-top: 2px solid #4080B0;
}

td.footer {
	text-align: left;
	width:auto;
}

a.sesh {
	width: 100%;
	height: 100%;
}

table.overall {
	margin: 0 auto;
}

table.billing {

}


.billing_group {
	font-size:1.7em;
	color: #4F94CD;
}
.billing_category {
	font-size:1.2em;
	color: #4F94CD;
}

.paid {
	color: green;
}

.due {
	color: red;
}
