// Place all the styles related to the WorkoutSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

#memotext {
	height: 400px;
}
.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

table.hoverhead {
	text-align:center;
	margin: 0 auto;

	td.hoverhead {
    display: inline-block;
    font-size: .9em;
    padding: auto;
    text-align: centre;
		width: 100px;
		height: 130px;
		.gravatar {
			display: inline-block;
			margin: 0 auto;
			padding: 0;
		}
	}
}

.remove {
	color: red;

  &:hover {
    text-decoration: none;
		color: maroon;
  }
}

table.workout_table {
	width: 100%;
	border-collapse: separate;

	td.workout_time {
		text-align: right;
		width: 33%;
		font: 1.8em  Arial,sans-serif;
		border-bottom: 1px solid #4F94CD;
	}

	td.workout_date {
		text-align: left;
		width: 33%;
		font: 1.8em Oswald, sans-serif;
		border-bottom: 1px solid #4F94CD;
	}
	td.workout_buffer {
		text-align: right;
		width: 33%;
		font: 1.5em Arial,sans-serif;
	}

	td.workout_location {
		text-align: left;
		width: 33%;
		font: 1.5em Arial,sans-serif;
	}

	td.workout_status {
		text-align: center;
		width: 33%;
		font: 0em Arial,sans-serif;
	}

	td.workout_until {
		text-align: center;
		width: 33%;
		font: 2em Arial,sans-serif;
	}

	td.workout_title {
		text-align: center;
		font: 2em Arial,sans-serif;
	}

	td.workout_hoverhead {
		margin-top: 20px;
	}

	td.workout_reschedule {
		text-align: center;
	}
}

.event_header_day
{
  color:#FFA07A;
  font-size: larger;
}

.event-icon-padding {
  padding-top: 7px;
}
