<div class="modal-header">
  <h3> Feedback </h3>

  <p>
    Provide feedback on issues you are having, or features you would like to have, and we'll improve your experience!
  </p>
</div>

<div class="modal-body">

  <%= simple_form_for(Suggestion.new) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :business_id, as: :hidden, input_html: { value: @business.id } %>
      <%= f.input :location, as: :hidden, input_html: { value: request.original_url } %>
      <%= f.input :body, label: "Details", as: :text %>
    </div>
</div>
<div class="modal-footer">
    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-warning" %>
    </div>
  <% end %>
</div>
