<div id="suggestions-view" class="modal fade">
	<div class="modal-dialog modal-content">
      <div id="show-suggestion-modal">
        <%= render 'suggestions/form' %>
      </div>
	</div>
</div>
