<div class="bg-container">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Suggestions</h1>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Business</th>
          <th>Business</th>
          <th>Category</th>
          <th>Location</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @suggestions.reorder(:user_id).each do |suggestion| %>
          <tr>
            <td><%= suggestion.user.try(:name) %></td>
            <td><%= suggestion.business.try(:name) %></td>
            <td><%= suggestion.created_at.strftime("%b %d, %Y") %></td>
            <td><%= suggestion.category %></td>
            <td><%= suggestion.location %></td>
            <td><%= suggestion.body %></td>
            <td><%= link_to 'Show', suggestion %></td>
            <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
            <td><%= link_to 'Destroy', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Suggestion', new_suggestion_path %>
  </div>
</div>
