<div class="bg-container">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Suggestions #<%= @suggestion.id %></h1>

    <p>
      <strong>User:</strong>
      <%= @suggestion.user.try(:name) %>
    </p>

    <p>
      <strong>Business:</strong>
      <%= @suggestion.business.try(:name) %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @suggestion.category %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @suggestion.location %>
    </p>

    <p>
      <strong>Body:</strong>
      <div class="well">
        <%= @suggestion.body %>
      </div>
    </p>

    <%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
    <%= link_to 'Back', suggestions_path %>
  </div>
</div>
