<div class="fit-container" style="background-color: white">
  <div class="fit-row" style="height: 100%;">
    <div class="col-lg-1 col-md-2 no-float none col-admin-navi">
      <div class="navi-cover">

        <div style="width: 100%; text-align: center; margin-bottom: 35px;">
          <%= link_to edit_business_path(@business), class: "btn btn-default", title: "Edit" do %>

            <% if @business.avatar.url %>
              <%= image_tag @business.avatar.url, class: "dash-avatar" %>
            <% else %>
              <%= image_tag "undefined-avatar.png", class: "dash-avatar" %>
            <% end %>
          <% end %>
        </div>
  			<nav class="nav admin-nav">


          <% path = Rails.application.routes.recognize_path(request.env['PATH_INFO'] ) %>
          <% path_controller_action = path[:controller] + "/" + path[:action] %>

          <li class="admin-li">
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "businesses/dashboard") %>
            <%= link_to business_dashboard_path(:id => @business.slug), class: class_array.join(" ") do %>
              <span class="glyphicon glyphicon-stats glyph-admin-nav"></span> Dashboard
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "invoices/index") %>
            <%= link_to business_invoices_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="fas fa-file-alt glyph-admin-nav fa-fw" aria-hidden="true"></i> Invoices
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "users/index") %>
            <%= link_to business_users_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="fa fa-users glyph-admin-nav fa-fw" aria-hidden="true"></i> Clients

              <% if (pending_users = @business.pending_users).any? %>
                <span class="badge nav-badge"><%= pending_users.count %></span>
              <% end %>

            <% end %>
          </li>

          <hr>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "memberships/index") %>
            <%= link_to business_memberships_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="fa fa-ship glyph-admin-nav fa-fw" aria-hidden="true"></i> Memberships
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "items/index") %>
            <%= link_to business_items_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <span class="fas fa-shopping-cart fa-fw glyph-admin-nav"></span> Items
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "workout_sessions/index") %>
            <%= link_to business_workout_sessions_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="fa fa-history glyph-admin-nav fa-fw" aria-hidden="true"></i> History
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "payments/index") %>
            <%= link_to business_payments_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="far fa-money-bill-alt glyph-admin-nav fa-fw" aria-hidden="true"></i> Payments
            <% end %>
          </li>

          <li>
            <% class_array = ["nav-dashbar-side"] %>
            <% class_array << "nav-active" if active_path?(path_controller_action, "taxes/index") %>
            <%= link_to business_taxes_path(:business_id => @business.slug), class: class_array.join(" ") do %>
              <i class="fa fa-university glyph-admin-nav fa-fw" aria-hidden="true"></i> Taxes
            <% end %>
          </li>

  			</ul>
      </div>
    </div>

    <div class="col-lg-11 col-md-10 no-float col-admin-view">
			<%= yield %>
		</div>
  </div>
</div>
