<div class="push"></div>
<footer class="footer" style="background-color:#272d4e;">
	<div class="container" style="background-color:#272d4e; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24); margin-bottom:0px; border: 0px solid red;border-radius: 0 !important;>
  <small>
    <a href="/schedule">F!Trackular</a> is an app by <a id="app_author" href="https://twitter.com/dtavaszi">Daniel Tavaszi</a>
  </small>
  <nav>
		<% if logged_in? %>
    <ul class="nav nav-stacked">
      <li class="footer-li"><%= link_to "AJCore Fitness", url_for("http://www.ajcorefitness.com") %></li>
    </ul>
		<% end %>
  </nav>
	</div>
</footer>
