<% if logged_in? %>
  <nav class="navbar navbar-default header">
    <% if @business %>
  		<%= link_to businesses_calendar_path(id: @business.slug), class: "logo" do %> <%# test %>
  				<span id="logo">F!T<span class="none-sm">RACK</span></span>
  				<span id="logo2"><span class="none-sm">ULAR.</span></span>
          <% if @business && @business.id %>
  				    <span id="business-logo"><%= @business.name %></span>
          <% end %>
  		<% end %>
      <% else %>
        <%= link_to businesses_path, class: "logo" do %> <%# test %>
            <span id="logo">F!T<span class="none-sm">RACK</span></span>
            <span id="logo2"><span class="none-sm">ULAR.</span></span>
            <% if @business && @business.id %>
                <span id="business-logo"><%= @business.name %></span>
            <% end %>
        <% end %>
      <% end %>

    <% if logged_in? %>
    <div class="navbar-header navbar-right" style="margin-top: 8px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar" style="padding-right: 0;">
        <ul class="nav navbar-nav navbar-right" style="font-size: .85em;">
          <% if @business && @business.id %>

            <li>
              <button type="button" class="btn-lg headertext" data-toggle="modal" data-target="#suggestions-view">
                Feedback
                <i class="fas fa-star" aria-hidden="true" style="color: lightgoldenrodyellow;"></i>
              </button>
            </li>

				     <% if @business.view_as_employee?(current_user) %>
             <li class="dropdown">
               <%= link_to business_dashboard_path(:id => @business.slug), class:"dropdown-toggle headertext", 'data-toggle' => "dropdown" do %>
                 <i class="far fa-bell" id="notification-bell"></i>
               <% end %>

               <div class="dropdown-menu" style="padding: 5px;">
                 <%= render 'notifications/notifications' %>
               </div>
             </li>

              <li class="dropdown">
                <%= link_to business_dashboard_path(:id => @business.slug), class:"dropdown-toggle headertext", 'data-toggle' => "dropdown" do %>
                  <span class="glyphicon glyphicon-th"></span>
                <% end %>

                <div class="dropdown-menu" style="padding: 5px;">
                	<div style="display: flex;">
                  	<div class="drop-item rebeccapurple">
                       <%= link_to business_dashboard_path(:id => @business.slug), class: "item-dash" do %>
                          <span class="glyphicon glyphicon-stats"></span> </br>
                          Dashboard
                        <% end %>
                    </div>

                    <div class="drop-item cadetblue">
                      <%= link_to business_invoices_path(:business_id => @business.slug), class: "item-dash" do %>
                        <span class="fas fa-file-alt" aria-hidden="true"></span> </br>
                        Invoices
                      <% end %>
                    </div>

                    <div class="drop-item coral">
                      <%= link_to business_users_path(:business_id => @business.slug), class: "item-dash" do %>
                            <i class="fa fa-users" aria-hidden="true"></i> </br>
                            Clients
                            <% if (pending_users = @business.pending_users).any? %>
                              <span class="badge nav-badge"><%= pending_users.count %></span>
                            <% end %>
                      <% end %>
                    </div>
                  </div>

                	<div style="display: flex;">
                  	 <div class="drop-item cornflowerblue">
                       <%= link_to business_memberships_path(:business_id => @business.slug), class: "item-dash" do %>
                         <i class="fa fa-ship" aria-hidden="true"></i> </br>
                         <div>Memberships</div>
                       <% end %>
                      </div>

                      <div class="drop-item yellowgreen">
                        <%= link_to business_items_path(:business_id => @business.slug), class: "item-dash" do %>
                          <span class="glyphicon glyphicon-shopping-cart"></span> </br>
                          Items
                        <% end %>
                      </div>

                      <div class="drop-item tomato">
                        <%= link_to business_workout_sessions_path(:business_id => @business.slug), class: "item-dash" do %>
                          <i class="fa fa-history" aria-hidden="true"></i> </br>
                          History
                        <% end %>
                      </div>
                  </div>

                	<div style="display: flex;">
                  	 <div class="drop-item plum">
                       <%= link_to business_payments_path(:business_id => @business.slug), class: "item-dash" do %>
                         <i class="far fa-money-bill-alt" aria-hidden="true"></i> </br>
                         Payments
                       <% end %>
                      </div>

                      <div class="drop-item sienna">
                        <%= link_to business_taxes_path(:business_id => @business.slug), class: "item-dash" do %>
                          <i class="fa fa-university" aria-hidden="true"></i> </br>
                          Taxes
                        <% end %>
                      </div>

                      <div class="drop-item silver">
                        <%= link_to businesses_path, class: "item-dash" do %>
                          <i class="fa fa-home" aria-hidden="true" style="font-size: 1.4em; "></i> </br>
                          Businesses
                        <% end %>
                      </div>
                  </div>
                </div>
              </li>
						<% end %>
          <% end %>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle user_dropdown" data-toggle="dropdown">
              <small> <%= current_user.shortname %> </small>
              <span class="caret"></span>
							<%= gravatar_for current_user, {size: 30, class: "gravatar_logo"} %>
						</a>
						<ul class="dropdown-menu" style="margin-right: 15px;">
							<li><% link_to "PROFILE", current_user, id: "headertext2"  %></li>
              <% if @business %>
							       <li><%= link_to "SETTINGS", business_settings_path(@business.slug), id: "headertext2"  %></li>
              <% else %>
                <li><%= link_to "SETTINGS", settings_path, id: "headertext2"  %></li>
              <% end %>
							<% if @business && @business.view_as_employee?(current_user) %>
								<li><%= link_to "RESYNC GOOGLE", users_resync_google_path(:id => current_user.id), method: :patch, id: "headertext2" %></li>
							<% end %>
							<li class="divider", id: "headertext2" ></li>
							<li class="alert-danger">
								<%= link_to logout_path, method: "delete", id: "headertext2" do %>
									<i class="fas fa-sign-out-alt" aria-hidden="true" style="color: red;"></i> LOG OUT
								<% end %>
							</li>
						</ul>
					</li>
        </ul>
      </div>
    <% end %>
  </nav>

    <% path = path = Rails.application.routes.recognize_path(request.env['PATH_INFO'] ) %>

    <% if %w(businesses/show).include?(path[:controller] + "/" + path[:action]) %>
      <div class="alert alert-sm navbar-right next-session-alert" id="print">
        <%= next_session_alert %>
      </div>

      <% if logged_in? && @business && (subscription = current_user.get_subscription(@business)) %>
        </br>
        <div class="alert alert-sm navbar-right gdrive-alert">
          <%= link_to "View Workouts", subscription.gdrive_url, class: "a-new-workouts" %>
          <%= ("- Last Updated at " + subscription.gdrive_updated_at.strftime("%l:%M%P - %b %-d")) if subscription.gdrive_updated_at %>
        </div>
      <% end %>
    <% end %>
<% end %>
