<table style="margin: 0 auto; width: 640px; padding-top: 75px">
  <tr>
    <td style="padding: 20px; text-align: center; font-size: 24px; color: darkgray;">
      <%= title %> <b> <%= @user.shortname %> </b>
    </td>
  </tr>
</table>
