<!DOCTYPE html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Roboto', :media => "all" %>
    <%= stylesheet_link_tag "application", 'https://use.fontawesome.com/releases/v5.0.2/css/all.css', :media => "all" %>
  </head>
  <body>
		<title><%= full_title(yield(:title)) %></title>

      <%= render 'layouts/header' %>
  		<div class="container-fluid">
        <% top = 70 %>
  			<% flash.each do |message_type, message| %>
  				<div class="alert alert-<%= message_type %> floating-alert alert-dismissable" style="top: <%= top %>px; position: absolute; padding: 2px !important; text-align:left; margin-bottom: 2px; border-width: 2px; z-index: 1;">
            <a href="#" class="close" style="position: initial; padding-left: 5px;" data-dismiss="alert" aria-label="close">&times;</a>
            <%= raw message %>
          </div>
          <% top += 30 %>
        <% end %>
  		</div>

      <% path = Rails.application.routes.recognize_path(request.env['PATH_INFO'] ) %>
      <% allowed_paths = %w(businesses/dashboard businesses/edit taxes/edit memberships/edit items/edit invoices/index invoices/edit invoices/show invoices/new payments/index taxes/index memberships/index workout_sessions/index items/index users/index users/settings) %>
      <% if logged_in? && @business && @business.view_as_employee?(current_user) && request_path_includes(allowed_paths) &&  %>
        <%= render :layout => 'layouts/admin' do %>
          <%= yield %>
        <% end %>
      <% else %>

        <%= yield %>
      <% end %>

      <% if @business %>
        <%= render 'suggestions/suggestion'%>
      <% end %>

      <% render 'layouts/footer' %>
      <%# debug(params) if Rails.env.development? %>
  </body>
</html>
