<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body { font-family: Arial; background: #f7f7f7; }
    </style>
  </head>

  <body>
      <%= yield %>

      <table style="margin: 0 auto; width: 640px;">
        <tr>
          <td style="padding: 20px; text-align: center; font-size: 24px; opacity: .9;">
            <% url = @business ? businesses_calendar_url(@business.slug) : root_url %>
            <%= link_to url, style: "text-decoration: none;" do %>
              <span style="color: #FFA07A">F!Track</span><span style="color: #555;">ular.</span>
            <% end %>
          </td>
        </tr>
      </table>

  </body>
</html>
